.loadingText {
	width: 100%;
	height: 1rem;
	background: #e2e2e2;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
}

.loadingHeader {
	height: 2rem;
}


.detailList mark, em {
	background: yellow;
}

.detailContainer {
	margin-left: 1rem;
}

.detailLabel {
	text-transform: capitalize;
}
