*~
*.pyc
*.DS_Store
*.egg-info
.sass-cache/
.installed.cfg
.mr.developer.cfg
npm-debug.log
develop-eggs
eggs
parts
bin
gbi
src/sgd/SGDFrontend.egg-info
src/sgd/frontend/yeastgenome/static/img/yetfasco
src/sgd/frontend/yeastgenome/static/img/sort_*.png
src/sgd/frontend/yeastgenome/static/css/normalize.css
src/sgd/frontend/yeastgenome/static/css/style.css
src/sgd/frontend/yeastgenome/static/js/application.js
src/sgd/frontend/yeastgenome/static/fonts/
src/sgd/frontend/config.py
bower_components/
node_modules/
client/lib/sgd_visualization/node_modules/
client/lib/sgd_visualization/.git
dev_deploy_variables.sh
prod_deploy_variables.sh
asset_version.json
.idea/
settings.json
launch.json
.vscode

