*.pyc
*.DS_Store
*.egg-info
.sass-cache/
.installed.cfg
.mr.developer.cfg
develop-eggs
eggs
parts
bin
src/sgd/SGDFrontend.egg-info
src/sgd/frontend/config.py
src/sgd/frontend/yeastgenome/static/img/yetfasco
src/sgd/frontend/yeastgenome/static/css/normalize.css
src/sgd/frontend/yeastgenome/static/css/style.css


