*.pyc
*.DS_Store
*.egg-info
.sass-cache/
src/sgd/frontend/yeastgenome/static/css/normalize.css
src/sgd/frontend/yeastgenome/static/css/style.css
develop-eggs
eggs
parts
src/sgd/SGDFrontend.egg-info
bin
.installed.cfg
.mr.developer.cfg
src/sgd/frontend/yeastgenome/static/img/yetfasco
src/sgd/frontend/config.py