[buildout]
extensions =
    mr.developer
include-site-packages = false
allow-hosts = *.python.org
show-picked-versions = true
parts =
    sgdfrontend
    test
    sgdfrontend_wsgiapp
develop = .


[sources]
behave = git https://github.com/behave/behave.git
behaving = git https://github.com/ggozad/behaving.git
# See: https://github.com/Pylons/pyramid/pull/1004
pyramid = git https://github.com/lrowe/pyramid.git
pyramid_multiauth = git https://github.com/mozilla-services/pyramid_multiauth.git
webtest = git https://github.com/Pylons/webtest.git

[versions]
# Hand set versions
pyramid = 1.5
waitress = 0.8.10
setuptools= 12.1

[sgdfrontend]
recipe = zc.recipe.egg
eggs =
    sgdfrontend
    pyramid
    waitress
interpreter = py

[test]
recipe = zc.recipe.egg
eggs =
    sgdfrontend[test]
    nose
scripts =
    py.test=test

[sgdfrontend_wsgiapp]
recipe = collective.recipe.modwsgi
eggs =
    sgdfrontend
    pyramid
    waitress
config-file = ${buildout:directory}/sgdfrontend_production.ini