<!-- Alias
================================================== -->

        <div>
            <div class="button-bar">
                <ul class="button-group radius">
                    <li><a id="alias_table_download" class="small button secondary"><i class="icon-download-alt"></i> Download</a></li>
                </ul>
            </div>

            <table class="table table-striped table-bordered table-condensed" id="alias_table" width="100%">
                <thead>
                    <tr>
                        <th hidden>Alias ID</th>
                        <th>External ID</th>
                        <th>Source</th>
                    </tr>
                </thead>
            </table>
        </div>
