<!DOCTYPE html>
<title>Analyze</title>

{% extends "templates/global_layout.jinja2" %}

{% block body %}

<div id="center_title" class="row">
	<h2>Analyze <span class="gene_name">{{bioent_display_name}}/{{bioent_format_name}}</span> {{list_type}}</h2>
</div>


<!-- Docs nav
================================================== -->
<div class="row-fluid">
	<div id="sidebar" class="small-0 large-3 columns">
		<ul data-magellan-expedition="fixed" class="side-nav" id="side-nav-sticky">
			<li id="nav-title"><h5>Analyze <a href="{{bioent_link}}">{{bioent_display_name}}/{{bioent_format_name}}</a> {{list_type}}</h5></li>
			<li data-magellan-arrival="analyze"><a href="#analyze">Tools</a></li>
          	<li data-magellan-arrival="gene_list"><a href="#gene_list">Genes</a></li>
          	<li data-magellan-arrival="enrichment"><a href="#enrichment">GO Process Enrichment</a></li>
		</ul>
	</div>
	
	<div class="small-12 large-9 columns"> 

<!-- Analyze
================================================== -->
<section id="analyze" data-magellan-destination="analyze">
	<div class="page-header">
		<h1>Tools</h1>
		
		<ul class="giant button-group radius even-4 secondary">
  			<li class="span3">
  				<a id="go_term_finder" class="large button expand">
    				<div class="caption">
      					<h3>GO Term Finder</h3>
      					<h4 class="subheader">Find common features between genes.</h4>
    				</div>
    			</a>
  			</li>
  			
  			<li class="span3">
  				<a id="go_slim_mapper" class="large button expand">
    				<div class="caption">
      					<h3>GO Slim Mapper</h3>
      					<h4 class="subheader">Sort genes into broad categories.</h4>
    				</div>
    			</a>
  			</li>
  			
  			<li class="span3">
  				<a id="spell" class="large button expand">
    				<div class="caption">
      					<h3>SPELL</h3>
      					<h4 class="subheader">View expression data.</h4>
    				</div>
    			</a>
  			</li>
  			
  			<li class="span3">
  				<a id="yeastmine" class="large button expand">
    				<div class="caption">
      					<h3>YeastMine</h3>
      					<h4 class="subheader">Conduct advanced analysis.</h4>
    				</div>
    			</a>
  			</li>
		</ul>
	</div>
</section>

<!-- Gene List
================================================== -->
<section id="gene_list" data-magellan-destination="gene_list">
	<div class="page-header">
		<h1>Genes  <span id="gene_list_header" class="round secondary label"></span></h1>
		
		<div class="row">
			<div class="button-bar">
				<a id="export" class="small button secondary"><i class='icon-download-alt'></i> Download</a>
			</div>
		</div>
		
		<table class='table table-striped table-bordered table-condensed' id='gene_list_table' width="100%">
			<thead>
  				<tr>
  					<th>Gene Systematic Name</th>
  					<th>Gene Name</th>
  					<th>Description</th>
  				</tr>
  			</thead>
		</table>
	</div>
</section>

<!-- Enrichment
================================================== -->
<section id="enrichment" data-magellan-destination="enrichment">
	<div class="page-header">
		<h1>GO Process Enrichment <span id="enrichment_header" class="round secondary label"></span></h1>
		<div>
			<div class="button-bar">
				<ul class="button-group radius">
					<li><a id="enrichment_table_download" class="small button secondary"><i class='icon-download-alt'></i> Download</a></li>
				</ul>	
				<ul class="button-group radius">
					<li style="display:none" id="filter_message"><a id="enrichment_recalc" class="small button secondary">Recalculate With New Filter</a></li>
				</ul>			
			</div>

			
			<table class='table table-striped table-bordered table-condensed' id='enrichment_table' width="100%">
			<thead>
  			<tr>
  				<th>GO Term</th>
  				<th>Number of genes</th>
  				<th>P-Value</th>
  			</tr>
  			</thead>
			</table>
        </div>
   </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>

{% endblock body %}

{% block scripts %}
<script src="/static/js/analyze.js"></script>
<script>
	//Links and filenames from template
	var download_link = "{{download_table_link}}";
	var bioent_display_name = "{{bioent_display_name}}";
	var download_table_filename = bioent_display_name + "_{{list_type}}";
	var enrichment_table_filename = bioent_display_name + "_{{list_type}}_go_enrichment"
	var go_enrichment_link = "{{go_enrichment_link}}"
	var bioents = {{bioents | safe}};
	var bioentity_list_link = "{{bioentity_list_link}}"
	
	$(document).ready(function() {
		//Set up gene table
		var table_id = "gene_list_table";
		var download_button_id = "export";
		var header_id = "gene_list_header";
		var filter_message_id = "filter_message";
		set_up_gene_table(table_id, header_id, filter_message_id, download_button_id, download_link, download_table_filename, bioents)
		
		//Set up go enrichment
		var bioent_ids = [];
		for (var i=0; i < bioents.length; i++) {
			bioent_ids.push(bioents[i]['id']);
		}
		
		var enrich_header_id = "enrichment_header";
		var enrich_table_id = "enrichment_table";
		var enrich_download_button_id = "enrichment_table_download";
		var enrich_recalc_button_id = "enrichment_recalc";
		go_enrichment(go_enrichment_link, table, format_name_to_id, 0, enrich_header_id, enrich_table_id, enrich_recalc_button_id,
			enrich_download_button_id, download_link, enrichment_table_filename);
		
		//Set up tools
		var go_term_finder_id = "go_term_finder";
		var go_slim_mapper_id = "go_slim_mapper";
		var spell_id = "spell";
		var yeastmine_id = "yeastmine";
		set_up_tools(go_term_finder_id, go_slim_mapper_id, spell_id, yeastmine_id);
		
  	});
</script>


{% endblock scripts %}

