<!DOCTYPE html>
<title>Analyze</title>

{% extends "templates/global_layout.jinja2" %}

{% block body %}

<div id="center_title" class="row">
	<h2>Analyze <span class="gene_name">{{bioent_display_name}}/{{bioent_format_name}}</span> {{list_type}}</h2>
</div>


<!-- Docs nav
================================================== -->
<div class="row-fluid">
	<div id='sidebar' class="small-3 columns">
		<ul data-magellan-expedition="fixed" class="side-nav" id="side-nav-sticky">
			<li id="nav-title"><h5>Analyze <a href="{{bioent_link}}">{{bioent_display_name}}/{{bioent_format_name}}</a> {{list_type}}</h5></li>
			<li data-magellan-arrival="analyze"><a href="#analyze">Tools</a></li>
          	<li data-magellan-arrival="gene_list"><a href="#gene_list">Genes</a></li>
		</ul>
	</div>
	
	<div class="small-9 columns"> 

<!-- Analyze
================================================== -->
<section id="analyze" data-magellan-destination="analyze">
	<div class="page-header">
		<h1>Tools</h1>
		
		<ul class="giant button-group radius even-4 secondary">
  			<li class="span3">
  				<a id="go_term_finder" class="large button expand">
    				<div class="caption">
      					<h3>GO Term Finder</h3>
      					<h4 class="subheader">Find common features between genes.</h4>
    				</div>
    			</a>
  			</li>
  			
  			<li class="span3">
  				<a id="go_slim_mapper" class="large button expand">
    				<div class="caption">
      					<h3>GO Slim Mapper</h3>
      					<h4 class="subheader">Sort genes into broad categories.</h4>
    				</div>
    			</a>
  			</li>
  			
  			<li class="span3">
  				<a id="spell" class="large button expand">
    				<div class="caption">
      					<h3>SPELL</h3>
      					<h4 class="subheader">View expression data.</h4>
    				</div>
    			</a>
  			</li>
  			
  			<li class="span3">
  				<a id="yeastmine" class="large button expand">
    				<div class="caption">
      					<h3>YeastMine</h3>
      					<h4 class="subheader">Conduct advanced analysis.</h4>
    				</div>
    			</a>
  			</li>
		</ul>
	</div>
</section>

<!-- Gene List
================================================== -->
<section id="gene_list" data-magellan-destination="gene_list">
	<div class="page-header">
		<h1>Genes <span id='gene_list_header'>({{bioents|length}})</span></h1>
		
		<div class="row">
			<div class="button-bar">
				<ul class="button-group radius">
					<li><a class="small button secondary">Download</a></li>
				</ul>
			</div>
		</div>
		
		<table class='table table-striped table-bordered table-condensed' id='gene_list_table' width="100%">
			<thead>
  				<tr>
  					<th>Gene Name</th>
  					<th>Description</th>
  				</tr>
  			</thead>
  			{% for bioent in bioents %}
  				<tr>
    				<td><a href="{{link}}">{{bioent['display_name']}}</a></td>
    				<td>{{bioent['description']}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>

{% endblock body %}

{% block scripts %}
<script>
	function set_up_gene_table() {		
		var options = {};
		options["bPaginate"] = false;
		options["aaSorting"] = [[0, "asc"]];
		options["aoColumns"] = [null, null];
        $('#gene_list_table').dataTable(options);
	}
	
	function set_up_tools() {
		document.getElementById("go_term_finder").onclick = function f() {
			post_to_url("http://yeastgenome.org/cgi-bin/GO/goTermFinder.pl", {"loci": "{{bioent_ids}}"});
		};
		document.getElementById("go_slim_mapper").onclick = function f() {
			post_to_url("http://yeastgenome.org/cgi-bin/GO/goSlimMapper.pl", {"loci": "{{bioent_ids}}"});
		};
		document.getElementById("spell").onclick = function f() {
			post_to_url("http://spell.yeastgenome.org/search/show_results", {"search_string": "{{bioent_ids}}"});
		};
		document.getElementById("yeastmine").onclick = function f() {
			post_to_yeastmine("{{bioent_ids}}".split(' '));
		};
	}
	
	$(document).ready(function() {
		//Set up gene table
		set_up_gene_table();
		set_up_tools();
		
  	});
</script>


{% endblock scripts %}

