<!DOCTYPE html>

<script>
	var chemical_details_link = "{{chemical_details_link}}";
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

	var download_filename = "{{ chemical.display_name }}_annotations";
    var analyze_filename = "<a href='{{ chemical.link }}' class='gene_name'>{{ chemical.display_name }}</a> Genes";
</script>

<title>{{ chemical.display_name }} Chemical</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ chemical.display_name }}</span> Chemical</h2>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
<!-- Includes navbar.html into template -->
{% include "templates/navbar.jinja2" %}

<div class="small-12 large-9 columns content-column">

<script>
    add_navbar_title('<span class="gene_name">{{ chemical.display_name }}</span><br>Chemical')
    add_navbar_element('Summary', 'summary');
    add_navbar_element('Annotations', 'annotations');
</script>

<!-- Summary
================================================== -->	
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Summary</h1>
	</div>
</section>

<!-- Annotations
================================================== -->
<!-- Includes phenotype_table into template -->
{% include "templates/phenotype_table.jinja2" %}

</div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/chemical.js"></script>
{% endblock scripts %}
