<!-- Domains
================================================== -->

        <div>
            <div class="button-bar">
                <ul class="button-group radius">
                    <li><a id="domains_table_download" class="small button secondary"><i class="icon-download-alt"></i> Download</a></li>
                </ul>
                <ul class="button-group radius">
                    <li><a disabled="true" id="domains_table_analyze" class="small button secondary" hidden><i class="icon-briefcase"></i> Analyze</a></li>
                </ul>
            </div>


            <table class="table table-striped table-bordered table-condensed" id="domains_table" width="100%">
                <thead>
                    <tr>
                        <th hidden>Evidence ID</th>
                        <th hidden>Analyze ID</th>
                        <th>Gene</th>
                        <th hidden>Gene Systematic Name</th>
                        <th>Protein Coordinates</th>
                        <th>Accession ID</th>
                        <th>Description</th>
                        <th>Source</th>
                    </tr>
                </thead>
            </table>
        </div>
