<!DOCTYPE html>

<script>
	var domain_details_link = "{{domain_details_link}}";
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

	var download_filename = "{{ domain.display_name }}_annotations";
    var analyze_filename = "<a href='{{ domain.link }}' class='gene_name'>{{ domain.display_name }}</a> Genes";

    var display_name = "{{ domain.display_name }}";
</script>

<title>{{ domain.display_name }}</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2>Domain: <span class="gene_name">{{ domain.display_name }}</span></h2>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
<!-- Includes navbar.html into template -->
    {% include "templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('Domain: <span class="gene_name">{{ domain.display_name }}</span>')
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Annotations', 'domains');
        </script>

        <!-- Summary
        ================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Summary</h1>
                <ul class="unstyled">
                    <li><strong>Accession ID: </strong><a href="{{ domain.link }}">{{ domain.display_name }}</a></li>
                    <li><strong>Description: </strong>{{ domain.description }}</li>
                </ul>
            </div>
        </section>

        <!-- Annotations
        ================================================== -->
        <section id="domains" data-magellan-destination="domains">
            <div class="page-header">
                <h1>Annotations
                    <span class="round secondary label">
                        <span id="domains_header"></span>
                        <small id="domains_header_type"></small>
                        <span id="domains_subheader"></span>
                        <small id="domains_subheader_type"></small>
                    </span>
                </h1>
                <!-- Includes domain_table into template -->
                {% include "templates/domain_table.jinja2" %}

            </div>
        </section>

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/domain.js"></script>
{% endblock scripts %}
