<footer id="layout-document-footer" class="page-footer">
	<div class="row">
		<div class="small-2 columns">
			<a href="http://www.stanford.edu"><img src="../static/img/footer-stanford-logo.png" id="stanford-logo"></a>
		</div>
		<div class="small-7 columns">
			<ul id="footer-links">
				<li><a href="http://www.yeastgenome.org">SGD Home</a></li>
				<li><a href="http://www.yeastgenome.org/about"><span>About</span></a></li>
				<li><a href="http://www.yeastgenome.org/blog"><span>Blog</span></a></li>
				<li><a href="http://www.yeastgenome.org/site-map"><span>Site Map</span></a></li>
				<li><a href="http://www.yeastgenome.org/help"><span>Help</span></a></li>
				<li><a href="http://www.stanford.edu/site/terms.html"><span>Terms of Use</span></a></li>
			</ul>
			<div id="copyright">&copy; Stanford University, Stanford, CA 94305.</div>
		</div>
		<div class="small-3 columns" id="">
			<ul class="logo-list">
				<li><a href="http://genetics.stanford.edu">
					<img src="../static/img/stanford-genetics-logo-sm.png" id="genetics-logo">
				</a></li>
				<li><a href="http://med.stanford.edu">
					<img src="../static/img/stanford-som-logo-sm.png" id="som-logo">
				</a></li>
			</ul>
		</div>
	</div>
</footer>