<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<meta name="keywords" content="python web application" />
	<meta name="description" content="pyramid web application" />
	<meta name="author" content="">
	<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
    </style>
	<![endif]-->
    <style type="text/css">
        .locale { text-align: center; }
        .locale-name { font-weight: bold; }
    </style>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="normalize.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">

	
	<!--[if lt IE 9]>
	<script src="../static/js/vendor/respond.min.js"></script>
	<![endif]-->
	
	<script src="vendor/custom.modernizr.js"></script>
	<script src="jquery-1.9.1.js"></script>
	<script src="jquery.dataTables.js"></script>
	<script src="datatable.js"></script>
	<script src="TableTools.js"></script>
	<script src="ZeroClipboard.js"></script>
	<script src="local.js"></script>
	<script src="kinetic-v4.3.3.min.js"></script>
	<script src="seqVis.js"></script>
	<script src="venn.js"></script>
	
</head>
<body>
	<!-- Includes header.html into template -->
	{% include "templates/header.jinja2" %}

	<div class="container" id="layout-document">
    	{% block body %}{% endblock %}
    </div>
    
    <div id="layout-document-footer-pusher"><!-- keep empty --></div>
    
	<!-- Includes footer.html into template -->
	{% include "templates/footer.jinja2" %}
</body>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="cytoscapeweb.min.js"></script>	
<script src="foundation/foundation.js"></script>
<script src="foundation/foundation.topbar.js"></script>
<script src="foundation/foundation.magellan.js"></script>


<script>
  $(document).foundation();
  
  $(".side-nav").foundation("magellan", {threshold: 50});

	$(document).ready(function(){          // does the following only after DOM completely loads
		if (window.location.hash) {         // if the url contains an anchor
			var anchor = window.location.hash;
			window.location.hash = anchor;
		}
	});
</script>
</html>
