<!DOCTYPE html>

<script>
	//Template links and filenames
	var go_details_link = "{{go_details_link}}";
	var go_details_all_link = "{{go_details_all_link}}";
	var ontology_graph_link = "{{ontology_graph_link}}";

	var download_table_link = "{{download_table_link}}";
    var analyze_link = "{{analyze_table_link}}";

	var download_filename = "{{ go_term.display_name }}_annotations";
    var analyze_filename = "<a href='{{ go_term.link }}' class='gene_name'>{{ go_term.display_name }}</a> genes";

    var display_name = "{{ go_term.display_name }}";
</script>

<title>{{ go_term.display_name }} Gene Ontology Term</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ go_term.display_name }}</span> Gene Ontology Term</h2>
</div>

<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('<span class="gene_name">{{ go_term.display_name }}</span><br>Gene Ontology Term')
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Ontology', 'ontology');
            add_navbar_element('Annotations', 'annotations');
        </script>

<!-- Summary
================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Summary</h1>
                <p>{{ go_term.description }}</p>
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="ontology" data-magellan-destination="ontology">
            <div class="page-header">
                <h1>Ontology</h1>
                <div class="panel">
                    <div id="cy" name="cy" style="width:100%;height:700px"></div>
                </div>
            </div>
        </section>

<!-- Annotations
================================================== -->
        <!-- Includes go_table into template -->
        {% set table_name = "Gene Ontology Annotations" %}
        {% set table_type = "all" %}
        {% include "templates/go_table.jinja2" %}

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/cytoscape/cytoscape.min.js"></script>	
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/go.js"></script>

{% endblock scripts %}
