<!DOCTYPE html>

<script>
	var go_overview_link = "{{go_overview_link}}";
	var go_details_link = "{{go_details_link}}";
	var go_graph_link = "{{go_graph_link}}";
	var download_table_link = "{{download_table_link}}";

	var mc_bp_download_table_filename = "{{ locus.display_name }}_manual_bp_go";
	var mc_mf_download_table_filename = "{{ locus.display_name }}_manual_mf_go";
	var mc_cc_download_table_filename = "{{ locus.display_name }}_manual_cc_go";
    var htp_bp_download_table_filename = "{{ locus.display_name }}_htp_bp_go";
	var htp_mf_download_table_filename = "{{ locus.display_name }}_htp_mf_go";
	var htp_cc_download_table_filename = "{{ locus.display_name }}_htp_cc_go";
    var comp_bp_download_table_filename = "{{ locus.display_name }}_computational_bp_go";
	var comp_mf_download_table_filename = "{{ locus.display_name }}_computational_mf_go";
	var comp_cc_download_table_filename = "{{ locus.display_name }}_computational_cc_go";

	var display_name = "{{ locus.display_name }}";
</script>

<title>{{ locus.display_name }} Gene Ontology</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ locus.display_name }}/{{ locus.format_name }}</span> Gene Ontology Annotations  <a href="/help/GO.html" name="top" class="help"><img src="/images/icon_help_circle_dark.png" alt="Help"></a></h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "templates/tabs.jinja2" %}
<script>document.getElementById("go_tab").id = "current";</script>

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('<a href="{{ locus.link }}">{{ locus.display_name }}/{{ locus.format_name }}</a> Gene Ontology Terms');
            add_navbar_element("Summary", "summary");
            add_navbar_element("Manually Curated", "manual");
            add_navbar_element("High-throughput", "htp");
            add_navbar_element("Computational", "comp");
            add_navbar_element("Network Visualization", "network");
        </script>

        <!-- Includes go_overview.html into template -->
        {% include "templates/go_overview.jinja2" %}

<!-- Manually Curated
================================================== -->
        <section id="manual" data-magellan-destination="manual">
            <div class="page-header">
                <h1>Manually Curated
                    <a href="#" data-dropdown="drop_manual"><i class="icon-info-sign"></i></a>
                    <div id="drop_manual" class="f-dropdown content medium" data-dropdown-content>
                        <p><a href="/help/glossary.html#manual">Manually curated</a> GO annotations reflect our best understanding of the basic <a href="/help/glossary.html#molecfunction">molecular function</a>, <a href="/help/glossary.html#biolprocess">biological process</a>, and <a href="/help/glossary.html#cellcomp">cellular component</a> for this gene product. Manually curated annotations are assigned by SGD curators based on published papers when available, or by curatorial statements if necessary. Curators periodically review all Manually curated GO annotations for accuracy and completeness. The "Date Last Reviewed" indicates when these annotations were last reviewed.</p>
                    </div>
                </h1>
                <p><strong>Date Last Reviewed:</strong> {{date_last_reviewed}}</p>

                <!-- Includes go_table into template -->
                {% set table_name = "Biological Process" %}
                {% set table_type = "mc_bp" %}
                {% set small = true %}
                {% include "templates/go_table.jinja2" %}

                <!-- Includes go_table into template -->
                {% set table_name = "Molecular Function" %}
                {% set table_type = "mc_mf" %}
                {% include "templates/go_table.jinja2" %}

                <!-- Includes go_table into template -->
                {% set table_name = "Cellular Component" %}
                {% set table_type = "mc_cc" %}
                {% include "templates/go_table.jinja2" %}

            </div>
        </section>

<!-- High-throughput
================================================== -->
        <section id="htp" data-magellan-destination="htp">
            <div class="page-header">
                <h1>High-throughput
                    <a href="#" data-dropdown="drop_htp"><i class="icon-info-sign"></i></a>
                    <div id="drop_htp" class="f-dropdown content medium" data-dropdown-content>
                        <p>GO annotations from <a href="/help/glossary.html#htp">High-throughput</a> experiments are made based on a variety of large scale high-throughput experiments, including genome-wide experiments. Many of these annotations are made based on GO annotations (or mappings to GO annotations) assigned by the authors, rather than SGD curators. While SGD curators read these publications and often work closely with authors to incorporate the information, each individual annotation may not necessarily be reviewed by a curator. GO Annotations from high-throughput experiments will be assigned only when this type of data is available, and thus may not be assigned in all three aspects of the Gene Ontologies.</p>
                    </div>
                </h1>

                <!-- Includes go_table into template -->
                {% set table_name = "Biological Process" %}
                {% set table_type = "htp_bp" %}
                {% include "templates/go_table.jinja2" %}

                <!-- Includes go_table into template -->
                {% set table_name = "Molecular Function" %}
                {% set table_type = "htp_mf" %}
                {% include "templates/go_table.jinja2" %}

                <!-- Includes go_table into template -->
                {% set table_name = "Cellular Component" %}
                {% set table_type = "htp_cc" %}
                {% include "templates/go_table.jinja2" %}

            </div>
        </section>

<!-- Computational
================================================== -->
        <section id="comp" data-magellan-destination="comp">
            <div class="page-header">
                <h1>Computational
                    <a href="#" data-dropdown="drop_comp"><i class="icon-info-sign"></i></a>
                    <div id="drop_comp" class="f-dropdown content medium" data-dropdown-content>
                        <p><a href="/help/glossary.html#computational">Computational</a> GO Annotations are predictions. These annotations are NOT reviewed by a curator. Currently, all computational GO annotations for <em>S. cerevisiae</em> are assigned by an external source (for example, the <a href="http://www.ebi.ac.uk/GOA">Gene Ontology Annotation (GOA)</a> project of the <a href="http://www.ebi.ac.uk/">European Bioinformatics Institute (EBI)</a>).</p>
                    </div>
                </h1>

                <!-- Includes go_table into template -->
                {% set table_name = "Biological Process" %}
                {% set table_type = "comp_bp" %}
                {% include "templates/go_table.jinja2" %}

                <!-- Includes go_table into template -->
                {% set table_name = "Molecular Function" %}
                {% set table_type = "comp_mf" %}
                {% include "templates/go_table.jinja2" %}

                <!-- Includes go_table into template -->
                {% set table_name = "Cellular Component" %}
                {% set table_type = "comp_cc" %}
                {% include "templates/go_table.jinja2" %}

            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h1>Network Visualization</h1>
                <p>* Visualization shows only biological process GO terms.</p>
                <div class="panel">
                    <div id="cy" name="cy" style="width:100%;height:700px"></div>
                    <h5>Filter Genes by # of Biological Process GO Terms Shared With {{ locus.display_name }}:</h5>
                    <div id="slider" class="noUiSlider" style="width:100%"></div>
                    <div id="slider_ticks"></div>
                    <br>
                </div>
            </div>
        </section>

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/jquery.nouislider.min.js"></script>
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/go_details.js"></script>
{% endblock scripts %}
