<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Summary</h1>
		<p>This page displays GO annotations in different sections according to the <a href='/help/glossary.html#type'>annotation method</a> used to add that annotation to SGD.</p>
		<p id='summary_message' style='display:none'>0 GO Terms curated.</p>

        {% if overview.go_slim|length  > 0 %}
            <li><strong>Primary Literature For:</strong>
                {% for slim in overview.go_slim %}
                    {% if loop.index < 11 %}<span><a href="{{ slim.link|e }}">{{ slim.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                {% endfor %}

                <a id="see_more_button" onclick="$('#see_more').show();$('#see_more_button').hide();$('#see_less_button').show();" {% if overview.go_slim|length <= 10 %}hidden{% endif %}>... See more >></a>
                <span id="see_more" hidden>
                    {% for slim in overview.go_slim %}
                        {% if loop.index >= 11 %}<span><a href="{{ slim.link|e }}">{{ slim.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                    {% endfor %}
                </span>
                <a id="see_less_button" onclick="$('#see_more').hide();$('#see_more_button').show();$('#see_less_button').hide();" hidden> << See less</a>
            </li>
        {% endif %}

		<ul class="button-group radius">
			<li><a id="go_download_all" class="small button secondary"><i class="icon-download-alt"></i> Download All Annotations</a></li>
		</ul>
	</div>
</section>