<!DOCTYPE html>

<title>{{display_name}}</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{display_name}}</span></h2>
</div>

<div class="row">
	
<!-- Includes navbar.html into template -->
{% include "templates/navbar.jinja2" %}

<div class="small-12 large-9 columns content-column"> 

<!-- Summary
================================================== -->	
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Summary</h1>
		<p>{{description}}</p>
	</div>
</section>

<!-- Network Visualization
================================================== -->
<section id="network" data-magellan-destination="network">
	<div class="page-header">
		<h1>Ontology</h1>
		<div class="panel">
			<div id="cy" style="width:100%;height:700px"></div>
		</div>
    </div>
</section>

</div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/cytoscape/cytoscape.min.js"></script>	
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/ypo_ontology.js"></script>


<script>
	//Set up navbar
	document.getElementById('navbar_title').innerHTML = '<span class="gene_name">{{display_name}}</span><br>';
	add_navbar_element('Ontology', 'network');

</script>

<script>
	//Template links and filenames
	var ontology_graph_link = "{{ontology_graph_link}}";

	//Graph style
	var graph_style = cytoscape.stylesheet()
	.selector('node')
	.css({
		'content': 'data(name)',
		'font-family': 'helvetica',
		'font-size': 14,
		'text-outline-width': 3,
		'text-valign': 'center',
		'width': 30,
		'height': 30,
		'border-color': '#fff',
		'background-color': "grey",
		'text-outline-color': '#fff',
		'color': '#888'
	})
	.selector('edge')
	.css({
		'width': 2,
		'target-arrow-shape': 'triangle'
	})
	.selector("node[sub_type='FOCUS']")
	.css({
		'width': 30,
		'height': 30,
		'background-color': "#fade71",
		'text-outline-color': '#fff',
		'color': '#888'
	})
	.selector("node[sub_type='molecular function']")
	.css(
		{'background-color': "#7FBF7B"
	})
	.selector("node[sub_type='biological process']")
	.css(
		{'background-color': "#AF8DC3"
	})
	.selector("node[sub_type='cellular component']")
	.css(
		{'background-color': "#1F78B4"
	});
	
	var layout = {
				"name": "arbor", 
				"liveUpdate": true,
				"ungrabifyWhileSimulating": true, 
				"nodeMass":function(data) {
					if(data.sub_type == 'FOCUS') {
						return 10;
					}
					else {
						return 1;
					}
				},
                "maxSimulationTime": 5000
			};

  		//Get graph
  		$.getJSON(ontology_graph_link, function(data) {
  			var graph_id = "cy";
  			var section_id = "network";
  			var section_navbar_id = "navbar_network";
  			var cy = setup_cytoscape_vis(graph_id, layout, graph_style, data);
		});

</script>
        

{% endblock scripts %}
