<!DOCTYPE html>

<script>
    var ontology_graph_link = "{{ontology_graph_link}}";
</script>

<title>{{ ontology.display_name }}</title>

{% extends "templates/global_layout.jinja2" %}

{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ ontology.display_name }}</span> Ontology</h2>
</div>

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

    <script>
        add_navbar_title('<span class="gene_name">{{ ontology.display_name }}</span> Ontology<br>');
        add_navbar_element('Summary', 'summary');
        add_navbar_element('Ontology Diagram', 'ontology');
    </script>

<!-- Summary
================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Summary</h1>
                <p><strong>Description: </strong>{{ ontology.description }}</p>
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="ontology" data-magellan-destination="ontology">
            <div class="page-header">
                <h1>Ontology Diagram</h1>
                <div class="panel">
                    <div id="cy" style="width:100%;height:700px"></div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/cytoscape/cytoscape.min.js"></script>	
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/go_ontology.js"></script>
{% endblock scripts %}
