<!DOCTYPE html>

<script>
    var overview_json = {{ overview | safe }};
</script>

<title>Gene Ontology Snapshot</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2>Gene Ontology Snapshot</h2>
</div>

<div class="row">

    <!-- Navbar
    ================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">
        <script>
            add_navbar_title('Gene Ontology Snapshot');
            add_navbar_element("Data Overview", "summary");
            add_navbar_element("Annotations Over Time", "over_time");
            add_navbar_element("Histograms", "histograms");
            add_navbar_element("Get Gene Ontology Data", "data");
            add_navbar_element("Download Links", "download");

        </script>

        <!-- Summary
        ================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Data Overview</h1>
                <p>SGD manually annotates gene ontology information.</p>
                <div class="panel">
                    <div class="row">
                        <div class="large-4 columns" id="aspect_diagram"></div>
                        <div class="large-4 columns" id="method_diagram"></div>
                        <div class="large-4 columns" id="evidence_diagram"></div>
                    </div>
                </div>
            </div>
        </section>

        <section id="over_time" data-magellan-destination="over_time">
	        <div class="page-header">
                <h1>Annotations Over Time</h1>
                <div class="panel">
                    <div id="over_time_diagram"></div>
                </div>
            </div>
        </section>

        <section id="histograms" data-magellan-destination="histograms">
	        <div class="page-header">
                <h1>Histograms</h1>
                <div class="panel">
                    <div id="go_histogram_diagram"></div>
                    <div id="gene_histogram_diagram"></div>
                </div>
            </div>
        </section>

        <section id="data" data-magellan-destination="data">
	        <div class="page-header">
		        <h1>Get Gene Ontology Data</h1>
		        Get gene ontology data for <input placeholder="Gene name, systematic ORF name, or SGDID" style="width:350px"></input><a class="secondary button"><i class="icon-search"></i></a>
		        <br><br>
		    </div>
        </section>

        <section id="download" data-magellan-destination="download">
	        <div class="page-header">
		        <h1>Download Links</h1>
		        <a href="http://downloads.yeastgenome.org/curation/literature/gene_association.sgd.gz">Gene Ontology Annotations</a>
		        <a href="http://downloads.yeastgenome.org/curation/literature/go_terms.tab">Gene Ontology Terms and Definitions</a>
		        <a href="http://downloads.yeastgenome.org/curation/literature/go_slim_mapping.tab">Gene Products to GO-Slim Terms</a>
		    </div>
        </section>

    </div><!-- .tab-content -->
</div>
{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock scripts %}



