<!-- GO
================================================== -->
<section id="{{table_type}}_go" data-magellan-destination="{{table_type}}_go">
	<div class="page-header">
		<{% if small %}h2 class="subheader"{% else %}h1{% endif %}>{{table_name}}
            <span class="round secondary label">
                <span id="{{table_type}}_go_header"></span>
                <small id="{{table_type}}_go_header_type"></small>
                <span id="{{table_type}}_go_subheader"></span>
                <small id="{{table_type}}_go_subheader_type"></small>
            </span>
		</{% if small %}h2{% else %}h1{% endif %}>

        <div id="{{table_type}}_go_table_wrapper">
            <div class="button-bar">
                <ul class="button-group radius">
                    <li><a disabled="true" id="go_table_show_children" class="small button secondary" style="display:none">Add Annotations to Child Terms</a></li>
                </ul>

                <ul class="button-group radius">
                    <li><a disabled="true" id="{{table_type}}_go_table_download" class="small button secondary"><i class="icon-download-alt"></i> Download</a></li>
                </ul>

                <ul class="button-group radius">
                    <li><a disabled="true" id="{{table_type}}_go_table_analyze" class="small button secondary"><i class="icon-briefcase"></i> Analyze</a></li>
                </ul>
            </div>

            <table class="table table-striped table-bordered table-condensed" id="{{table_type}}_go_table" width="100%">
                <thead>
                    <tr>
                        <th hidden>Evidence ID</th>
                        <th hidden>Analyze ID</th>
                        <th></th>
                        <th>Gene</th>
                        <th hidden>Gene Systematic Name</th>
                        <th>Gene Ontology Term</th>
                        <th hidden>Gene Ontology Term ID</th>
                        <th>Qualifier</th>
                        <th>Aspect</th>
                        <th>Method</th>
                        <th>Evidence</th>
                        <th>Source</th>
                        <th>Assigned On</th>
                        <th>Reference</th>
                        <th hidden>Annotation Extension</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>