<header id="layout-page-header">
		<div class="row" id="layout-page-header-content">
			<section class="small-4 columns" id="logo-section">
				<a href="/">
				<div class="logo">
					<span class="logo-label">Saccharomyces Genome Database</span>
				</div>
				</a>
			</section><!-- #logo-section -->
			<section class="small-7 small-offset-1 columns" id="header-tools">
			 	<div class="row header-links">
			 		
						<ul class="site-links">
							<li><a href="/about">About</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/download-data">Download</a></li>
							<li><a href="/site-map">Site Map</a></li>
							<li><a href="/help">Help</a></li>
						</ul>
					
						<ul class="social-links">
							<li><a href="/cgi-bin/suggestion" target="_blank" id="email" class="webicon mail x-small">Email Us</a></li>
							<li><a href="http://twitter.com/#!/yeastgenome" target="_blank" id="twitter" class="webicon twitter x-small">Twitter</a></li>
							<li><a href="https://www.facebook.com/pages/Saccharomyces-Genome-Database-SGD/139140876128200" target="_blank" class="webicon facebook x-small" id="facebook">Facebook</a></li>
							<li><a href="/feed" target="_blank" id="rss" class="webicon rss x-small">RSS</a></li>
						</ul>
					
			 	</div><!-- .header-links -->
			 	<div class="row header-search">
			 		<form action="/cgi-bin/search/luceneQS.fpl" autocomplete="off" id="searchform" class="no-margins" method="get">
					  <div id="top-search-input-container" class="row collapse">
						<div class="small-6 small-offset-5 columns">
						  <input id="txt_search" name="query" type="text" class="search-query radius prefix-input no-margins ui-autocomplete-input" placeholder="Search" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
						</div>
						<div class="small-1 columns">
						  <a href="#" class="secondary button no-margins postfix radius" onclick="document.getElementById('searchform').submit();"><i class="icon-search"></i></a>
						</div>
					  </div>
					  <div id="adv-search-links">
						  	YeastMine: <a href="http://yeastmine.yeastgenome.org/yeastmine/bag.do">Batch Analysis</a> or <a target="_blank" href="http://yeastmine.yeastgenome.org/yeastmine/begin.do">Advanced Search</a>
					  </div>
					</form>
			 	</div><!-- .header-search -->
			</section>
		</div><!-- #layout-page-header-content -->
		<div id="layout-page-header-nav">
			<div class="contain-to-grid">
				<nav class="top-bar">
					<ul class="title-area">
				<!-- Title Area -->
						<li class="name">
						  <h1>
						  	<span class="hide-for-small"><a href="/">SGD</a></span>
						  	<span class="show-for-small"><a href="/"><img id="sgd-mini-logo" src="/img-domain/sgd-logo-sm-hi-res-v2.png" alt="SGD Logo"></a></span>
						  </h1>
						</li> 
						<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
						<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
					</ul>
					<section class="top-bar-section">
						<!-- Left Nav Section -->
						<ul class="left">
							<li class="divider"></li>
						    <li class="menu-search">
							    <form action="/cgi-bin/search/luceneQS.fpl" autocomplete="off" id="searchform-mobile" class="no-margins" method="get">
							        <input id="text_search-mobile"  name="query" type="text" class="search-query radius no-margins" placeholder="Search" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
							    </form>
							</li>
							<li class="has-dropdown"><a href="#">Analyze</a>
								<ul class="dropdown">
									<li><a href="http://yeastmine.yeastgenome.org/yeastmine/bag.do">Gene Lists</a></li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/blast-sgd.pl">BLAST</a></li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/blast-fungal.pl">Fungal BLAST</a></li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/GO/goTermFinder.pl">GO Term Finder</a></li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/GO/goSlimMapper.pl">GO Slim Mapper</a></li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/PATMATCH/nph-patmatch">Pattern Matching</a></li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/web-primer">Design Primers</a></li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/PATMATCH/RestrictionMapper">Restriction Mapper</a></li>
								</ul>
							</li>
							<li class="has-dropdown"><a href="#">Sequence</a>
								<ul class="dropdown">
									<li><a href="http://www.yeastgenome.org/download-data/sequence">Download</a></li>
									<li><a href="http://browse.yeastgenome.org/fgb2/gbrowse/scgenome/">Genome Browser</a></li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/blast-sgd.pl">BLAST</a></li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/blast-fungal.pl">Fungal BLAST</a></li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/seqTools">Gene/Sequence Resources</a></li>
									<li class="has-dropdown">
										<a href="#">Reference Genome</a>
										<ul class="dropdown">
											<li><a href="http://downloads.yeastgenome.org/sequence/S288C_reference/genome_releases/">Download Genome</a></li>
											<li><a href="http://www.yeastgenome.org/cache/genomeSnapshot.html">Genome Snapshot</a></li>
											<li><a href="http://www.yeastgenome.org/cgi-bin/chromosomeHistory.pl">Chromosome History</a></li>
											<li><a href="http://www.yeastgenome.org/cache/chromosomes.shtml">Systematic Sequencing Table</a></li>
											<li><a href="http://wiki.yeastgenome.org/index.php/Original_Sequence_Papers">Original Sequence Papers</a></li>
										</ul>
									</li>
									<li class="has-dropdown">
										<a href="#">Strains and Species</a>
										<ul class="dropdown">
											<li><a href="http://www.yeastgenome.org/cgi-bin/FUNGI/alignment.pl">Align Strain Sequences</a></li>
											<li><a href="http://www.yeastgenome.org/cgi-bin/FUNGI/FungiMap">Synteny Viewer</a></li>
										</ul>
									</li>
									<li class="has-dropdown">
										<a href="#">Homology</a>
										<ul class="dropdown">
											<li><a href="http://www.yeastgenome.org/cgi-bin/FUNGI/showAlign">Fungal Alignment</a></li>
											<li><a href="http://www.yeastgenome.org/cgi-bin/protein/get3d">PDB Search</a></li>
										</ul>
									</li>
									<li class="has-dropdown">
										<a href="#">Resources</a>
										<ul class="dropdown">
											<li><a href="http://www.uniprot.org/">UnikProtKB (EBI)</a></li>
											<li><a href="http://www.ebi.ac.uk/interpro/">InterPro (EBI)</a></li>
											<li><a href="http://www.ncbi.nlm.nih.gov/homologene">HomoloGene (NCBI)</a></li>
											<li><a href="http://wolfe.gen.tcd.ie/ygob/">YGOB (Trinity College)</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="has-dropdown"><a href="">Function</a>
								<ul class="dropdown">
									<li class="has-dropdown">
										<a href="#">GO</a>
										<ul class="dropdown">
											<li><a href="http://www.yeastgenome.org/cgi-bin/GO/goTermFinder.pl">GO Term Finder</a></li>
											<li><a href="http://www.yeastgenome.org/cgi-bin/GO/goSlimMapper.pl">GO Slim Mapper</a></li>
											<li><a href="http://downloads.yeastgenome.org/curation/literature/go_slim_mapping.tab">GO Slim Mapping File</a></li>
										</ul>
									</li>
									<li><a href="http://spell.yeastgenome.org/">Expression</a></li>
									<li><a href="http://pathway.yeastgenome.org">Biochemical Pathways</a></li>
									<li class="has-dropdown">
										<a href="#">Phenotypes</a>
										<ul class="dropdown">
											<li><a href="/ontology/phenotype/ypo/overview">Browse All Phenotypes</a></li>
										</ul>
									</li>
									<li><a href="http://www.yeastgenome.org/cgi-bin/interaction_search">Interactions</a></li>
									<li><a href="http://yeastgfp.yeastgenome.org/">YeastGFP</a></li>
									<li class="has-dropdown">
										<a href="#">Resources</a>
										<ul class="dropdown">
											<li><a href="http://www.geneontology.org/">GO Consortium</a></li>
											<li><a href="http://thebiogrid.org/">BioGRID (U. Toronto)</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="has-dropdown"><a href="">Literature</a>
								<ul class="dropdown">
									<li><a href="http://textpresso.yeastgenome.org/">Full-text Search</a></li>
									<li><a href="http://www.yeastgenome.org/cache/NewPapersThisWeek.html">New Yeast Papers</a></li>
									<li><a href="http://www.genetics.org/site/misc/yeastbook.xhtml">YeastBook</a></li>
									<li><a href="http://www.yeastgenome.org/cache/genome-wide-analysis.html">Genome-wide Analysis Papers</a></li>
									<li class="has-dropdown">
										<a href="#">Resources</a>
										<ul class="dropdown">
											<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/">PubMed (NCBI)</a></li>
											<li><a href="http://www.ncbi.nlm.nih.gov/pmc/">PubMed Central (NCBI)</a></li>
											<li><a href="http://scholar.google.com/">Google Scholar</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="has-dropdown"><a href="#">Community</a>
								<ul class="dropdown">
									<li class="has-dropdown">
										<a href="#">Colleague Information</a>
										<ul class="dropdown">
											<li><a href="http://www.yeastgenome.org/cgi-bin/colleague/colleagueInfoSearch">Find a Colleague</a></li>
											<li><a href="http://www.yeastgenome.org/cgi-bin/colleague/colleagueSearch">Add or Update Info</a></li>
											<li><a href="http://www.yeastgenome.org/cache/yeastLabs.html">Find a Yeast Lab</a></li>
										</ul>
									</li>
									<li><a href="http://wiki.yeastgenome.org/index.php/Career_Resources">Career Resources</a></li>
									<li class="has-dropdown">
										<a href="#">Meetings</a>
										<ul class="dropdown">
											<li><a href="http://wiki.yeastgenome.org/index.php/Meetings#Upcoming_Conferences_.26_Courses">Future</a></li>
											<li><a href="http://wiki.yeastgenome.org/index.php/Meetings#Past_Yeast_Meetings">Yeast Genetics</a></li>
										</ul>
									</li>
									<li class="has-dropdown">
										<a href="#">Nomenclature</a>
										<ul class="dropdown">
											<li><a href="http://www.yeastgenome.org/cgi-bin/registry/geneRegistry">Submit a Gene Registration</a></li>
											<li><a href="http://www.yeastgenome.org/help/community/gene-registry">Gene Registry</a></li>
											<li><a href="http://www.yeastgenome.org/help/community/nomenclature-conventions">Nomenclature Conventions</a></li>
											<li><a href="http://www.yeastgenome.org/cgi-bin/geneHunter">Global Gene Hunter</a></li>
										</ul>
									</li>
									<li class="has-dropdown">
										<a href="#">Methods and Reagents</a>
										<ul class="dropdown">
											<li><a href="http://wiki.yeastgenome.org/index.php/Strains">Strains and Constructs</a></li>
											<li><a href="http://wiki.yeastgenome.org/index.php/Reagents">Reagents</a></li>
											<li><a href="http://wiki.yeastgenome.org/index.php/Methods">Protocols and Methods</a></li>
										</ul>
									</li>
									<li class="has-dropdown">
										<a href="#">Historical Data</a>
										<ul class="dropdown">
											<li><a href="http://wiki.yeastgenome.org/index.php/Combined_Physical_and_Genetic_Maps_of_S._cerevisiae">Physical &amp; Genetic Maps</a></li>
											<li><a href="http://wiki.yeastgenome.org/index.php/Yeast_Mortimer_Maps_-_Edition_12">Genetic Maps</a></li>
											<li><a href="http://wiki.yeastgenome.org/index.php/Historical_Systematic_Sequence_Information">Sequence</a></li>
											<li><a href="http://www.yeastgenome.org/cache/geneSummarytable.html">Gene Summary Paragraphs</a></li>
										</ul>
									</li>
									<li><a href="http://wiki.yeastgenome.org/index.php/Main_Page">Wiki</a></li>
									<li><a href="http://wiki.yeastgenome.org/index.php/External_Links">Resources</a></li>
								</ul>
							</li>
							<li class="has-dropdown" id="info-menu"><a href="#">Info &amp; Downloads</a>
								<ul class="dropdown">
									<li><a href="http://www.yeastgenome.org/about">About</a></li>
									<li><a href="http://www.yeastgenome.org/blog">Blog</a></li>
									<li><a href="http://www.yeastgenome.org/download-data">Downloads</a></li>
									<li><a href="http://www.yeastgenome.org/site-map">Site Map</a></li>
									<li><a href="http://www.yeastgenome.org/help">Help</a></li>
								</ul>
							</li>
						</ul>
						<!-- Right Nav Section -->
						<!--
						<ul class="right">
				
							<li class="has-form">
								<form action="/search" autocomplete="off" id="top-bar-search">
								  <div class="row collapse">
									<div class="small-10 columns">
									  <input id="searchfield" name="keyword" type="text" class="search-query radius" placeholder="Search">
									</div>
									<div class="small-2 columns">
									  <a href="#" class="secondary button postfix"><i class="icon-search"></i></a>
									</div>
								  </div>
								</form>
							</li>
						</ul>
						-->
					</section>
		    	</nav>
		    </div>
		</div><!-- #layout-page-header-nav -->
		
     	<script>initialize_sgd_search();</script>
	</header>