<!DOCTYPE html>

<title>{{ locus.display_name }} Interactions</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ locus.display_name }}/{{ locus.format_name }}</span> Physical and Genetic Interactions</h2>
</div>


<!-- Includes tabs.html into template -->
{% include "templates/tabs.jinja2" %}
<script>document.getElementById('interaction_tab').id = 'current';</script>

<div class="row">
	
<!-- Includes navbar.html into template -->
{% include "templates/navbar.jinja2" %}

<div class="small-12 large-9 columns content-column"> 
	
<!-- Includes interaction_overview.html into template -->
{% include "templates/interaction_overview.jinja2" %}

<!-- Interactions
================================================== -->
<section id="interactions" data-magellan-destination="interactions">
	<div class="page-header">
		<h1>Interactions <span class="round secondary label"><span id="evidence_header"></span> <small>entries for</small> <span id="evidence_gene_header"></span> <small>genes</small></span></h1>
		<span>Source: <a href="http://thebiogrid.org/" target="_blank" id="biogrid_link">BioGRID</a></span>
		<p id='evidence_message' hidden>No interactions curated.</p>
		<div id='evidence_wrapper'>
			<div class="button-bar">
				<ul class="button-group radius">
					<li><a id="evidence_table_download" class="small button secondary"><i class='icon-download-alt'></i> Download</a></li>
				</ul>
						
				<ul class="button-group radius">
					<li><a id="evidence_table_analyze" class="small button secondary"><i class='icon-briefcase'></i> Analyze</a></li>
				</ul>
			</div>
			
			<table class='table table-striped table-bordered table-condensed' id='evidence_table' width="100%">
			<thead>
  			<tr>
  			    <th>Evidence ID</th>
  			    <th>Analyze ID</th>
  				<th></th>
  				<th>Interactor</th>
  				<th>Interactor Systematic Name</th>
  				<th>Interactor</th>
   				<th>Interactor Systematic Name</th>
  				<th>Type</th>
    			<th>Assay</th>
    			<th>Annotation</th>
    			<th>Action</th>
    			<th>Modification</th>
    			<th>Phenotype</th>
    			<th>Source</th>
    			<th>Reference</th>
    			<th>Note</th>
  			</tr>
  			</thead>
			</table>
        </div>
   </div>
</section>

<!-- Network Visualization
================================================== -->
<section id="network" data-magellan-destination="network">
	<div class="page-header">
		<h1>Network Visualization</h1>
		<div class="panel">
		    <div id="discrete_filter" hidden>
			    <label for="union_radio">
				    <input id="union_radio" type="radio" name="group1" checked> All
				    </label>
			    <label for="physical_radio" class="legend-label physical">
				    <input id="physical_radio" type="radio" name="group1"> Physical
			    </label>
			    <label for="genetic_radio" class="legend-label genetic">
				    <input id="genetic_radio" type="radio" name="group1"> Genetic
			    </label>
			</div>

			<div id="cy" name="cy" style="width:100%;height:500px"></div>
			<h5>Filter Interactions by # of Experiments:</h5>
			<div id="slider" class="noUiSlider" style="width:100%"></div>
			<div id="slider_ticks"></div>
			<br>
		</div><!-- .panel -->
    </div>
</section>

<!-- Resources
================================================== -->
<section id="resources" data-magellan-destination="resources">
	<div class="page-header">
		<h1>Resources</h1>
		<ul id='resource_list'>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</section>

</div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/jquery.nouislider.min.js"></script>
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/cytoscape.js"></script>

<script src="/static/js/evidence.js"></script>

<script>
    //Template links and filenames
	var interaction_details_link = "{{interaction_details_link}}";
	var interaction_graph_link = "{{interaction_graph_link}}";
	var interaction_resources_link = "{{interaction_resources_link}}";
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

    var evidence_table_filename = "{{ locus.display_name}}_interactions";
    var analyze_filename = "<a href='{{ locus.link }}' class='gene_name'>{{ locus.display_name }}</a>";
</script>

<script src="/static/js/interaction_details.js"></script>

{% endblock scripts %}
