<!DOCTYPE html>

<script>
	var interaction_details_link = "{{interaction_details_link}}";
	var interaction_graph_link = "{{interaction_graph_link}}";
	var interaction_resources_link = "{{interaction_resources_link}}";
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";
    var evidence_table_filename = "{{ locus.display_name}}_interactions";
    var analyze_filename = "<a href='{{ locus.link }}' class='gene_name'>{{ locus.display_name }}</a>";
    var data = {{overview | safe}};

	var summary_download_filename = "{{ locus.display_name}}_interaction_summary";
    var annotation_analyze_filename = "{{ locus.display_name}}_interactors";
	var download_image_link = "{{download_image_link}}";

	var display_name = "{{ locus.display_name }}";

	var A = data['num_gen_interactors'];
	var B = data['num_phys_interactors'];
	var C = data['num_both_interactors'];
</script>

<title>{{ locus.display_name }} Interactions</title>

{% extends "templates/global_layout.jinja2" %}

{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ locus.display_name }}/{{ locus.format_name }}</span> Physical and Genetic Interactions</h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "templates/tabs.jinja2" %}
<script>document.getElementById('interaction_tab').id = 'current';</script>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
        //Set up navbar
            add_navbar_title('<a href="{{ locus.link }}">{{ locus.display_name }}/{{ locus.format_name }}</a> Interactions');
            add_navbar_element('Interactors Summary', 'summary');
            add_navbar_element('Interactions', 'interaction');
            add_navbar_element('Network Visualization', 'network');
            add_navbar_element('Resources', 'resources');
        </script>

        <!-- Includes interaction_overview.html into template -->
        {% include "templates/interaction_overview.jinja2" %}

<!-- Annotations
================================================== -->
        <!-- Includes interaction_table into template -->
        {% set table_name = "Interactions" %}
        {% include "templates/interaction_table.jinja2" %}

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h1>Network Visualization</h1>
                <div class="panel">
                    <div id="discrete_filter" hidden>
                        <label for="union_radio">
                            <input id="union_radio" type="radio" name="group1" checked> All
                            </label>
                        <label for="physical_radio" class="legend-label physical">
                            <input id="physical_radio" type="radio" name="group1"> Physical
                        </label>
                        <label for="genetic_radio" class="legend-label genetic">
                            <input id="genetic_radio" type="radio" name="group1"> Genetic
                        </label>
                    </div>

                    <div id="cy" name="cy" style="width:100%;height:500px"></div>
                    <h5>Filter Interactions by # of Experiments:</h5>
                    <div id="slider" class="noUiSlider" style="width:100%"></div>
                    <div id="slider_ticks"></div>
                    <br>
                </div><!-- .panel -->
            </div>
        </section>

<!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
            <div class="page-header">
                <h1>Resources</h1>
                <ul id='resource_list'>
                </ul>
            </div>
        </section>

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/jquery.nouislider.min.js"></script>
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/interaction_details.js"></script>
{% endblock scripts %}
