<!DOCTYPE html>
<title>New Literature Review</title>

{% extends "templates/global_layout.jinja2" %}
{% block body %}
	

<!-- Docs nav
================================================== -->
<div class="row">
	<div id='sidebar' class="small-3 columns bs-docs-sidebar">
		<ul class="nav nav-list bs-docs-sidenav affix-top" id='navbar' name='navbar' style="margin-left:auto; margin-right:auto">
			<li><h3 tal:content="structure name_with_link"></h3></li>
          	<li><a href="#interactors"><i class="icon-chevron-right"></i>Interactors Summary</a></li>
			<li><a href="#network"><i class="icon-chevron-right"></i> Network Visualization</a></li>
			<li><a href="#physical_interactions"><i class="icon-chevron-right"></i> Physical Interactions</a></li>

			<li><a href="#genetic_interactions"><i class="icon-chevron-right"></i> Genetic Interactions</a></li>
			<li><a href="#resources"><i class="icon-chevron-right"></i> Resources</a></li>
			<li><a href="#references"><i class="icon-chevron-right"></i> References</a></li>
		</ul>
	</div>
	
	<div class="small-9 columns">  
		
<!-- Interactors
================================================== -->
<section id="interactors">
	<div class="page-header">
		<h1>Interactors Summary</h1>
		<div id="venn_diagram"></div>
		<br>
		<div>
			
		</div>

		<span>Export:</span>
		<div class="btn-group">
			<button id="save" class="btn" target="_blank">png</button>
  			<button id="phys_and_gen" class="btn" onclick="analyze_phys_and_gen()"><i class='icon-briefcase'></i> Analyze Physical and Genetic</button>
  			<button id="phys" class="btn" onclick="analyze_phys()"><i class='icon-briefcase'></i> Analyze Physical</button>
  			<button id="gen" class="btn" onclick="analyze_gen()"><i class='icon-briefcase'></i> Analyze Genetic</button>
  			<button id="phys_or_gen" class="btn" onclick="analyze_phys_or_gen()"><i class='icon-briefcase'></i> Analyze All</button>
		</div>
		
	</div>
</section>

<!-- Network Visualization
================================================== -->
<section id='network'>
	<div class="page-header">
		<h1>Network Visualization</h1>
		<strong>Filter Interactions by # Total Evidence:</strong>
		<br></br>
		<div id="slider-range-min"></div>
		<br>
		<div id="cytoscapeweb">
            Network visualization is loading...
        </div>
        <span>Export:</span>
        <div class="btn-group">
        	<a class="btn" onclick="vis.exportNetwork('png', '/download_graph/png')">png</a>
        	<a class="btn" onclick="vis.exportNetwork('svg', '/download_graph/svg')">svg</a>
        	<a class="btn" onclick="vis.exportNetwork('pdf', '/download_graph/pdf')">pdf</a>
        	<a class="btn" onclick="vis.exportNetwork('xgmml', '/download_graph/xml')">xgmml</a>
        	<a class="btn" onclick="vis.exportNetwork('graphml', '/download_graph/txt')">graphml</a>
        	<a class="btn" onclick="vis.exportNetwork('sif', '/download_graph/txt', options={nodeAttr:'label', interactionAttr:'label'})">txt</a>
        </div>
    </div>
</section>


<!-- Physical Evidence
================================================== -->
<section id="physical_interactions">
	<div class="page-header">		
		<h1>Physical Interactions <span id='physical_evidence_header'></h1>
		<span>Source: <a href="http://thebiogrid.org/" target="_blank">BioGRID</a></span>

		<span id='physical_evidence_message'></span>
		<div id='physical_evidence_wrapper'>
			<table class='table table-striped table-bordered table-condensed tablesorter' id='physical_evidence_table' width="100%">
			<thead>
  			<tr>
  				<th></th>
  				<th>Interactor</th>
  				<th>Interactor</th>
    			<th>Experiment</th>
    			<th>Annotation</th>
    			<th>Action</th>
    			<th>Modification</th>
    			<th>Source</th>
    			<th>Reference</th>
    			<th>Note</th>
  			</tr>
  			</thead>
			</table>
        </div>
		
	</div>
</section>

<!-- Genetic Evidence
================================================== -->
<section id="genetic_interactions">
	<div class="page-header">
		<h1>Genetic Interactions <span id='genetic_evidence_header'></h1>
		<span>Source: <a href="http://thebiogrid.org/" target="_blank">BioGRID</a></span>
		
		<span id='genetic_evidence_message'></span>
		<div id='genetic_evidence_wrapper'>
			<table class='table table-striped table-bordered table-condensed tablesorter' id='genetic_evidence_table' width="100%">
			<thead>
  			<tr>
  				<th></th>
  				<th>Interactor</th>
  				<th>Interactor</th>
    			<th>Experiment</th>
    			<th>Annotation</th>
    			<th>Action</th>
    			<th>Phenotype</th>
    			<th>Source</th>
    			<th>Reference</th>
    			<th>Note</th>
  			</tr>
  			</thead>
			</table>
        </div>
        <br></br>
   </div>
</section>

<!-- Resources
================================================== -->
<section id="resources">
	<div class="page-header">
		<h1>Resources</h1>
		<ul id='resource_list'>
		</ul>
	</div>
</section>

<!-- References
================================================== -->
<section id="references">
	<div class="page-header">
		<h1>References</h1>
		<ul id='reference_list'>
		</ul>
	</div>
</section>

</div>
</div>

<script>
	function set_up_resources(data) {
		resource_list = document.getElementById("resource_list");
		for (var i=0; i < data.length; i++) {
			var r = data[i];
			var span=document.createElement('span');
			span.innerHTML = r + ' | ';
			resource_list.appendChild(span);
		}
  	}
  	
  	function get_details(row) {
  		var details = row[9];
  		if(details != null) {
  			return '<strong>Note:</strong> ' + details + '<br>';
  	    }
  	    else {
  	    	return null;
  	    }
  	}
  	
  	function set_up_genetic_table(data) {  		
  		//Insert a 'details' column to the table  		
  		add_detail_column('genetic_evidence_table');
         
		//Set up genetic evidence table
		var options = {};
		options["bPaginate"] = true;
        options["oTableTools"] = table_tool_option('{{genetic_interaction_evidence_filename}}', true, '{{genetic_listname}}', 0, 2);
		options["sDom"] = '<"clear">lfrtipT';
		options["aaSorting"] = [[2, "asc"]];
        options["fnInitComplete"] = set_up_message_and_count("genetic_evidence_header", "genetic_evidence_message", "genetic_evidence_wrapper");
		options["fnDrawCallback"] = set_up_details(get_details);
		options["aoColumns"] = [{"bSortable":false}, {"bSearchable":false, "bVisible":false}, null, null, null, null, null, {"bSearchable":false, "bVisible":false}, null, {"bSearchable":false, "bVisible":false}]		
		options["aaData"] = data;
  				
  		var genetic_table = $('#genetic_evidence_table').dataTable(options);
  		genetic_table.on('filter', function(){
  			var visible_rows = genetic_table._('tr', {"filter": "applied"}).length;
  			if(visible_rows == 0) {
  				document.getElementById("ToolTables_genetic_evidence_table_0").className += " disabled";
  				document.getElementById("ToolTables_genetic_evidence_table_1").className += " disabled";
  				document.getElementById("ToolTables_genetic_evidence_table_2").className += " disabled";
  				document.getElementById("ToolTables_genetic_evidence_table_3").className += " disabled";
  				document.getElementById("ToolTables_genetic_evidence_table_4").className += " disabled";
  			}
  		});
  	}
  	
  	function set_up_physical_table(data) {  		
  		//Insert a 'details' column to the table
		add_detail_column('physical_evidence_table');
		
		//Set up physical evidence data
		var options = {};
		options["bPaginate"] = true;
        options["oTableTools"] = table_tool_option('{{physical_interaction_evidence_filename}}', true, '{{physical_listname}}', 1, 2);
		options["sDom"] = '<"clear">lfrtipT';
		options["aaSorting"] = [[2, "asc"]];
        options["fnInitComplete"] = set_up_message_and_count("physical_evidence_header", "physical_evidence_message", "physical_evidence_wrapper");
		options["fnDrawCallback"] = set_up_details(get_details);
		options["aoColumns"] = [{"bSortable":false}, {"bSearchable":false, "bVisible":false}, null, null, null, null, null, {"bSearchable":false, "bVisible":false}, null, {"bSearchable":false, "bVisible":false}]		
		options["aaData"] = data;
		
  		var physical_table = $('#physical_evidence_table').dataTable(options);
  		physical_table.on('filter', function(){
  			var visible_rows = physical_table._('tr', {"filter": "applied"}).length;
  			if(visible_rows == 0) {
  				document.getElementById("ToolTables_physical_evidence_table_0").className += " disabled";
  				document.getElementById("ToolTables_physical_evidence_table_1").className += " disabled";
  				document.getElementById("ToolTables_physical_evidence_table_2").className += " disabled";
  				document.getElementById("ToolTables_physical_evidence_table_3").className += " disabled";
  				document.getElementById("ToolTables_physical_evidence_table_4").className += " disabled";
  			}
  		});
  	}

	
	$(document).ready(function() {
	
		//Get resources
	  	$.getJSON("{{resource_link}}", set_up_resources);
	
		//Get evidence data
  		$.getJSON("{{interaction_evidence_table_link}}", function(data) {
			set_up_genetic_table(data['genetic']);
			set_up_physical_table(data['physical']);
			set_up_references(data['reference'], 'reference_list');
    	});
    	
    	//Get evidence data
  		$.getJSON("{{interaction_overview_table_link}}", function(data) {
  			var r = data['venn'][0];
  			var s = data['venn'][1];
  			var x = data['venn'][2];
  			
			var stage = draw_venn_diagram("venn_diagram", r, s, x);
			stage.toDataURL({
       		 	width: 350,
        		height: 350,
        		callback: function(dataUrl) {
          			document.getElementById("save").href = dataUrl.replace("image/png", "image/octet-stream");
        		}
          	});
			
    		if(r == 0) {
    			document.getElementById("phys_and_gen").disabled = true; 
    			document.getElementById("phys").disabled = true; 
    		}
    		if(s == 0) {
    			document.getElementById("phys_and_gen").disabled = true; 
    			document.getElementById("gen").disabled = true; 
    		}
    		if(x == r+s+1) {
    			document.getElementById("phys_and_gen").disabled = true; 
    		}
    	});
	});
</script>

<script>
	function analyze_phys_and_gen() {
		var list_name = '{{both_listname}}';
		var bioents = [];
		
		var gen_bioents = {};
		var gen_table = $.fn.dataTable.fnTables(true)[0];
		var data = $(gen_table).dataTable().fnGetData();
		for (var i=0,len=data.length; i<len; i++) { 
			var name_with_link = data[i][2];
			var name = name_from_link(name_with_link);
			gen_bioents[name] = true;
		}	
		
		var phs_table = $.fn.dataTable.fnTables(true)[1];
		var data = $(phs_table).dataTable().fnGetData();
		for (var i=0,len=data.length; i<len; i++) { 
			var name_with_link = data[i][2];
			var name = name_from_link(name_with_link);
			if(name in gen_bioents) {
				bioents.push(name);
			}
			
		}	
		analyze(list_name, bioents);
	}
	
	function analyze_phys() {
		var list_name = '{{physical_listname}}';
		var bioents = [];

		var phs_table = $.fn.dataTable.fnTables(true)[1];
		var data = $(phs_table).dataTable().fnGetData();
		for (var i=0,len=data.length; i<len; i++) { 
			var name_with_link = data[i][2];
			var name = name_from_link(name_with_link);
			bioents.push(name);
		}	
		analyze(list_name, bioents);
	}
	
	function analyze_gen() {
		var list_name = '{{genetic_listname}}';
		var bioents = [];

		var gen_table = $.fn.dataTable.fnTables(true)[0];
		var data = $(gen_table).dataTable().fnGetData();
		for (var i=0,len=data.length; i<len; i++) { 
			var name_with_link = data[i][2];
			var name = name_from_link(name_with_link);
			bioents.push(name);
		}	
		analyze(list_name, bioents);
	}
	
	function analyze_phys_or_gen() {
		var list_name = '{{all_listname}}';
		var bioents = [];

		var gen_table = $.fn.dataTable.fnTables(true)[0];
		var data = $(gen_table).dataTable().fnGetData();
		for (var i=0,len=data.length; i<len; i++) { 
			var name_with_link = data[i][2];
			var name = name_from_link(name_with_link);
			bioents.push(name);
		}	
		
		var phys_table = $.fn.dataTable.fnTables(true)[1];
		var data = $(phys_table).dataTable().fnGetData();
		for (var i=0,len=data.length; i<len; i++) { 
			var name_with_link = data[i][2];
			var name = name_from_link(name_with_link);
			bioents.push(name);
		}	
		analyze(list_name, bioents);
	}
	
</script>

<script>
	var vis = null;
	window.onload=function() {
		vis = setup_interaction_cytoscape_vis("{{interaction_graph_link}}");   
	};           
</script>
        
<style>
	/* The Cytoscape Web container must have its dimensions set. */
	html, body { height: 80%; width: 100%; padding: 0; margin: 0; }
	#cytoscapeweb { width: 100%; height: 100%; }
</style>

{% endblock body %}

