<!DOCTYPE html>

<script>
	var literature_details_link = "{{literature_details_link}}";
	var literature_graph_link = "{{literature_graph_link}}";
	var display_name = "{{ locus.display_name }}";
  	var download_link = "{{download_link}}";
  	var data = {{overview | safe}};
</script>

<title>{{ locus.display_name }} Literature</title>

{% extends "global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ locus.display_name }}/{{ locus.format_name }}</span> Literature</h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById('literature_tab').id = 'current';</script>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('<a href="{{ locus.link }}">{{ locus.display_name }}/{{ locus.format_name }}</a> Literature');
            add_navbar_element('Literature Summary', 'summary');
            add_navbar_element('Primary Literature', 'primary');
            add_navbar_element('Network Visualization', 'network');
            add_navbar_element('Additional Literature', 'additional');
            add_navbar_element('Reviews', 'reviews');
            add_navbar_element('Gene Ontology Literature', 'go');
            add_navbar_element('Phenotype Literature', 'phenotype');
            add_navbar_element('Interaction Literature', 'interaction');
            add_navbar_element('Regulation Literature', 'regulation');
        </script>

        <!-- Includes literature_overview.html into template -->
        {% include "literature_overview.jinja2" %}

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h1>Network Visualization</h1>
                <div class="panel">
                    <div id="cy" name="cy" style="width:100%;height:700px"></div>
                </div>
            </div>
        </section>

<!-- Additional
================================================== -->
        <section id="additional" data-magellan-destination="additional">
            <div class="page-header">
                <h1>Additional Literature <span id="additional_header" class="label secondary round"></span></h1>
                <p id="additional_message" hidden>No additional literature curated.</p>
                <div id="additional_wrapper">
                    <a id="export_additional" class="small button secondary"><i class="fa fa-arrow-circle-down"></i> Download</a>
                    <ul id="additional_list" class="literature-list">
                    </ul>
                </div>
            </div>
        </section>

<!-- Review
================================================== -->
        <section id="reviews" data-magellan-destination="reviews">
            <div class="page-header">
                <h1>Reviews <span id="review_header" class="label secondary round"></span></h1>
                <p id='review_message' hidden>No reviews curated.</p>
                <div id='review_wrapper'>
                    <a id="export_review" class="small button secondary"><i class="fa fa-arrow-circle-down"></i> Download</a>
                    <ul id="review_list" class="literature-list">
                    </ul>
                </div>
            </div>
        </section>

<!-- GO
================================================== -->
        <section id="go" data-magellan-destination="go">
            <div class="page-header">
                <h1>Gene Ontology Literature <span id="go_header" class="label secondary round"></span></h1>
                <p id='go_message' hidden>No gene ontology literature curated.</p>
                <div id='go_wrapper'>
                    <a id="export_go" class="small button secondary"><i class="fa fa-arrow-circle-down"></i> Download</a>
                    <ul id="go_list" class="literature-list">
                    </ul>
                </div>
            </div>
        </section>

<!-- Phenotype
================================================== -->
        <section id="phenotype" data-magellan-destination="phenotype">
            <div class="page-header">
                <h1>Phenotype Literature <span id="phenotype_header" class="label secondary round"></span></h1>
                <p id='phenotype_message' hidden>No phenotype literature curated.</p>
                <div id='phenotype_wrapper'>
                    <a id="export_phenotype" class="small button secondary"><i class="fa fa-arrow-circle-down"></i> Download</a>
                    <ul id="phenotype_list" class="literature-list">
                    </ul>
                </div>
            </div>
        </section>

<!-- Interaction
================================================== -->
        <section id="interaction" data-magellan-destination="interaction">
            <div class="page-header">
                <h1>Interaction Literature <span id="interaction_header" class="label secondary round"></span></h1>
                <p id='interaction_message' hidden>No interaction literature curated.</p>
                <div id='interaction_wrapper'>
                    <a id="export_interaction" class="small button secondary"><i class="fa fa-arrow-circle-down"></i> Download</a>
                    <ul id="interaction_list" class="literature-list">
                    </ul>
                </div>
            </div>
        </section>

<!-- Regulation
================================================== -->
        <section id="regulation" data-magellan-destination="regulation">
            <div class="page-header">
                <h1>Regulation Literature <span id="regulation_header" class="label secondary round"></span></h1>
                <p id='regulation_message' hidden>No regulation literature curated.</p>
                <div id='regulation_wrapper'>
                    <a id="export_regulation" class="small button secondary"><i class="fa fa-arrow-circle-down"></i> Download</a>
                    <ul id="regulation_list" class="literature-list">
                    </ul>
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock body %}

{% block scripts %}
<script src="/static/js/cytoscape/cytoscape.min.js"></script>	
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/literature_details.js"></script>
{% endblock scripts %}
