<!DOCTYPE html>

<script>
	var phenotype_details_link = "{{phenotype_details_link}}";
	var phenotype_details_all_link = "{{phenotype_details_all_link}}";
	var ontology_graph_link = "{{ontology_graph_link}}";

    var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

	var download_filename = "{{ observable.display_name }}_annotations";
    var analyze_filename = "<a href='{{ observable.link }}' class='gene_name'>{{ observable.display_name }}</a> genes";

    var display_name = "{{ observable.display_name }}";
    var class_type = "{{ observable.class_type }}";
    var count = "{{ observable.count }}";
    var child_count = "{{ observable.child_count }}";

    var overview_data = {{overview|safe}};
</script>

<title>{{ observable.display_name }} Observable</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ observable.display_name }}</span> Observable</h2>
</div>

<div class="row">

<!-- Navbar
================================================== -->
<!-- Includes navbar.html into template -->
{% include "templates/navbar.jinja2" %}

<div class="small-12 large-9 columns content-column"> 

<script>
    add_navbar_title('<span class="gene_name">{{ observable.display_name }}</span><br>Observable')
    add_navbar_element('Summary', 'summary');
    add_navbar_element('Ontology Diagram', 'ontology');
    add_navbar_element('Annotations', 'phenotype');
</script>
<!-- Summary
================================================== -->	
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Summary</h1>
		<p><strong>Description: </strong>{{ observable.description }}<br>
		    {% if overview.qualifiers|safe|length > 0 %}
                <strong>Qualifiers:</strong>
                {% for qualifier in overview.qualifiers|safe %}
                    <span><a href="{{ qualifier.link|e }}">{{ qualifier.qualifier|e }}</a></span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </p>

		<div class="panel" id="summary_wrapper">
            <div class="row">
                <div class="large-6 columns" id="mutant_experiment_chart"></div>
                <div class="large-6 columns" id="strain_chart" ></div>
            </div>
        </div>
	</div>
</section>


<!-- Network Visualization
================================================== -->
<section id="ontology" data-magellan-destination="ontology">
	<div class="page-header">
		<h1>Ontology Diagram</h1>
		<div class="panel">
			<div id="cy" style="width:100%;height:700px"></div>
		</div>
        <div id="children_wrapper">
            <strong>All Child Terms: </strong><div id="children"></div>
        </div>
        <br>
    </div>
</section>

<!-- Annotations
================================================== -->
<!-- Includes phenotype_table into template -->
{% include "templates/phenotype_table.jinja2" %}

</div>
</div>
{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/static/js/phenotype_overview.js"></script>
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/observable.js"></script>
{% endblock scripts %}
