<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Phenotype Summary</h1>
		<p>This page lists all curated single mutant phenotypes associated with {{display_name}}. Browse <a href="{{ontology_link}}">yeast phenotype ontology</a>.</p>
        <div class="panel" id="summary_wrapper">
            <div class="row">
                <div class="large-6 columns" id="mutant_experiment_chart"></div>
                <div class="large-6 columns" id="strain_chart" ></div>
            </div>
		</div>
        <br>
	</div>
</section>

<script>
	//Set up navbar
    add_navbar_title('<a href="{{ locus.link }}">{{ locus.display_name }}/{{ locus.format_name }}</a> Phenotypes');
    add_navbar_element('Phenotype Summary', 'summary');
  	add_navbar_element('Phenotypes', 'phenotypes');
  	add_navbar_element('Resources', 'resources');
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    var overview_data = {{overview | safe}};
    var colors = [[127,191,123], [175,141,195], [31,120,180], [251,154,153], [227,26,28], [255,127,0], [191,91,23]];
    var colors_html = ["#7FBF7B", "#AF8DC3", "#1F78B4", "#FB9A99", "#E31A1C", "#FF7F00", "#BF5B17"];

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var labels = overview_data['experiment_types'];
        labels.unshift('Mutant Type');
        var all_data = [labels];
        //Prepare Data
        for(var j=0; j < overview_data['mutant_types'].length; j++) {
            var mutant = overview_data['mutant_types'][j];
            var new_row = overview_data['mutant_to_count'][mutant];
            new_row.unshift(mutant);
            all_data.push(new_row);
        };

        var data = google.visualization.arrayToDataTable(all_data);
        var options = {
            'legend': {'position': 'bottom', title: 'Experiment Type'},
            'title': 'Phenotypes by mutant type and experiment type',
            'vAxis': {title: 'Mutant Type'},
            'hAxis': {title: '# of Phenotypes'},
            'dataOpacity':.75,
            'colors': ["#7FBF7B", "#AF8DC3", "#1F78B4"],
            'backgroundColor': 'transparent'
        };

        var chart = new google.visualization.BarChart(document.getElementById('mutant_experiment_chart'));
        chart.draw(data, options);

        //Strain Chart
        var strain_all_data = [['Strain', 'Phenotypes']];
        //Prepare Data
        for(var j=0; j < overview_data['strain_list'].length; j++) {
            var strain = overview_data['strain_list'][j];
            var new_row = [strain, overview_data['strain_to_count'][strain]];
            strain_all_data.push(new_row);
        };

        var strain_data = google.visualization.arrayToDataTable(strain_all_data);
        var strain_options = {
            'legend': {'position': 'none'},
            'title': 'Phenotypes in different strain backgrounds',
            'vAxis': {title: '# of Phenotypes'},
            'hAxis': {title: 'Strain'},
            'dataOpacity':.75,
            'colors': ["#1F78B4"],
            'backgroundColor': 'transparent'
        };

        var strain_chart = new google.visualization.ColumnChart(document.getElementById('strain_chart'));
        strain_chart.draw(strain_data, strain_options);
      }
</script>