<!DOCTYPE html>

<script>
	var phenotype_details_link = "{{phenotype_details_link}}";
	var ontology_graph_link = "{{ontology_graph_link}}";
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

    var download_filename = "{{ phenotype.display_name }}_annotations";
    var analyze_filename = "<a href='{{ phenotype.link }}' class='gene_name'>{{ phenotype.display_name }}</a> genes";
</script>

<title>{{ phenotype.display_name }} Phenotype</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ phenotype.display_name }}</span> Phenotype</h2>
</div>

<div class="row">

<!-- Navbar
================================================== -->
<!-- Includes navbar.html into template -->
{% include "templates/navbar.jinja2" %}

<div class="small-12 large-9 columns content-column"> 

<script>
    add_navbar_title('<span class="gene_name">{{ phenotype.display_name }}</span><br>Phenotype')
    add_navbar_element('Summary', 'summary');
    add_navbar_element('Annotations', 'phenotype');
</script>

<!-- Summary
================================================== -->	
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Summary</h1>
		<p>
			<strong>Observable:</strong> <a href="{{ observable.link }}">{{ observable.display_name }}</a>
			<br>
			<strong>Qualifier:</strong> {{ phenotype.qualifier }}
		</p>
		
	</div>
</section>

<!-- Annotations
================================================== -->
<!-- Includes phenotype_table into template -->
{% include "templates/phenotype_table.jinja2" %}

</div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/phenotype.js"></script>
{% endblock scripts %}
