<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Phenotypes Summary</h1>
		<p>This page lists all curated single mutant phenotypes associated with {{display_name}}. Browse <a href="{{ontology_link}}">yeast phenotype ontology</a>.</p>
        <div class="panel" id="summary_wrapper">
			<div id="mutant_experiment_chart" style="width: 100%; height: 300px;"></div>

			<div class="button-bar">
				<ul class="button-group radius">
					<li><a disabled="true" class="small button secondary radius" id="save" download="{{regulation_overview_filename}}"><i class="icon-picture"></i> PNG</a></li>
				</ul>
			</div>
		</div>
        <br>
	</div>
</section>

<script>
	//Set up navbar
	document.getElementById('navbar_title').innerHTML = '<a href="{{link}}">{{display_name}}/{{format_name}}</a> {{navbar_title}}'
  	add_navbar_element('Phenotypes', 'phenotypes');
  	add_navbar_element('Resources', 'resources');
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    var overview_data = {{overview | safe}};
    var colors = [[127,191,123], [175,141,195], [31,120,180], [251,154,153], [227,26,28], [255,127,0], [191,91,23]];
    var colors_html = ["#7FBF7B", "#AF8DC3", "#1F78B4", "#FB9A99", "#E31A1C", "#FF7F00", "#BF5B17"];

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var labels = overview_data['experiment_types'];
        labels.unshift('Mutant Type');
        var all_data = [labels];
        //Prepare Data
        for(var j=0; j < overview_data['mutant_types'].length; j++) {
            var mutant = overview_data['mutant_types'][j];
            var new_row = overview_data['mutant_to_count'][mutant];
            new_row.unshift(mutant);
            all_data.push(new_row);
        };

        var data = google.visualization.arrayToDataTable(all_data);
        var options = {
            'legend': {'position': 'bottom'},
            'title': 'Mutant Information vs. Experiment Type',
            'dataOpacity':.75,
            'colors': ["#7FBF7B", "#AF8DC3", "#1F78B4"],
            'backgroundColor': 'transparent'
        };

        var chart = new google.visualization.BarChart(document.getElementById('mutant_experiment_chart'));
        chart.draw(data, options);
      }
</script>