<!DOCTYPE html>

<script>
	var protein_domains_link = "{{ protein_domain_details_link }}"
    var protein_domain_graph_link = "{{ protein_domain_graph_link }}"
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

    var domains_table_filename = "{{ locus.display_name }}_domains";
    var unique_domains_table_filename = "{{ locus.display_name }}_unique_domains";

	var display_name = "{{ locus.display_name }}";
	var locus_id = "{{ locus.id }}";
</script>

<title>{{ locus.display_name }} Protein</title>

{% extends "templates/global_layout.jinja2" %}

{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ locus.display_name }}/{{ locus.format_name }}</span> Protein Information</h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "templates/tabs.jinja2" %}
<script>document.getElementById('protein_tab').id = 'current';</script>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
        //Set up navbar
            add_navbar_title('<a href="{{ locus.link }}">{{ locus.display_name }}/{{ locus.format_name }}</a> Protein');
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Physical Details', 'physical_details');
            add_navbar_element('Sequence', 'sequence');
            add_navbar_element('Domains and Classification', 'domains');
            add_navbar_element('Physico-chemical Properties', 'physico_chemical_properties');
            add_navbar_element('Resources', 'resources');
        </script>

        <!-- Includes interaction_overview.html into template -->
        {% include "templates/protein_overview.jinja2" %}

<!-- Physical Details
================================================== -->
        <section id="physical_details" data-magellan-destination="physical_details">
            <div class="page-header">
                <h1>Physical Details</h1>
                <h3>Experimental Data</h3>
                    <ul class="unstyled">
                        <li><strong>Molecules/cell: </strong></li>
                    </ul>
                <h3>Predicted Sequence</h3>
                    <ul class="unstyled">
                        <li><strong>Length (a.a): </strong></li>
                        <li><strong>Molecular Weight (Da): </strong></li>
                        <li><strong>Isoelectric Point (pl): </strong></li>
                    </ul>
            </div>
        </section>

<!-- Sequence
================================================== -->
        <section id="sequence" data-magellan-destination="sequence">
            <div class="page-header">
                <h1>Sequence</h1>
            </div>
        </section>

<!-- Domains
================================================== -->
        <section id="domains" data-magellan-destination="domains">
            <div class="page-header">
                <h1>Domains and Classification <span id="domains_header" class="round secondary label"></span></h1>

                <h2 class="subheader">All Domains</h2>
                <!-- Includes domain_table into template -->
                {% set table_type = "" %}
                {% include "templates/domain_table.jinja2" %}

                <h2 class="subheader">Domain Locations</h2>
                <div id="domain_chart"></div>

                <h2 class="subheader">Shared Domains</h2>
                <div class="panel">
                    <div id="cy" name="cy" style="width:100%;height:500px"></div>
                </div><!-- .panel -->

                <h2 class="subheader">Unique Domains <span id="unique_domains_header" class="round secondary label"></span></h2>
                <!-- Includes domain_table into template -->
                {% set table_type = "unique_" %}
                {% include "templates/domain_table.jinja2" %}

            </div>
        </section>

<!-- Physico-Chemical Properties
================================================== -->
        <section id="physico_chemical_properties" data-magellan-destination="physico_chemical_properties">
            <div class="page-header">
                <h1>Physico-chemical Properties</h1>
                <div id="aa_composition">Amino Acid Composition</div>
                <div id="atomic_composition">Atomic Composition</div>
                <strong>Formula: </strong>
                <div>Estimated half-life</div>
                <div>Extinction coefficients at 280nm</div>
            </div>
        </section>

<!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
            <div class="page-header">
                <h1>Resources</h1>
                <h3>Homologs</h3>
                    <ul id='resource_list'>
                    </ul>
                <h3>Protein Databases</h3>
                    <ul id='resource_list'>
                    </ul>
                <h3>Localization</h3>
                    <ul id='resource_list'>
                    </ul>
                <h3>Sequence</h3>
                    <ul id='resource_list'>
                    </ul>
                <h3>Other</h3>
                    <ul id='resource_list'>
                    </ul>
            </div>
        </section>

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/jquery.nouislider.min.js"></script>
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/protein.js"></script>
{% endblock scripts %}
