<!DOCTYPE html>
		
<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Protein Summary</h1>
		<ul class="unstyled">
            <li><strong>Aliases: </strong></li>
            <li><strong>Gene Product: </strong></li>
            <li><strong>Description: </strong>{{ locus.description }}</li>
        </ul>
	</div>
</section>

<script src="/static/js/kinetic-v4.3.3.min.js"></script>
<script src="/static/js/venn.js"></script>
<script src="/static/js/interaction_overview.js"></script>

