<!DOCTYPE html>

<script>
	var protein_domains_link = "{{ protein_domain_details_link }}";
    var protein_domain_graph_link = "{{ protein_domain_graph_link }}";
    var sequence_details_link = "{{ sequence_details_link }}";
    var protein_phosphorylation_details_link = "{{ protein_phosphorylation_details_link }}";

	var download_table_link = "{{download_table_link}}";
    var download_sequence_link = "{{download_sequence_link}}";
	var analyze_link = "{{analyze_table_link}}";

    var domains_table_filename = "{{ locus.display_name }}_domains";
    var unique_domains_table_filename = "{{ locus.display_name }}_unique_domains";

	var display_name = "{{ locus.display_name }}";
	var locus_id = "{{ locus.id }}";
</script>

<title>{{ locus.display_name }} Protein</title>

{% extends "templates/global_layout.jinja2" %}

{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ locus.display_name }}/{{ locus.format_name }}</span> Protein Information</h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "templates/tabs.jinja2" %}
<script>document.getElementById('protein_tab').id = 'current';</script>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
        //Set up navbar
            add_navbar_title('<a href="{{ locus.link }}">{{ locus.display_name }}/{{ locus.format_name }}</a> Protein');
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Domains and Classification', 'domains');
            add_navbar_element('Experimental Data', 'experiment');
            add_navbar_element('Sequence', 'sequence');
            add_navbar_element('Resources', 'resources');
        </script>

        <!-- Includes protein_overview.html into template -->
        {% include "templates/protein_overview.jinja2" %}

<!-- Domains
================================================== -->
        <section id="domains" data-magellan-destination="domains">
            <div class="page-header">
                <h1>Domains and Classification <span id="domains_header" class="round secondary label"></span></h1>
                <!-- Includes domain_table into template -->
                {% include "templates/domain_table.jinja2" %}

                <h2 class="subheader">Domain Locations</h2>
                <div id="domain_chart"></div>

                <div id="shared_domains">
                    <h2 id="network" class="subheader">Shared Domains</h2>
                    <div class="panel">
                        <div id="cy" name="cy" style="width:100%;height:500px"></div>
                    </div><!-- .panel -->
                </div>
            </div>
        </section>

        <!-- Experimental Data
================================================== -->
        <section id="experiment" data-magellan-destination="experiment">
            <div class="page-header">
                <h1>Experimental Data</h1>
                <ul class="unstyled">
                    <li><strong>Molecules/cell: </strong></li>
                </ul>
            </div>
        </section>

<!-- Sequence
================================================== -->
        <section id="sequence" data-magellan-destination="sequence">
            <div class="page-header">
                <h1>Sequence</h1>
                <label><h3>Strain</h3>
                    <select id="strain_selection" class="big-input"></select> - <span id="strain_description"></span>
                </label>

                <div class="button-bar">
                    <ul class="button-group radius">
                        <li><a id="sequence_download" class="small button secondary"><i class="icon-download-alt"></i> Download</a></li>
                    </ul>
                </div>
                <blockquote id="sequence_residues" style="font-family:Monospace"></blockquote>

                <div id="phosphorylation_sites_wrapper">
                    <h2 class="subheader">Phosphorylation Sites
                        <span class="round secondary label">
                            <span id="phosphorylation_header"></span>
                            <small id="phosphorylation_header_type"></small>
                            <span id="phosphorylation_subheader"></span>
                            <small id="phosphorylation_subheader_type"></small>
                        </span>
                    </h2>
                    <!-- Includes phosphorylation_table into template -->
                    {% include "templates/phosphorylation_table.jinja2" %}
                </div>

                <div id="physicochemical_props">
                    <h2 class="subheader">Sequence-Based Physico-chemical Properties</h2>

                    <div class="row">
                        <div class="small-12 large-6 columns content-column">
                            <h3>Physical Details</h3>
                            <table class="table table-striped table-bordered table-condensed" id="phosphorylation_table" width="100%">
                                <tbody>
                                    <tr><td>Length (a.a):</td><td id="length"></td></tr>
                                    <tr><td>Molecular Weight (Da):</td><td id="molecular_weight"></td></tr>
                                    <tr><td>Isoelectric Point (pl):</td><td id="pi"></td></tr>
                                    <tr><td>Formula:</td><td id="formula"></td></tr>
                                    <tr><td>Aliphatic Index:</td><td id="aliphatic_index"></td></tr>
                                    <tr><td>Instability Index:</td><td id="instability_index"></td></tr>
                                </tbody>
                            </table>

                            <h3>Amino Acid Composition</h3>
                            <table class="table table-striped table-bordered table-condensed" id="amino_acid_table" width="100%">
                                <thead>
                                    <tr>
                                        <th>Amino Acid</th>
                                        <th>Frequency</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="small-12 large-6 columns content-column">
                            <h3>Coding Region Translation Calculations</h3>
                            <table class="table table-striped table-bordered table-condensed" id="phosphorylation_table" width="100%">
                                <tbody>
                                    <tr><td>Codon Bias:</td><td id="codon_bias"></td></tr>
                                    <tr><td>Codon Adaptation Index:</td><td id="cai"></td></tr>
                                    <tr><td>Frequence of Optimal Codons:</td><td id="fop_score"></td></tr>
                                    <tr><td>Hydropathicity of Protein:</td><td id="gravy_score"></td></tr>
                                    <tr><td>Aromaticity Score:</td><td id="aromaticity_score"></td></tr>
                                </tbody>
                            </table>

                            <h3>Extinction Coefficients at 280nm</h3>
                            <table class="table table-striped table-bordered table-condensed" id="phosphorylation_table" width="100%">
                                <tbody>
                                    <tr><td>ALL Cys residues appear as half cystines:</td><td id="all_half_cys_ext_coeff"></td></tr>
                                    <tr><td>NO Cys residues appear as half cystines:</td><td id="no_cys_ext_coeff"></td></tr>
                                    <tr><td>all Cys residues are reduced:</td><td id="all_cys_ext_coeff"></td></tr>
                                    <tr><td>all pairs of Cys residues form cystines:</td><td id="all_pairs_cys_ext_coeff"></td></tr>
                                </tbody>
                            </table>

                            <h3>Estimated Half-life</h3>
                            <table class="table table-striped table-bordered table-condensed" id="phosphorylation_table" width="100%">
                                <tbody>
                                    <tr><td>Escherichia coli (in vivo):</td><td id="ecoli_half_life"></td></tr>
                                    <tr><td>mammalian reticulocytes (in vitro):</td><td id="mammal_half_life"></td></tr>
                                    <tr><td>yeast (in vivo):</td><td id="yeast_half_life"></td></tr>
                                </tbody>
                            </table>

                            <h3>Atomic Composition</h3>
                            <table class="table table-striped table-bordered table-condensed" id="atomic_table" width="100%">
                                <thead>
                                    <tr>
                                        <th>Atom</th>
                                        <th>Frequency</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
            <div class="page-header">
                <h1>Resources</h1>
                <h3>Homologs</h3>
                    <ul id='resource_list'>
                    </ul>
                <h3>Protein Databases</h3>
                    <ul id='resource_list'>
                    </ul>
                <h3>Localization</h3>
                    <ul id='resource_list'>
                    </ul>
                <h3>Sequence</h3>
                    <ul id='resource_list'>
                    </ul>
                <h3>Other</h3>
                    <ul id='resource_list'>
                    </ul>
            </div>
        </section>

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/jquery.nouislider.min.js"></script>
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/protein_details.js"></script>
{% endblock scripts %}
