<!DOCTYPE html>
		
<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Abstract</h1>
		<p>{{ reference.abstract|safe}}</p>
        <ul id="ref_links" class="ref-links">
            <li>PMID: {{ reference.pubmed_id }}</li>
            {% for url in reference.urls %}
                <li><a href="{{ url.link|e }}">{{ url.display_name|e }}</a></li>
            {% endfor %}
        </ul>

        <ul>
            <li><strong>Authors:</strong>
                {% for author in reference.authors %}
                    {% if loop.index < 11 %}<span><a href="{{ author.link|e }}">{{ author.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                {% endfor %}

                <a id="author_see_more_button" onclick="$('#author_see_more').show();$('#author_see_more_button').hide();$('#author_see_less_button').show();" {% if reference.authors|length <= 10 %}hidden{% endif %}>... See more >></a>
                <span id="author_see_more" hidden>
                    {% for author in reference.authors %}
                        {% if loop.index >= 11 %}<span><a href="{{ author.link|e }}">{{ author.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                    {% endfor %}
                </span>
                <a id="author_see_less_button" onclick="$('#author_see_more').hide();$('#author_see_more_button').show();$('#author_see_less_button').hide();" hidden> << See less</a>
            </li>

            {% if overview.primary|length  > 0 %}
                <li><strong>Primary Literature For:</strong>
                    {% for evidence in overview.primary %}
                        {% if loop.index < 11 %}<span><a href="{{ evidence.bioentity.link|e }}">{{ evidence.bioentity.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                    {% endfor %}

                    <a id="primary_see_more_button" onclick="$('#primary_see_more').show();$('#primary_see_more_button').hide();$('#primary_see_less_button').show();" {% if overview.primary|length <= 10 %}hidden{% endif %}>... See more >></a>
                    <span id="primary_see_more" hidden>
                        {% for evidence in overview.primary %}
                            {% if loop.index >= 11 %}<span><a href="{{ evidence.bioentity.link|e }}">{{ evidence.bioentity.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                        {% endfor %}
                    </span>
                    <a id="primary_see_less_button" onclick="$('#primary_see_more').hide();$('#primary_see_more_button').show();$('#primary_see_less_button').hide();" hidden> << See less</a>
                </li>
            {% endif %}

            {% if overview.additional|length > 0 %}
                <li><strong>Additional Literature For:</strong>
                    {% for evidence in overview.additional %}
                        {% if loop.index < 11 %}<span><a href="{{ evidence.bioentity.link|e }}">{{ evidence.bioentity.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                    {% endfor %}

                    <a id="additional_see_more_button" onclick="$('#additional_see_more').show();$('#additional_see_more_button').hide();$('#additional_see_less_button').show();" {% if overview.additional|length <= 10 %}hidden{% endif %}>... See more >></a>
                    <span id="additional_see_more" hidden>
                        {% for evidence in overview.additional %}
                            {% if loop.index >= 11 %}<span><a href="{{ evidence.bioentity.link|e }}">{{ evidence.bioentity.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                        {% endfor %}
                    </span>
                    <a id="additional_see_less_button" onclick="$('#additional_see_more').hide();$('#additional_see_more_button').show();$('#additional_see_less_button').hide();" hidden> << See less</a>
                </li>
            {% endif %}

            {% if overview.reviews|length  > 0 %}
                <li><strong>Review For:</strong>
                    {% for evidence in overview.reviews %}
                        {% if loop.index < 11 %}<span><a href="{{ evidence.bioentity.link|e }}">{{ evidence.bioentity.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                    {% endfor %}

                    <a id="review_see_more_button" onclick="$('#review_see_more').show();$('#review_see_more_button').hide();$('#review_see_less_button').show();" {% if overview.reviews|length <= 10 %}hidden{% endif %}>... See more >></a>
                    <span id="review_see_more" hidden>
                        {% for evidence in overview.reviews %}
                            {% if loop.index >= 11 %}<span><a href="{{ evidence.bioentity.link|e }}">{{ evidence.bioentity.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                        {% endfor %}
                    </span>
                    <a id="review_see_less_button" onclick="$('#review_see_more').hide();$('#review_see_more_button').show();$('#review_see_less_button').hide();" hidden> << See less</a>
                </li>
            {% endif %}
        </ul>
	</div>
</section>