<!DOCTYPE html>

<script>
    var overview_json = {{ overview | safe }};
	var target_count = overview_json["target_count"];
	var regulator_count = overview_json["regulator_count"];
	var display_name = "{{ locus.display_name }}";
	var download_image_link = "{{ download_image_link }}";

	var regulation_details_link = "{{ regulation_details_link }}";
	var protein_domains_link = "{{ protein_domain_details_link }}"
	var binding_site_details_link = "{{ binding_site_details_link }}"
	var regulation_target_enrichment_link = "{{ regulation_target_enrichment_link }}"
	var regulation_graph_link = "{{ regulation_graph_link }}";

	var download_table_link = "{{ download_table_link }}";
	var analyze_link = "{{ analyze_link }}";
	var go_enrichment_link = "{{ go_enrichment_link }}";

    var domains_table_filename = "{{ locus.display_name }}_domains";
	var targets_table_filename = "{{ locus.display_name }}_targets";
	var enrichment_table_filename = "{{ locus.display_name }}_targets_go_process_enrichment"
	var regulators_table_filename = "{{ locus.display_name }}_regulators";
    var analyze_filename = "<a href='{{ locus.link }}' class='gene_name'>{{ locus.display_name }}</a>";
</script>

<title>{{ locus.display_name }} Regulation</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ locus.display_name }}/{{ locus.format_name }}</span> Transcriptional Regulation  <a href="/help/function-help/regulation" name="top" class="help"><img src="/images/icon_help_circle_dark.png" alt="Help"></a></h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "templates/tabs.jinja2" %}
<script>document.getElementById("regulation_tab").id = "current";</script>

<div class="row">

    <!-- Navbar
    ================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">
        <script>
            add_navbar_title('<a href="{{ locus.link }}">{{ locus.display_name }}/{{ locus.format_name }}</a> Regulation');
            add_navbar_element("Regulation Summary", "summary");

            if(target_count > 0) {
                add_navbar_element("Domains and Classification", "domains");
                add_navbar_element("DNA Binding Site Motifs", "binding");
                add_navbar_element("Targets", "targets_regulation");
                add_navbar_element("Shared GO Processes Among Targets", "enrichment");
            }

            if(regulator_count > 0) {
                add_navbar_element("Regulators", "regulators_regulation");
            }

            if(target_count + regulator_count > 0) {
                add_navbar_element("Network Visualization", "network");
            }
        </script>

        <!-- Includes regulation_overview.html into template -->
        {% include "templates/regulation_overview.jinja2" %}

<!-- Domains
================================================== -->
        <section id="domains" data-magellan-destination="domains" hidden>
            <div class="page-header">
                <h1>Domains and Classification <span id="domains_header" class="round secondary label"></span></h1>
                <div>
                    <div class="button-bar">
                        <ul class="button-group radius">
                            <li><a id="domains_table_download" class="small button secondary"><i class="icon-download-alt"></i> Download</a></li>
                        </ul>
                    </div>

                    <table class="table table-striped table-bordered table-condensed" id="domains_table" width="100%">
                    <thead>
                    <tr>
                        <th>Evidence ID</th>
                        <th>Protein</th>
                        <th>Protein Coordinates</th>
                        <th>Accession ID</th>
                        <th>Description</th>
                        <th>Source</th>
                    </tr>
                    </thead>
                    </table>
                </div>
           </div>
        </section>

<!-- Binding Sites
================================================== -->
        <section id="binding" data-magellan-destination="binding" hidden>
            <div class="page-header">
                <h1>DNA Binding Site Motifs</h1>
                <div>
                    Click on a motif to view <a href="http://yetfasco.ccbr.utoronto.ca" target="_blank">YeTFaSCo</a> record.
                    <ul id="binding_motifs"></ul>
                    <h3>View predicted binding sites in the <a href="http://browse.yeastgenome.org/cgi-bin/gbrowse/scgenome/?name={{ locus.display_name }}_*&enable=SGD%20PMW%20motifs">Genome Browser</a></h3>
                </div>
           </div>
        </section>

<!-- Targets
================================================== -->
        <!-- Includes regulation_table into template -->
        {% set table_type = "targets" %}
        {% include "templates/regulation_table.jinja2" %}

<!-- Enrichment
================================================== -->
        <section id="enrichment" data-magellan-destination="enrichment" hidden>
            <div class="page-header">
                <h1>Shared GO Processes Among Targets <span class="round secondary label"><span id="enrichment_header"></span> <small>entries for</small> <span id="enrichment_gene_header"></span> <small>genes</small></span></h1>
                <div>
                    <div class="button-bar">
                        <ul class="button-group radius">
                            <li><a id="enrichment_table_download" class="small button secondary"><i class="icon-download-alt"></i> Download</a></li>
                        </ul>
                        <ul class="button-group radius">
                            <li><a id="enrichment_table_recalculate" class="small button secondary" style="display:none">Recalculate With New Filter</a></li>
                        </ul>
                    </div>

                    <table class="table table-striped table-bordered table-condensed" id="enrichment_table" width="100%">
                    <thead>
                    <tr>
                        <th>GO Term ID</th>
                        <th>GO Term</th>
                        <th>Number of genes</th>
                        <th>P-Value</th>
                    </tr>
                    </thead>
                    </table>
                </div>
           </div>
        </section>

<!-- Regulators
================================================== -->
        <!-- Includes regulation_table into template -->
        {% set table_type = "regulators" %}
        {% include "templates/regulation_table.jinja2" %}

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h1>Network Visualization</h1>
                <div class="panel">
                    <div id="discrete_filter" hidden>
                        <label for="all_radio">
                            <input id="all_radio" type="radio" name="group1" checked> All
                        </label>
                        <label for="targets_radio">
                            <input id="targets_radio" type="radio" name="group1"> Targets
                        </label>
                        <label for="regulators_radio">
                            <input id="regulators_radio" type="radio" name="group1"> Regulators
                        </label>
                    </div>

                    <div id="cy" name="cy" style="width:100%;height:700px"></div>
                    <br>
                    <h5>Filter Regulation Relationships by # of Experiments:</h5>
                    <div id="slider" class="noUiSlider" style="width:100%"></div>
                    <div id="slider_ticks"></div>
                    <br>
                </div><!-- .panel -->
            </div>
        </section>
    </div><!-- .tab-content -->
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/jquery.nouislider.min.js"></script>
<script src="/static/js/cytoscape/cytoscape.min.js"></script>	
<script src="/static/js/cytoscape/arbor.js"></script>	
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/regulation_details.js"></script>
{% endblock scripts %}
