<!DOCTYPE html>

<title>{{ locus.display_name }} Regulation</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ locus.display_name }}/{{ locus.format_name }}</span> Transcriptional Regulation  <a href="/help/function-help/regulation" name="top" class="help"><img src="/images/icon_help_circle_dark.png" alt="Help"></a></h2>
</div>


<!-- Includes tabs.html into template -->
{% include "templates/tabs.jinja2" %}
<script>document.getElementById('regulation_tab').id = 'current';</script>

<div class="row">
	
<!-- Includes navbar.html into template -->
{% include "templates/navbar.jinja2" %}

<div class="small-12 large-9 columns content-column"> 
	
<!-- Includes regulation_overview.html into template -->
{% include "templates/regulation_overview.jinja2" %}

<!-- Domains
================================================== -->
<section id="domains" data-magellan-destination="domains" style="display:none">
	<div class="page-header">
		<h1>Domains and Classification <span id="domains_header" class="round secondary label"></span></h1>
		<div>
			<div class="button-bar">
				<ul class="button-group radius">
					<li><a id="domains_table_download" class="small button secondary"><i class='icon-download-alt'></i> Download</a></li>
				</ul>
			</div>
			
			<table class='table table-striped table-bordered table-condensed' id='domains_table' width="100%">
			<thead>
  			<tr>
  				<th>Protein</th>
  				<th>Protein Coordinates</th>
  				<th>Accession ID</th>
  				<th>Description</th>
   				<th>Source</th>
  			</tr>
  			</thead>
			</table>
        </div>
   </div>
</section>

<!-- Binding Sites
================================================== -->
<section id="binding" data-magellan-destination="binding" style="display:none">
	<div class="page-header">
		<h1>DNA Binding Site Motifs</h1>
		<div>
			Click on a motif to view <a href="http://yetfasco.ccbr.utoronto.ca" target="_blank">YeTFaSCo</a> record.
			<ul id="binding_motifs"></ul>
        	<h3>View predicted binding sites in the <a href="http://browse.yeastgenome.org/cgi-bin/gbrowse/scgenome/?name={{ locus.display_name }}_*&enable=SGD%20PMW%20motifs">Genome Browser</a></h3>
   	    </div>
   </div>
</section>

<!-- Targets
================================================== -->
<section id="targets" data-magellan-destination="targets" style="display:none">
	<div class="page-header">
		<h1>Targets <span class="round secondary label"><span id="targets_header"></span> <small>entries for</small> <span id="targets_gene_header"></span> <small>genes</small></span></h1>
		<div>
			<div class="button-bar">
				<ul class="button-group radius">
					<li><a id="targets_table_download" class="small button secondary"><i class='icon-download-alt'></i> Download</a></li>
				</ul>
						
				<ul class="button-group radius">
					<li><a id="targets_table_analyze" class="small button secondary"><i class='icon-briefcase'></i> Analyze</a></li>
				</ul>
			</div>
			
			<table class='table table-striped table-bordered table-condensed' id='targets_table' width="100%">
			<thead>
  			<tr>
  				<th>Regulator</th>
  				<th>Regulator Systematic Name</th>
  				<th>Target</th>
  				<th>Target Systematic Name</th>
  				<th>Experiment</th>
  				<th>Conditions</th>
  				<th>Strain</th>
  				<th>Source</th>
   				<th>Reference</th>
  			</tr>
  			</thead>
			</table>
        </div>
   </div>
</section>

<!-- Enrichment
================================================== -->
<section id="enrichment" data-magellan-destination="enrichment" style="display:none">
	<div class="page-header">
		<h1>Shared GO Processes Among Targets <span class="round secondary label"><span id="enrichment_header"></span> <small>entries for</small> <span id="enrichment_gene_header"></span> <small>genes</small></span></h1>
		<div>
			<div class="button-bar">
				<ul class="button-group radius">
					<li><a id="enrichment_table_download" class="small button secondary"><i class='icon-download-alt'></i> Download</a></li>
				</ul>
				<ul class="button-group radius">
					<li style="display:none" id="filter_message"><a id="enrichment_recalc" class="small button secondary">Recalculate With New Filter</a></li>
				</ul>
			</div>
			
			<table class='table table-striped table-bordered table-condensed' id='enrichment_table' width="100%">
			<thead>
  			<tr>
  				<th>GO Term</th>
  				<th>Number of genes</th>
  				<th>P-Value</th>
  			</tr>
  			</thead>
			</table>
        </div>
   </div>
</section>

<!-- Regulators
================================================== -->
<section id="regulators" data-magellan-destination="regulators" style="display:none">
	<div class="page-header">
		<h1>Regulators <span class="round secondary label"><span id="regulators_header"></span> <small>entries for</small> <span id="regulators_gene_header"></span> <small>genes</small></span></h1>
		<div>
			<div class="button-bar">
				<ul class="button-group radius">
					<li><a id="regulators_table_download" class="small button secondary"><i class='icon-download-alt'></i> Download</a></li>
				</ul>
						
				<ul class="button-group radius">
					<li><a id="regulators_table_analyze" class="small button secondary"><i class='icon-briefcase'></i> Analyze</a></li>
				</ul>
			</div>
			
			<table class='table table-striped table-bordered table-condensed' id='regulators_table' width="100%">
			<thead>
  			<tr>
  				<th>Target</th>
  				<th>Target Systematic Name</th>
  				<th>Regulator</th>
  				<th>Regulator Systematic Name</th>
  				<th>Experiment</th>
  				<th>Conditions</th>
  				<th>Strain</th>
  				<th>Source</th>
   				<th>Reference</th>
  			</tr>
  			</thead>
			</table>
        </div>
   </div>
</section>

<!-- Network Visualization
================================================== -->
<section id="network" data-magellan-destination="network">
	<div class="page-header">
		<h1>Network Visualization</h1>
		<div class="panel">
			<label for="all_radio">
				<input id="all_radio" type="radio" name="group1" checked> All
			</label>
			<label for="targets_radio">
				<input id="targets_radio" type="radio" name="group1"> Targets
			</label>
			<label for="regulators_radio">
				<input id="regulators_radio" type="radio" name="group1"> Regulators
			</label>
			
			<div id="cy" name="cy" style="width:100%;height:700px"></div>
			<br>
			<h5>Filter Regulation Relationships by # of Experiments:</h5>
			<div id='all_slider' class='noUiSlider' style="width:100%"></div>
			<div id='targets_slider' class='noUiSlider' style="width:100%"></div>
			<div id='regulators_slider' class='noUiSlider' style="width:100%"></div>
			<br>
		</div><!-- .panel -->
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
</section>


</div><!-- .tab-content -->
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/jquery.nouislider.min.js"></script>
<script src="/static/js/cytoscape/cytoscape.min.js"></script>	
<script src="/static/js/cytoscape/arbor.js"></script>	
<script src="/static/js/regulation_details.js"></script>

<script>
	
	//Graph style
	var graph_style = cytoscape.stylesheet()
	.selector('node')
	.css({
		'content': 'data(name)',
		'font-family': 'helvetica',
		'font-size': 14,
		'text-outline-width': 3,
		'text-outline-color': '#888',
		'text-valign': 'center',
		'color': '#fff',
		'width': 30,
		'height': 30,
		'border-color': '#fff'
	})
	.selector('edge')
	.css({
		'width': 2,
		'target-arrow-shape': 'triangle',
		'line-color': '#848484',
		'target-arrow-color': '#848484'
	})
	.selector("node[sub_type='FOCUS']")
	.css({
		'background-color': "#fade71",
		'text-outline-color': '#fff',
		'color': '#888'
	})
	.selector("node[class_type='TARGET'][sub_type!='FOCUS']")
	.css({
		'background-color': "#AF8DC3",
		'text-outline-color': '#888',
		'color': '#fff'
	})
	.selector("node[class_type='REGULATOR'][sub_type!='FOCUS']")
	.css({
		'background-color': "#7FBF7B",
		'text-outline-color': '#888',
		'color': '#fff'
	});
	
	var layout = {
		"name": "arbor",
		"liveUpdate": true,
		"ungrabifyWhileSimulating": true,
		"nodeMass":function(data) {
			if(data.sub_type == 'FOCUS') {
				return 10;
			}
			else {
				return 1;
			}
		}
	};

    //Template links and filenames
	var regulation_overview_link = "{{regulation_overview_link}}";
	var regulation_details_link = "{{regulation_details_link}}";
	var protein_domains_link = "{{protein_domain_details_link}}"
	var binding_site_details_link = "{{binding_site_details_link}}"
	var regulation_target_enrichment_link = "{{regulation_target_enrichment_link}}"
	var regulation_graph_link = "{{regulation_graph_link}}";

	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_link}}";
	var go_enrichment_link = "{{go_enrichment_link}}";

    var domains_table_filename = "{{ locus.display_name }}_domains";
	var targets_table_filename = "{{ locus.display_name }}_targets";
	var enrichment_table_filename = "{{ locus.display_name }}_targets_go_process_enrichment"
	var regulators_table_filename = "{{ locus.display_name }}_regulators";
    var analyze_filename = "<a href='{{ locus.link }}' class='gene_name'>{{ locus.display_name }}</a>";

	
	var overview_json = {{overview | safe}};
	
	$(document).ready(function() {

		//Get domain data
		if(overview_json['target_count'] > 0) {
			$.getJSON(protein_domains_link, function(data) {
	   			var header_id = "domains_header";
	  			var table_id = "domains_table";
	  			var download_button_id = "domains_table_download";
	  			var section_id = "domains";
	  			
	  			if(data != null && data.length > 0) {
	  				document.getElementById(section_id).style.display = "block";
	  				set_up_domains_table(header_id, table_id, download_button_id, 
	  				download_table_link, domains_table_filename, data);
	  			}
  			});
		}
  		
  		//Get binding site data
  		if(overview_json['target_count'] > 0) {
	  		$.getJSON(binding_site_details_link, function(data) {
	  			var list_id = "binding_motifs";
	  			var section_id = "binding";
	  			var section_navbar_id = "navbar_binding";
	  			
	  			if(data.length > 0) {
	  				document.getElementById(section_id).style.display = "block";
	  				set_up_binding_site(list_id, data);
	  			}  			
	  			else {
	  				document.getElementById(section_navbar_id).style.display = "none";
					document.getElementById(section_navbar_id).removeAttribute('data-magellan-arrival')
	  			}
	  		});
	  	}
  		
		//Get evidence data
  		$.getJSON(regulation_details_link, function(data) {
  			if(overview_json['target_count'] > 0) {
	  			var target_data = data["targets"];
	  			var targets_header_id = "targets_header";
	  			var targets_gene_header = "targets_gene_header";
	  			var targets_table_id = "targets_table";
	  			var targets_download_button_id = "targets_table_download";
	  			var targets_analyze_button_id = "targets_table_analyze";
	  			
	  			var target_section_id = "targets";
	  			var domain_section_id = "domains";
	  			var enrichment_section_id = "enrichment";
	  			var filter_message_id = "filter_message";
	  			var target_button_id = "targ";
	  			
	  			if(target_data.length > 0) {
	  				document.getElementById(target_section_id).style.display = "block";
	  				set_up_target_table(targets_header_id, targets_gene_header, targets_table_id, filter_message_id,
	  				targets_download_button_id, targets_analyze_button_id, 
	  				download_table_link, targets_table_filename, 
	  				analyze_link, analyze_filename, target_button_id, target_data);
	
	  				//Set up go enrichment				
					go_enrichment(go_enrichment_link, target_table, target_format_name_to_id, 3, enrich_header_id, enrich_gene_header_id, enrich_table_id, enrich_recalc_button_id,
						enrich_download_button_id, download_table_link, enrichment_table_filename);
	  			}
  			}
  			
  			if(overview_json['regulator_count'] > 0) {
	  			var regulator_data = data["regulators"];
	  			var regulators_header_id = "regulators_header";
	  			var regulators_gene_header = "regulators_gene_header";
	  			var regulators_table_id = "regulators_table";
	  			var regulators_download_button_id = "regulators_table_download";
	  			var regulators_analyze_button_id = "regulators_table_analyze";
	  			var regulation_button_id = "reg";
	  			
	  			var regulator_section_id = "regulators";
	  			
	  			if(regulator_data.length > 0) {	
	  				document.getElementById(regulator_section_id).style.display = "block";	
	  				set_up_regulator_table(regulators_header_id, regulators_gene_header, regulators_table_id,
	  				regulators_download_button_id, regulators_analyze_button_id, 
	  				download_table_link, regulators_table_filename, 
	  				analyze_link, analyze_filename, regulation_button_id, regulator_data);
	  			}
	  		}
  			
  		});
  		
  		var enrich_gene_header_id = "enrichment_gene_header";
  		var enrich_header_id = "enrichment_header";
  		var enrich_section_id = "enrichment";
		var enrich_table_id = "enrichment_table";
		var enrich_download_button_id = "enrichment_table_download";
		var enrich_recalc_button_id = "enrichment_recalc";
		
  		//Get target enrichment
  		if(overview_json['target_count'] > 0) {
  			document.getElementById(enrich_section_id).style.display = "block";	
	  		set_table_message(enrich_table_id, '<center><img src="/static/img/dark-slow-wheel.gif"></center>')	
	  		$.getJSON(regulation_target_enrichment_link, function(data) {
	  			set_up_enrichment_table(enrich_header_id, enrich_table_id, enrich_download_button_id, download_table_link, enrichment_table_filename, data)
	  			$('#' + enrich_recalc_button_id).removeAttr('disabled');
	  			document.getElementById(enrich_gene_header_id).innerHTML = overview_json['target_count']
	  		});
	  	}
  		
  		//Get graph
  		$.getJSON(regulation_graph_link, function(data) {
  			var graph_id = "cy";
  			var all_slider_id = "all_slider";
  			var target_slider_id = "targets_slider";
  			var regulator_slider_id = "regulators_slider";
  			
  			var all_radio_id = "all_radio";
  			var target_radio_id = "targets_radio";
  			var regulator_radio_id = "regulators_radio";
  			
  			var section_id = "network";
  			var section_navbar_id = "navbar_network";
  			
  			if(data["nodes"].length > 1) {
  				cy = setup_regulation_cytoscape_vis(graph_id, 
				all_slider_id, target_slider_id, regulator_slider_id, 
				all_radio_id, target_radio_id, regulator_radio_id,
				layout, graph_style, data);
  			}
  			else {
  				document.getElementById(section_id).style.display = "none";
				document.getElementById(section_navbar_id).style.display = "none";
				document.getElementById(section_navbar_id).removeAttribute('data-magellan-arrival')
				
				//Hack because footer overlaps - need to fix this.
				next_section = document.getElementById("regulators");
				next_section.appendChild(document.createElement("br"))
				next_section.appendChild(document.createElement("br"))
				next_section.appendChild(document.createElement("br"))
				next_section.appendChild(document.createElement("br"))
				next_section.appendChild(document.createElement("br"))
				next_section.appendChild(document.createElement("br"))
  			}
			
		});
    
	});
</script>
        

{% endblock scripts %}
