<!DOCTYPE html>

<script>
    var overview_json = {{ overview | safe }};
</script>

<title>Regulation Snapshot</title>

{% extends "global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2>Regulation Snapshot</h2>
</div>

<div class="row">

    <!-- Navbar
    ================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">
        <script>
            add_navbar_title('Regulation Snapshot');
            add_navbar_element("Data Overview", "summary");
            add_navbar_element("Histograms", "histograms");
            add_navbar_element("Get Regulation Data", "data");

        </script>

        <!-- Summary
        ================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Data Overview</h1>
                <p>SGD uses a variety of data...</p>
                <div class="panel">
                    <div class="row">
                        <div class="large-4 columns" id="experiment_diagram"></div>
                    </div>
                </div>
            </div>
        </section>

        <section id="histograms" data-magellan-destination="histograms">
	        <div class="page-header">
                <h1>Histograms</h1>
                <div class="panel">
                    <div id="annotation_histogram_diagram"></div>
                    <div id="regulator_histogram_diagram"></div>
                    <div id="target_histogram_diagram"></div>
                </div>
            </div>
        </section>

        <section id="data" data-magellan-destination="data">
	        <div class="page-header">
		        <h1>Get Regulation Data</h1>
		        Get regulation data for <input placeholder="Gene name, systematic ORF name, or SGDID" style="width:350px"></input><a class="secondary button"><i class="fa fa-search"></i></a>
		        <br><br>
		    </div>
        </section>

    </div><!-- .tab-content -->
</div>
{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/static/js/interaction_snapshot.js"></script>
{% endblock scripts %}



