<!DOCTYPE html>
		
<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Regulation Summary</h1>
		<p id="summary_paragraph"></p>
		
		<ul id="summary_paragraph_reference_list" class="literature-list"></ul>
		
		<p id="summary_message" style="display:none">0 Targets and 0 Regulators curated.</p>
		<div class="panel" id="summary_wrapper">
			<div id="summary_diagram"></div>
		
			<div class="button-bar">
				<h5>Analyze</h5>
				<ul class="button-group radius">
					<li><a disabled="true" id="analyze_targets" class="small button secondary">Targets</a></li>
					<li><a disabled="true" id="analyze_regulators" class="small button secondary">Regulators</a></li>
				</ul>
				<ul class="button-group radius">
					<li><a disabled="true" class="small button secondary radius" id="download_overview"><i class="icon-picture"></i> PNG</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<script>
	var overview_json = {{overview | safe}};
	var target_count = overview_json['target_count'];
	var regulator_count = overview_json['regulator_count']

	var link = "{{ locus.link }}";
	var display_name = "{{ locus.display_name }}";
	var format_name = "{{ locus.format_name }}";

	var download_image_link = "{{ download_image_link }}";
</script>

<script src="/static/js/regulation_navbar.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/regulation_overview.js"></script>
