<div class="row">
	<nav id="tab" class="small-12 columns">
		<ul>
			<li><a href="#"><span>Summary</span></a></li>
			<li><a href="#"><span>Locus History</span></a></li>
			<li><a href="#"><span>Literature</span></a></li>
			<li><a href="#"><span>Gene Ontology</span></a></li>
			<li id="current"><a href="#"><span>Interactions</span></a></li>
			<li><a href="#"><span>Phenotype</span></a></li>
		<li><a href="#"><span>Wiki</span></a></li>   </ul>
	</nav>
</div>

<div id="shaded_line">
	<!-- empty -->
</div>

