<div class="row">
	<nav id="tab" class="small-12 columns">
		<ul>
			<li id="summary_tab"><a href="#"><span>Summary</span></a></li>
			<li id="history_tab"><a href="#"><span>Locus History</span></a></li>
			<li id="literature_tab"><a href="#"><span>Literature</span></a></li>
			<li id="go_tab"><a href="#"><span>Gene Ontology</span></a></li>
			<li id="interaction_tab"><a href="#"><span>Interactions</span></a></li>
			<li id="phenotype_tab"><a href="#"><span>Phenotype</span></a></li>
			<li id="wiki_tab"><a href="#"><span>Wiki</span></a></li>   
		</ul>
	</nav>
</div>

<div id="shaded_line">
	<!-- empty -->
</div>

