.container {
	width: 100%;
	position: relative;
}

.container form {
	float: right;
	margin-top: -1px;
}

.autoContainer {
	display: inline-block;
	position: relative;
	top: 2px;
	width: 24rem;
}

.autoInput {
	border: none;
	padding: 7px;
	width: 100% !important;
	padding-left: 1.75rem;
}

.autoInput:focus {
	outline: none;
}

.suggestionsContainer {
	position: absolute;
	background: white;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0 0 0.25rem 0.25rem;
	width: 100%;
	z-index: 1;
}

.searchIcon {
	position: absolute;
	left: 0.5rem;
    top: 0.8rem;
}

.suggestionsList {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.autoContainer .suggestionsContainer {
	display: none;
}

.autoContainerOpen .suggestionsContainer {
	display: block !important;
}

.catContainer {
	white-space: nowrap;
}

.autoListItem {
	display: flex;
	justify-content: space-between;
	padding: 0.1rem 0.5rem;
}

.suggestionFocused {
	background: #E8F2FE;
}


.searchBtn {
	display: inline-block;
	border-radius: 0 0.25rem 0.25rem 0;
}
