.litTableContainer {
	margin-top: 1rem;
}

.resultContainer {
	margin-top: 1rem;
}

.resultCatLabel {
	float: right;
}

.detailContainer {
	margin-bottom: 1rem;
}

.litThumb {
	max-width: 150px;
	float: right;
	margin-bottom: 1rem;
}

.listHeader {
	margin-bottom: 0;
}

.statusLabel {
	margin-bottom: 0.25rem;
}
