/***********************************************
Base rules - SMACSS 
http://smacss.com/book/type-base
************************************************/

/* head-alt used temporarily to mimick bootstrap-ish style */
.head-alt {
	color: #fff;
}

ul.unstyled, ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}
/* End of temp styles; remove once off Bootstrap "look" */

// Variables
$header-height: 85px;

input[type="text"] {
	@include border-radius($global-radius);
}

.no-margins {
	margin:0 !important;
}

.no-padding {
	margin:0 !important;
}

// global colors to complement those set in foundation
$tertiary-color: #aeabd3 !default;
$warning-color: #e6df67 !default;