/***********************************************
Layout rules - SMACSS 
http://smacss.com/book/type-layout
************************************************/

#layout-document {
	overflow: hidden;
}

/* Main page header, with global navigation */
#layout-page-header {
	width: 100%;
	height: 125px;
}

#layout-page-header-content {
	width: 100%;
	height: 80px;
}

#layout-page-header-nav {
	width: 100%;
	height: 45px;
}

/* PAGE FOOTER - sticky! */
@include sticky-footer(90px, "#layout-document", "#layout-document-footer-pusher", "#layout-document-footer");

#layout-document-footer {
	padding: 22px 0 10px;
}