/* LEGACY CSS - NEEDED TO MIMICK "CURRENT" YEASTGENOME.ORG */

// For tabs, title above tabs, and gray bar
#center_title {
    padding-bottom: 10px;
    text-align: center;
    h2 {
		font-size: 20px !important;
		margin: 10px 0 0;
	}
}

.gene_name {
    color: #980D0D;
    font-style: normal;
    font-weight: bold;
}

a.help {
    vertical-align: super;
}

#tab {
    //float: left;
    font-family: Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
    //min-width: 960px;
    width: 100%;
}

#tab ul {
    list-style: none outside none;
    margin: 0;
    padding: 10px 10px 0;
}

#tab #current {
    background: url("http://www.yeastgenome.org/images/TabSelectRt") no-repeat scroll right top transparent;
    height: 35px;
    margin: 0;
}
#tab li {
    background: url("http://www.yeastgenome.org/images/TabBlankRt") no-repeat scroll right top transparent;
    float: left;
    margin-top: 11px;
    padding: 0;
    line-height: 20px;
    margin-bottom: -5px; // hack; find real issue
}

#tab a:link {
    color: black;
    text-decoration: none;
}

#tab span {
    float: none;
}
#tab span {
    background: url("http://www.yeastgenome.org/images/TabBlankLft") no-repeat scroll left top transparent;
    display: block;
    float: left;
    padding: 5px 10px 4px;
}

#shaded_line {
    background: url("http://www.yeastgenome.org/images/Backgroundtile2.gif") repeat-x scroll 0 0 transparent;
    //float: left;
    height: 24px;
    //min-width: 960px;
    width: 100%;
}