/********************************************
Module rules - SMACSS 
http://smacss.com/book/type-module
*********************************************/

// Foundation overwrites
.inline-list {
	overflow: visible;
}

.small-input {
	font-size: emCalc(12px);
}

/* Footer Stylings */
#layout-document-footer {
	background: #696599;  //615F8F
	// @include background-image(linear-gradient(center top , #9190B7 0%, #615F8F 100%));
}

#header-tools {
	display: inline-block;
	float: right;
	height: 90px;
	.header-links {
		display: inline-block;
		overflow: hidden;
		float: right;
		height: 25px;
		margin-top: 7px;
		font-size: emCalc(13px);
		font-weight: bold;
		text-align: right;
		a {color: rgb(0,0,0);}
		a:hover {text-decoration: underline;}
	}
	.header-search {
		height: 50px;
		overflow: none;
	}
}

#adv-search-links {
	font-size: emCalc(11px);
	float: right;
}

.social-links, .site-links {
	overflow: visible;
	@include inline-list;
	$inline-list-display: inline;
	display: inline;
}

.site-links {
	margin: 0;
	position: absolute;
    right: 115px;
}

.social-links {
	margin: 0;
	li {
		margin-left: emCalc(8px);
		margin-top: emCalc(2px);
	}
}

.webicon.x-small {
    border-radius: 2px;
    height: 16px;
    width: 16px;
}

.header-search {
	position: relative;
	top: 5px;
}

#adv-search-links {
	font-size: emCalc(12px);
	margin-top: 4px;
}	


#logo-section {
	height: 90px;
}

.logo {
	background: url("../img/logo.gif") no-repeat;
	height: 90px;
	width: 400px;
	display: inline-block;
	.logo-label {
		display: inline-block;
		text-indent: -9999px;
	}
}

.top-bar {
	margin-bottom: 0;
}

#top-bar-search {
	margin-right: 0.8em;
}

// Footer
footer { // should be in states
	color: #fff;
	a, a:hover, a:active { 
		color: #fff;
		font-size: emCalc(14px);
	}
	a:hover { text-decoration: underline; }
}

#footer-links {
	display: block;
	list-style: none;
	overflow: hidden;
	margin-bottom: 5px;
	li { 
		float: left;
		margin-right: emCalc(20px);
	}
}

.logo-list {
	list-style: none;
	float: right;
	li {
		float: left;
		margin-left: 20px;
	}
}

#copyright { font-size: emCalc(13px);}


// Forms
input[type="text"].big-search {
	margin: 0 auto;
	width: 30%;
	height: 2em;
	font-size: 2em;
}
.prefix-input {@include border-right-radius(0 !important);}
.postfix-input {@include border-left-radius(0 !important);}

#side-nav-sticky {
	max-width: 263px;
}

.side-nav { //extending Foundation
	border: 1px #ccc solid;
	@include border-radius(4px);
	margin-top: 15px;
	box-shadow: 0 0 0 4px #F0F0F0;
}

#nav-title {
    padding-left: 10px;
    margin: 10px 0;
    a { color: #980d0d; }
}

.side-nav > li {
    margin-bottom: -1px;
    line-height: 20px;
}

.side-nav li.active a {
    background-color: #615f8f;
    color: #fff;
}
.side-nav > li > a {
    border: 1px solid #ccc;
}
.side-nav > .active > a, .side-nav > .active > a:hover {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: default;
}
.side-nav > li > a {
    margin-right: 0;
}
.side-nav > li > a {
    //border: 1px solid transparent;
    // border-radius: 4px 4px 0 0;
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.side-nav > li > a {
    //line-height: 14px;
    //margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}
.side-nav > li > a {
    display: block;
}

// Overwrite a couple magellan settings - need to make these case specific though
[data-magellan-expedition] {
	min-width: 0;
}
.fixed {
	left: inherit !important;
}