/********************************************
State rules - SMACSS 
http://smacss.com/book/type-state
*********************************************/

// lte IE8
.lt-ie9 .top-bar-section .has-dropdown > a:after {
	display: none;
}

// Show left side menu on 

// Header and global nav / top bar
#layout-page-header-content {
	@extend .show-for-medium-up;
}

.menu-search {
	@extend .hide-for-medium-up;
}

#info-menu {
	@extend .hide-for-medium-up;
}

#sidebar {
	@extend .hide-for-small;
}

// Sidebar
// hide on small screens
#sidebar {
	@extend .hide-for-small;
}


// Footer
@media only screen and (min-width: 1000px) {
	// Sticky footer on large screens
	@include sticky-footer(90px, "#layout-document", "#layout-document-footer-pusher", "#layout-document-footer");

#footer-links {
	display: block;
	list-style: none;
	overflow: hidden;
	margin-bottom: 5px;
	li { 
		float: left;
		margin-right: emCalc(20);
		}
	}

	.logo-list {
		list-style: none;
		float: right;
		li {
			float: left;
			margin-left: 20px;
			margin-bottom: 0;
		}
	}
}

#social-footer {
	@extend .hide-for-medium-up;
}