.orbit-container .orbit-slides-container>* .orbit-caption {
	font-size: 0.75rem;
	padding: 0.4rem 0.5rem;
}

#content .wp-caption.alignleft {
	float: left;
	margin-right: 1.5rem;
}

#content .wp-caption.alignright {
	float: right;
	margin-left: 1.5rem;
}

.homepage-blog-entry {
	margin-bottom: 1.5rem;
}

.homepage-blog-entry p {
	margin-bottom: 0;
}

.homepage-blog-title {
	font-weight: bold;
}

.simple-list > p {
	margin-top: 0.4rem;
	margin-bottom: 0;
}

.simple-list > ul {
	list-style-type: none;
}
