#leftnav ul
{
  list-style-type: none;
  padding-left: 15px;
}

#leftnav ul li ul.sub-menu
{
  padding-left: 10px;
}

#leftnav ul li
{
  display: none;
  margin-top: 3px;
}

#leftnav ul.blog li,
#leftnav ul li.current-menu-item,
#leftnav ul li.current-menu-item ul li,
#leftnav ul li.current-menu-ancestor,
#leftnav ul li.current-menu-ancestor ul li
{
  display: block;
}

#leftnav ul.blog li,
#leftnav ul li.current-menu-item ul li,
#leftnav ul li.current-menu-ancestor ul li
{
  padding-left: 5px;
  line-height: 14px;
  padding-top: 5px;
}

#leftnav ul.blog li
{
  padding-left: 0px;
}

#leftnav ul.blog li.head
{
  font-weight: bold;
  padding-top: 20px;
}


#leftnav ul.blog li ul.subblog 
{
  padding-left: 0px;
}


#leftnav ul.blog li a,
#leftnav ul li.current-menu-item a,
#leftnav ul li.current-menu-ancestor a
{
   font-size: 18px;
}

#leftnav ul.blog li ul li a,
#leftnav ul li.current-menu-item ul li a,
#leftnav ul li.current-menu-ancestor ul li a
{
  font-size: 14px;
}

#leftnav ul li.current-menu-item a,
#leftnav ul li ul li.current-menu-item a,
#leftnav ul li a:hover,
#leftnav ul.blog li a:hover,
#leftnav ul li.current-menu-item ul li a:hover,
#leftnav ul li.current-menu-ancestor ul li a:hover
{
  text-decoration: none;
}

#leftnav ul li.current-menu-item ul li a
{
}

#leftnav ul#menu-help-menu li ul li ul li
{
  display: none;
}

#leftnav ul#menu-help-menu li ul li.current_page_ancestor ul li,
#leftnav ul#menu-help-menu li ul li.current_page_item ul li
{
  display: block;
}
