.togglable {
    color:#25292E;
    cursor: default;
    margin:0.1rem;
}

.togglable-down::after,
.togglable-up::after {
    font-size: '8px';
    margin-left: '0.5em';
}

.togglable-down::after {
    content: '▼';
    display: 'inline-block';
    float:left;
}

.togglable-up::after {
    content: '▶';
    display: 'inline-block';
    float:left;
}
