/********************************************
Module rules - SMACSS 
http://smacss.com/book/type-module
*********************************************/

// Forms
input[type="text"].big-search {
	margin: 0 auto;
	width: 30%;
	height: 2em;
	font-size: 2em;
}
.prefix-input {@include border-right-radius(0 !important);}
.postfix-input {@include border-left-radius(0 !important);}

// Giant Button Group
.giant.button-group {
	h3 { color: #fff; }
	.subheader { color: rgb(230,230,230); }
	li a { height: 155px; }
}

// Hack to fix double arrow issue in Firefox (until v31)
// https://gist.github.com/joaocunha/6273016
select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ' ';
}

.switch-container {
    height: 30px;
    span, .switch {
        display: inline-block;
        position: relative;
    }

    span:first-child, span:last-child {
        margin-right: .2em;
        top: -3px;
    }

    span:last-child {
        margin-left: .2em;
        top: -3px;
    }

    .switch {
        height: 19px;
    }
} 

input.form-pad, button.form-pad, textarea.form-pad {
    margin: 0 0 $form-spacing 0;
}

.button-bar.bottom-space {
    margin-bottom: 1rem;
}

.form-read-field {
    padding: 0.5rem 0.25rem 0 0.25rem;
    border-bottom: 1px solid #E2E2E2;
}

.form-read-field:nth-child(1) {
    border-top: 1px solid #E2E2E2;
}

.form-read-field:nth-child(odd) {
    background: #F7F7F7;
}

.form-read-field .key-value {
    margin-bottom: 0.25rem;
}
