/********************************************
Module rules - SMACSS 
http://smacss.com/book/type-module
*********************************************/

/* #layout-page-header-content {
	background: url("../img/demo-watermark.png") repeat-x;
} */
$logo-width: 277px;
$logo-height: 44px;
$header-text-font-size: 16px;

.top-header {
	padding: 0.5rem 0 0.5rem 0;
	max-width: none;
	font-size: $header-text-font-size;
	height: 69px;
}

.header-left {
	width: 35.8rem;
	display:-webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.header-left .site-links {
	width: 182px;
}

.header-right {
	display:-webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.site-links {
	width: 100%;
	display:-webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-top: 29px;
}

.site-links a {
	color: black;
}

#sgd-mini-logo {
	margin: 8px;
}

.logo-link {
	display: flex;
	display:-webkit-flex;
	margin-top: 4px;
	margin-left: 14px;
}

.logo-link .sgd-logo {
	background: url("../img/cute_sgd_logo.png") no-repeat;
	background-size: 100% 100%;
	height: 30px;
	width: 50px;
}

.logo-link .sgd-logo-text {
	font-size: 20px;
	margin-left: 0.5rem;
	margin-top: -1px;
	color: black;
}

.logo {
	background: url("../img/sgd-logo.png") no-repeat;
	background-size: 100% 100%;
	height: $logo-height;
	width: $logo-width;
	display: inline-block;
	.logo-label {
		display: inline-block;
		text-indent: -9999px;
	}
	&.small-logo {
		width: 200px;
		height: 30px;
		margin-top: 8px;
	}
}

.top-bar {
	margin-bottom: 0;
}

.top-bar-section ul li > a {
    font-size: $header-text-font-size;
    font-family: Lato, sans-serif;
}

.menu-bar-container {
	padding: 6px 0;
	max-width: none;
}

.menu-bar-container {
	padding: 6px 0;
}

/* back styling for mobile menus */
.back h5 {
     font-size: 1.0em;
     font-weight: bold !important;
}
.back h5 a:before {
     content: "\00AB\ ";
}

#top-bar-search {
	margin-right: 0.8em;
}

// update
.header-update {
	background: #FCEC98;
}

.header-update p {
	margin: 0.3rem 0 0.5rem 5px;
}

.header-update p a {
	text-decoration: underline;
}
