/********************************************
Module rules - SMACSS 
http://smacss.com/book/type-module
*********************************************/

/* #layout-page-header-content {
	background: url("../img/demo-watermark.png") repeat-x;
} */
$logo-width: 297px;
$logo-height: 52px;
$header-text-font-size: 16.3px;
$right-section-width: 363px;

.top-header {
	padding: 0.5rem 0 0.25rem 0;
}

.header-right {
	display:-webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.yeastmine-links {
	font-size: $header-text-font-size;
	margin-bottom: 0;
}

.site-links {
	width: 332px;
	display:-webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	font-size: $header-text-font-size;
}

#sgd-mini-logo {
	margin: 8px;
}

.social-links {
	overflow: visible;
	@include inline-list;
	$inline-list-display: inline;
	display: block;

.social-links {
	margin: 0;
	li {
		margin-left: 20px;
		margin-top: em-calc(2);
	}
}

.webicon.x-small {
    border-radius: 2px;
    height: 16px;
    width: 16px;
}

.webicon.medium {
	height: 39px;
    width: 39px;
}

.logo {
	background: url("../img/sgd-logo.png") no-repeat;
	background-size: $logo-width $logo-height;
	height: $logo-height;
	width: $logo-width;
	display: inline-block;
	margin-top: 6px;
	.logo-label {
		display: inline-block;
		text-indent: -9999px;
	}
}

// use hi-rez logo on retina (etc) screens
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        .logo {
            background: url("../img/sgd-logo-2x.png") no-repeat;
            background-size: $logo-width $logo-height;
        }
}

.top-bar {
	margin-bottom: 0;
}

.top-bar-section ul li > a {
    font-size: $header-text-font-size;
    font-family: Lato, sans-serif;
}

.search-container {
	max-width: $right-section-width;
}

/* back styling for mobile menus */
.back h5 {
     font-size: 1.0em;
     font-weight: bold !important;
}
.back h5 a:before {
     content: "\00AB\ ";
}

#top-bar-search {
	margin-right: 0.8em;
}

// update
.header-update {
	background: #FCEC98;
}

.header-update p {
	margin: 0.3rem 0 0.5rem 5px;
}

.header-update p a {
	text-decoration: underline;
}
