/********************************************
Module rules - SMACSS 
http://smacss.com/book/type-module
*********************************************/

// Labels
// labels in a header tag
h1 .label, h2 .label, h3 .label {
    background-color: #4477BB;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.5em;
    font-weight: bold;
    line-height: 1;
    padding: 0.1875em 0.625em 0.25em;
    position: relative;
    top: -0.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

h3 .label {
    font-size: 0.6em;
}

.label.tertiary {
    background-color: #aeabd3;
    color: #fff;
}