// Tables

table {
    table-layout: auto;
}

th {
    padding-right: 16px !important;    // to allow for sort arrows
}

th, tr.even td {   
    border-right: 1px solid #fff;
}
th:last-child, tr.even td:last-child { 
    border-right: none;
}

.dataTables_wrapper {
    min-width: 100%;
    table { 
        margin: 0 !important;
        border-collapse: separate;
        border-spacing: 0;
    }
    input, select { margin: 0; }
}

.dt-tools-head, .dt-tools-foot {
    margin: 0;
    padding: 5px 15px;
    overflow: hidden;
    background-color: $table-head-bg;
    border-color: $table-border-color;
    border-style: $table-border-style;
}
    
.dt-tools-head {
    @include border-top-radius($global-radius);
    border-width: 1px 1px 0 1px;
}

.dt-tools-foot {
    @include border-bottom-radius($global-radius);
    border-width: 0 1px 1px 1px;
}

ul.pagination {
    min-height: 0;
}

div.dataTables_paginate {
    margin-top: 7px;
}

div.dataTables_info {
    display: inline-block;
    position: relative;
    top: -13px;
}

div.dataTables_length {
    display: inline-block;
    margin-left: 5px;
}

// allow x scroll on large and below
.dataTables_wrapper {
    overflow-x: auto;
    @media only screen and (min-width: 85.94em) {
        overflow-x: visible;
    }
}

.filterMatches {
    background-color: #fade71;
}

.analyze-gene-list {
    margin-bottom: 1rem;
}
