.table-alternative {
	position: relative;
}

.table-alternative-content-container {
	position: relative;
	padding-top: 2em;
	box-shadow: 0px -10px 10px -10px darkgray;
	z-index: 1;
}

.table-alternative .button {
	background: $topbar-bg-color;
	&:hover {
		text-decoration: none;
	}
}

.table-alternative .tabs a:hover {
	text-decoration: none;
}

.table-alternative .sgd-tabs li a {
	position: relative;
}

.table-alternative .sgd-tabs li.active a {
    background: none repeat scroll 0 0 #fff;
    color: #222;
    border-top: 2px solid $topbar-bg-color;
    padding-top: 14px;
    z-index: 2;
}

.table-alternative .table-scroll-container {
	overflow-x: scroll;
}
