.snapshot-container {
	h1, h2, h3 {
		font-family: Palatino;
	}

	h1:first-child {
		margin-top: 0.5em;
	}

	a:hover {
		text-decoration: underline;
	}

	.loader {
		position: absolute;
		margin-top: -16px;
		margin-left: -16px;
		top: 50%;
		left: 50%;
	}
}

.sgd-viz {
	min-height: 100px;
	position: relative;
	margin-bottom: 3em;
	&.genome-snapshot-target {
		min-height: 113px;		
	}
	&.go-snapshot-target {
		min-height: 400px;
	}

	.loader {
		position: absolute;
		margin-top: -16px;
		margin-left: -16px;
		top: 50%;
		left: 50%;
	}
}

.sgd-viz-filter-message {
	margin-top: 1em;
}


.genome-snapshot {
	transition: max-height 1s;
}

.flexible-tooltip {
	position: absolute;
	min-width: 100px;
	min-height: 35px;
	margin-left: -50px;
	margin-top: -60px;
	background-color: $tooltip-bg;
	border-radius: 5px;
	z-index: $z-tooltip;

	dt {
		width: auto;
	}
}

.flexible-tooltip-text {
	display: block;
	text-align: center;
	margin: 0.5em;
	white-space: nowrap;
}

.flexible-tooltip-arrow {
	position: absolute;
	bottom: -29px;
	left: 50px;
	width: 0; 
	height: 0;
	margin-left: -7px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 30px solid #e7e7e7;
	&.complex {
		top: 25px;
		left: 357px;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 30px solid #e7e7e7;
		border-right: none;
	}
}

.chromosome-snapshot-container p {
	margin: 0.5em 0;
}

.bar-label {
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bar-container {
	transition: top 0.5s;
}

.bar-node {
	opacity: 0.6;
	transition: width 0.5s;

}

.y-axis-label {
	position: relative;
	text-align: center;
	margin-bottom: 0;
}

.y-axis {
	line {
		stroke: black;
	}

	path.domain {
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}
}

// legend
.viz-legend {
	margin-bottom: 7px;
}

.legend-entry-container {
	margin-right: 1em;
	&:last-child {
		margin-right: 0;
	}
}

.legend-color {
	width: 1.5em;
	height: 1.5em;
	margin-bottom: -0.3em;
	margin-right: 0.5em;
	display: inline-block;
	opacity: 0.6;
}

// genome snapshot
.button.chromosome-toggle {
	width: 200px;
	display: block;
	margin: 0 auto;
	margin-top: 2em;
}

.chromosome-label-text {
	margin-top: 3em;
	h3 {
		margin-bottom: 0;
	}
	h3:first-child {
		float: left;
	}
	h3:last-child {
		float: right;
	}
}

.genome-snapshot-target thead tr:first-child td {
	text-align: center;
}

.genome-snapshot-target td {
	white-space: nowrap;
}

// toggle bar chart
.toggle-bar-chart {
	.radio-selector {
		font-size: 16px;
	}

	.radio-selector label {
		text-transform: capitalize;
		font-size: 16px;
	}

	.radio-element-container {
		text-align: center;
		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
	}

	.toggle-text {
		margin-top: 1em;
	}

	.inner-toggle-text {
		text-transform: capitalize;
	}
}

// locus diagram
.locus-diagram {
	padding-bottom: 20px;
}

.title-right-text {
	margin-top: 10px;
	margin-bottom: 0;
}

.locus-diagram-label-text {
	.secondary.label {
		margin-bottom: 0;
	}
}

.locus-diagram-control-container .row.control-row {
	margin-bottom: 6px;
}

.locus-diagram-control-container p {
	margin-bottom: 0.5em;
}

.locus-diagram-control-container .columns.right p {
	text-align: right;
}

.locus-diagram-button-group {
	margin-left: 1em;
	margin-top: -4px;
	float: right;
	.button {
		background: #696599;
		color: white;
		font-size: 0.5rem;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.button.disabled {
		opacity: 0.25;
	}
	li:first-child a.button {
		margin-right: 5px;
	}
}

.locus-diagram-axis-container {
	g.tick line {
		stroke: #ddd;
	}
	path.domain {
		stroke: none;
	}
}

.locus-diagram .locus-path:hover {
	cursor: pointer;
}

.midpoint-marker {
	stroke: #ddd;
	stroke-width: 2px;
	stroke-dasharray: 3px 5px;
}

.locus-svg {
	border: 1px solid #ddd;
}

.locus-svg text {
	pointer-events: none;
	&.focus {
		fill: white;
	}
}

.locus-node {
	fill: #aaa;
	&.focus {
		fill: #696599;
	}
	&:hover {
		cursor: pointer;
	}
}

// chrom thumb {
.chromosome-thumb-inset {
	shape-rendering: crispEdges;
	stroke: white;
	fill: #696599;
	stroke-width: 1px;
	// fill: rgb(42, 162, 198);
	// fill: #11728b; // version b, c
	// fill: white; // version c, d
	// opacity: 0.5; // version c, d
}

.chromosome-thumb-arm {
	fill: #696599;
	opacity: 0.6;
	// fill: #11728b; // version b,c
	// opacity: 0.25;// version b,c
}
