/********************************************
Module rules - SMACSS 
http://smacss.com/book/type-module
*********************************************/

#header-tools {
	display: inline-block;
	float: right;
	height: 90px;
	.header-links {
		display: inline-block;
		overflow: hidden;
		float: right;
		height: 25px;
		margin-top: 7px;
		font-size: emCalc(13px);
		font-weight: bold;
		text-align: right;
		a {color: rgb(0,0,0);}
		a:hover {text-decoration: underline;}
	}
	.header-search {
		height: 50px;
		overflow: none;
	}
}

#adv-search-links {
	font-size: emCalc(11px);
	float: right;
}

.social-links, .site-links {
	overflow: visible;
	@include inline-list;
	$inline-list-display: inline;
	display: inline;
}

.site-links {
	margin: 0;
	position: absolute;
    right: 115px;
}

.social-links {
	margin: 0;
	li {
		margin-left: emCalc(8px);
		margin-top: emCalc(2px);
	}
}

.webicon.x-small {
    border-radius: 2px;
    height: 16px;
    width: 16px;
}

.header-search {
	position: relative;
	top: 5px;
}

#adv-search-links {
	font-size: emCalc(12px);
	margin-top: 4px;
}	


#logo-section {
	height: 90px;
}

.logo {
	background: url("../img/logo.gif") no-repeat;
	height: 90px;
	width: 400px;
	display: inline-block;
	.logo-label {
		display: inline-block;
		text-indent: -9999px;
	}
}

.top-bar {
	margin-bottom: 0;
}

#top-bar-search {
	margin-right: 0.8em;
}