/********************************************
Module rules - SMACSS 
http://smacss.com/book/type-module
*********************************************/

// Icons - custom ones for the app - need to switch to sprites
// Usage; add class:  sgd-icon-venn-physical
[class^="sgd-icon-"]:before,
[class*="sgd-icon-"]:before {
	margin-right: 3px;
	position: relative;
	top: 1px;
}
//.sgd-icon-venn-physical:before {
//	content: url('../img/icons/icon-venn-physical.png');
//}

$sgd-icons: venn-physical venn-genetic venn-intersection venn-all;

@each $sgd-icon in $sgd-icons {
	.sgd-icon-#{$sgd-icon}:before { 
		content: url("../img/icons/icon-#{$sgd-icon}.png"); 
	}
}