.linkContainer {
	margin-bottom: 1rem;
}

.tagList {
	width: 45rem;
}

.tagRow {
	background-color: none !important;
}

.triageEntryContiner {
	margin-bottom: 2rem;
}

.triageControls {
	margin-top: 1rem;
}

.closeIcon {
	cursor: pointer;
}
