.tagList {
	width: 45rem;
}

.tagRow {
	background-color: none !important;
}

.inactive {
	color: black !important;
	background: none !important;
	border: 1px solid #e2e2e2;
}

.tagButton {
	padding: 0.35rem;
	margin-bottom: 0.25rem;
}

.triageEntryContiner {
	margin-bottom: 2rem;
}

.triageControls {
	margin-top: 1rem;
}

.closeIcon {
	cursor: pointer;
}
