<!DOCTYPE html>
		
<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Literature Summary</h1>
		<p><span>{{summary_count}}</span> unique references.</p>

        {% if locus.aliases|length > 0 %}
            <p><strong>Aliases: </strong>
            {% for alias in locus.aliases %}
                <span>{{ alias }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
	</div>
</section>

<!-- Primary
================================================== -->
<section id="primary" data-magellan-destination="primary">
	<div class="page-header">
		<h1>Primary Literature <span id="primary_header" class="label secondary round"></span></h1>
		<p id='primary_message' hidden>No primary literature curated.<br></p>
		<div id='primary_wrapper'>	
			<a id="export_primary" class="small button secondary"><i class='icon-download-alt'></i> Download</a>
			<ul id="primary_list" class="literature-list">
			</ul>
		</div>
	</div>
</section>

<script>

</script>

<script src="/static/js/literature_overview.js"></script>
