<!DOCTYPE html>

<script>
	var phenotype_details_link = "{{phenotype_details_link}}";
	var phenotype_details_all_link = "{{phenotype_details_all_link}}";
	var ontology_graph_link = "{{ontology_graph_link}}";

    var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

	var download_filename = "{{ observable.display_name }}_annotations";
    var analyze_filename = "<a href='{{ observable.link }}' class='gene_name'>{{ observable.display_name }}</a> genes";

    var display_name = "{{ observable.display_name }}";
    var class_type = "{{ observable.class_type }}";
    var count = "{{ observable.count }}";
    var child_count = "{{ observable.child_count }}";

    var overview_data = {{overview|safe}};
</script>

<title>{{ observable.display_name }}</title>

{% extends "templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2>Observable: <span class="gene_name">{{ observable.display_name }}</span></h2>
</div>

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('Observable: <span class="gene_name">{{ observable.display_name }}</span>')
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Ontology Diagram', 'ontology');
            add_navbar_element('Annotations', 'annotations');
        </script>
<!-- Summary
================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Summary</h1>
                <p><strong>Description: </strong>{{ observable.description }}<br>
                    <span id="qualifiers"></span>
                </p>

                <div class="panel" id="summary_wrapper">
                    <div class="row">
                        <div class="large-6 columns" id="mutant_experiment_chart"></div>
                        <div class="large-6 columns" id="strain_chart" ></div>
                    </div>
                </div>
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="ontology" data-magellan-destination="ontology">
            <div class="page-header">
                <h1>Ontology Diagram</h1>
                <div class="panel">
                    <div id="cy" style="width:100%;height:700px"></div>
                </div>
                <div id="children_wrapper">
                    <strong>All Child Terms: </strong><div id="children"></div>
                </div>
                <br>
            </div>
        </section>

<!-- Annotations
================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h1>Phenotype Annotations <span id="phenotype_table_header" class="round secondary label"></span></h1>
                <!-- Includes phenotype_table into template -->
                {% set table_id = "phenotype_table" %}
                {% include "templates/phenotype_table.jinja2" %}
            </div>
        </section>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/static/js/phenotype_overview.js"></script>
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/observable.js"></script>
{% endblock scripts %}
