/***********************************************
Layout rules - SMACSS 
http://smacss.com/book/type-layout
************************************************/

#layout-document {
	overflow: hidden;
	padding-bottom: 92px;
	margin-top: 0.5rem;
	@media only screen and (max-width: 40em) {
		padding-bottom: 250px;
	}
}

/* Main page header, with global navigation */
#layout-page-header {
	width: 100%;
	// height: 135px;
}

#layout-page-header-content {
	width: 100%;
	height: 90px;
}

#layout-page-header-nav {
	width: 100%;
	//height: 45px;
}

/* PAGE FOOTER */
#layout-document-footer {
	padding: 22px 0 22px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.content-column section {
	//border-bottom: 1px #ddd solid;
	margin-bottom: 2rem;
}

.content-column section:last-child {
	border-bottom: none;
}

.large-social-links {
	position: fixed;
	top: 7rem;
	margin-left: 4px;
}

.large-social-links ul li {
	list-style: none;
}

.awesome-yeast-image {
	width: 100%;
}
