// some "style only" rules for next gen pages
@import url(http://fonts.googleapis.com/css?family=Lato|Droid+Serif:400,700);
.s-nextgen {
	font-family: 'Lato', sans-serif;
	.button {
		font-family: 'Lato', sans-serif !important;
		&:hover {
			text-decoration: none;
		}
	}
	h1, h2, h3 {
		font-family: 'Droid Serif', serif;;
	}

	h1:first-child {
		margin-top: 0.25em;
	}

	a:hover {
		text-decoration: underline;
	}

	.loader {
		position: absolute;
		margin-top: -16px;
		margin-left: -16px;
		top: 50%;
		left: 50%;
	}

	.context-help-icon p {
		font-family: $sans-serif-font;
	}
}
