// Variables
$header-height: 85px;

// global colors to complement those set in foundation
$tertiary-color: #aeabd3 !default;
$warning-color: #e6df67 !default;
$tooltip-bg: #e7e7e7;

// fonts
$serif-font: Palatino;
$sans-serif-font: Helvetica;

// z-index dictionary
$z-base: 1;
$z-tooltip: 2;
