/********************************************
Theme rules - SMACSS 
http://smacss.com/book/type-theme
*********************************************/

.page-footer {
	color: #fff;
	background: linear-gradient(to bottom, #9190B7 0%, #615F8F 100%);
}

.panel .panel {
    background-color: #fff;
}