@import url(http://fonts.googleapis.com/css?family=Lato|Droid+Serif:400,700);
// Make sure the charset is set appropriately
@charset "UTF-8";

// Customized Foundation settings file 
@import "vendor/foundation/settings";

// Foundation
@import
    "../../bower_components/foundation/scss/foundation/components/grid",
    "../../bower_components/foundation/scss/foundation/components/accordion",
    "../../bower_components/foundation/scss/foundation/components/alert-boxes",
    "../../bower_components/foundation/scss/foundation/components/block-grid",
    "../../bower_components/foundation/scss/foundation/components/breadcrumbs",
    "../../bower_components/foundation/scss/foundation/components/button-groups",
    "../../bower_components/foundation/scss/foundation/components/buttons",
    "../../bower_components/foundation/scss/foundation/components/clearing",
    "../../bower_components/foundation/scss/foundation/components/dropdown",
    "../../bower_components/foundation/scss/foundation/components/dropdown-buttons",
    "../../bower_components/foundation/scss/foundation/components/forms",
    "../../bower_components/foundation/scss/foundation/components/inline-lists",
    "../../bower_components/foundation/scss/foundation/components/keystrokes",
    "../../bower_components/foundation/scss/foundation/components/labels",
    "../../bower_components/foundation/scss/foundation/components/magellan",
    "../../bower_components/foundation/scss/foundation/components/orbit",
    "../../bower_components/foundation/scss/foundation/components/pagination",
    "../../bower_components/foundation/scss/foundation/components/panels",
    "../../bower_components/foundation/scss/foundation/components/range-slider",
    "../../bower_components/foundation/scss/foundation/components/reveal",
    "../../bower_components/foundation/scss/foundation/components/side-nav",
    "../../bower_components/foundation/scss/foundation/components/split-buttons",
    "../../bower_components/foundation/scss/foundation/components/sub-nav",
    "../../bower_components/foundation/scss/foundation/components/switches",
    "../../bower_components/foundation/scss/foundation/components/tables",
    "../../bower_components/foundation/scss/foundation/components/tabs",
    "../../bower_components/foundation/scss/foundation/components/thumbs",
    "../../bower_components/foundation/scss/foundation/components/tooltips",
    "../../bower_components/foundation/scss/foundation/components/top-bar",
    "../../bower_components/foundation/scss/foundation/components/type",
    "../../bower_components/foundation/scss/foundation/components/visibility";
     //"../../bower_components/foundation/scss/foundation/components/flex-video",
     //"../../bower_components/foundation/scss/foundation/components/joyride",
     //"../../bower_components/foundation/scss/foundation/components/pricing-tables",
    //"../../bower_components/foundation/scss/foundation/components/progress-bars",
     //"../../bower_components/foundation/scss/foundation/components/offcanvas",

// Compass mixins
@import
    "compass/support",
    "compass/layout/sticky-footer",
    "compass/css3/images",
    "compass/css3/border-radius",
    "compass/css3/transition";

// Font Awesome (check bower.json for version)
@import 
    "../../bower_components/font-awesome/scss/variables",
    "../../bower_components/font-awesome/scss/mixins",
    "../../bower_components/font-awesome/scss/path",
    "../../bower_components/font-awesome/scss/core",
    "../../bower_components/font-awesome/scss/larger",
    "../../bower_components/font-awesome/scss/fixed-width",
    "../../bower_components/font-awesome/scss/list",
    "../../bower_components/font-awesome/scss/bordered-pulled",
    "../../bower_components/font-awesome/scss/spinning",
    "../../bower_components/font-awesome/scss/rotated-flipped",
    "../../bower_components/font-awesome/scss/stacked",
    "../../bower_components/font-awesome/scss/icons";

// other vendor styles
@import
    "build/dataTables.foundation",
    "build/nouislider",
    "vendor/webicons";

// custom variable
@import "settings";
    
// SGD Styles
@import 
    "base",
    "layout",
    "modules/animations",
    "modules/autocomplete",
    "modules/header",
    "modules/footer",
    "modules/side-nav",
    "modules/forms",
    "modules/icons",
    "modules/key-value-display",
    "modules/labels",
    "modules/nested-lists",
    "modules/references",
    "modules/legends",
    "modules/tables",
    "modules/yetfasco",
    "modules/foundation-overwrites",
    "modules/viz",
    "modules/tabs",
    "modules/table_alternative",
    "modules/search_bar",
    "modules/search_results",
    "nextgen_theme",
    "state",
    "theme",
    "legacy",
    "modules/print";
