/***********************************************
Base rules - SMACSS 
http://smacss.com/book/type-base
************************************************/

/* head-alt used temporarily to mimick bootstrap-ish style */
.head-alt {
	color: #fff;
}

ul.unstyled, ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
    ul {
    	list-style: none outside none;
    }
}

/* End of temp styles; remove once off Bootstrap "look" */

// Variables
$header-height: 85px;

input[type="text"] {
	@include border-radius($global-radius);
}

.no-margins {
	margin:0 !important;
}

.no-padding {
	margin:0 !important;
}

// global colors to complement those set in foundation
$tertiary-color: #aeabd3 !default;
$warning-color: #e6df67 !default;

.fixed { width: auto; }

// adjust font size in labels
.label small {
	font-size: em-calc(14);
}

h1,h2,h3,h4,h5,h6 { font-weight: bold; }

button.small, .button.small {
    padding: 0.675rem 1.6rem 0.7375rem;  
}

// show offsite icon for offsite links
a[href^="http"]:after, td a[href^="http"]:after        {
    content: " \f08e";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    font-size: 0.8em;
    position: relative;
    margin-top: -2px;

    /* sprites.less reset */
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
}
/* remove external-link icon if there is no text in link <a></a>
Note does not work in =<IE8, oh well */
a[href^="http"]:empty:after {
    content: none;
}

/* do not use external link icon in these cases... */
/* global nav and footer and tabs */
#layout-page-header a[href^="http:"]:after, 
#layout-document-footer a[href^="http:"]:after,
#tab a[href^="http:"]:after {
    content: none !important;
}

/* other */
a[href*="yeastgenome.org"]:after,
a[href*="sgd-dev"]:after,
a[href*="fasolt"]:after,
a[href*="pastry"]:after {
    content: none !important;
}

/* Secondary Links - links to the right of buttons, vertically aligned middle */
.secondary-links {
    line-height: 2.3em;
}
