/* LEGACY CSS - NEEDED TO MIMICK "CURRENT" YEASTGENOME.ORG */

// For tabs, title above tabs, and gray bar
#center_title {
    padding-bottom: 10px;
    text-align: center;
    h2 {
		font-size: 20px !important;
		margin: 10px 0 0;
	}
}

.gene_name {
    color: #980D0D;
    font-style: normal;
    font-weight: bold;
}

a.help {
    vertical-align: super;
}
