<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-client_id" content="{{ google_client_id }}">
        <title>SGD Curator</title>
        <!-- foundation 6 core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.css" rel="stylesheet">
        <!-- custom CSS -->
        <link href="/static/css/style.css" rel='stylesheet' type='text/css'>
        <!-- Custom Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <style type='text/css'>
        
    </style>

    <body>
        {# expose token to client JS so it can use in XHR requests #}
        <script type="text/javascript">
            window.CSRF_TOKEN = '{{ request.session.get_csrf_token() }}';
        </script>
        <div id="j-application"></div>
        <script src="/static/js/application.js"></script>
        <!-- custom app js bundled -->
        <script src="/static/js/application.js"></script>
    </body>
</html>
