.imgLogo {
  width: 250px;
}
.logoText {
  font-weight: bold;
  margin-left: 1rem;
}
.messageText {
  margin-bottom: 0.25rem;
}
.menu {
  background: none;
  font-size: 18px;
}
.authMenu {
  background: none;
  font-size: 18px;
  margin-top: 0.2rem;
}
.vWrapper {
  background: purple;
}
.navLink {
  color: white;
}
.indexLink {
  color: white;
  padding: 0.25rem;
}
.indexText {
  font-size: 28px;
}
