.navWrapper {
  background: #0581C2;
}
.imgLogo {
  width: 3rem;
}
.logoText {
  font-weight: bold;
  margin-left: 0.25rem;
}
.messageText {
  margin-bottom: 0.25rem;
}
.menu {
  background: #0581C2;
  font-size: 18px;
}
.authMenu {
  font-size: 18px;
  margin-top: 0.2rem;
  background: #0581C2;
}
.authMenu li {
  background: #0581C2;
}
.lastItem {
  padding-right: 0.5rem;
}
.vWrapper {
  background: purple;
}
.navLink {
  color: white !important;
  background: #0581C2;
}
.navLink:hover {
  color: white;
}
.indexLink {
  color: white;
  padding: 0.25rem;
  background: #0581C2;
  padding-left: 0.5rem !important;
}
.indexText {
  font-size: 28px;
}
.contentRow {
  width: 100%;
  max-width: none;
}
.contentContainer {
  margin-top: 1rem;
}
