/********************************************
Module rules - SMACSS 
http://smacss.com/book/type-module
*********************************************/

// Foundation overwrites
.inline-list {
	overflow: visible;
}

.small-input {
	font-size: em-calc(12);
}

div.orbit-wrapper {
      width: 500px !important;
      height: 250px !important;
}
orbit-slide-number {
	display: none;
}

.button-bar {
    margin-bottom: rem-calc(12); 
}