/********************************************
Module rules - SMACSS 
http://smacss.com/book/type-module
*********************************************/

/* #layout-page-header-content {
	background: url("../img/demo-watermark.png") repeat-x;
} */

#header-tools {
	display: inline-block;
	float: right;
	height: 90px;
	.header-links {
		display: inline-block;
		overflow: hidden;
		float: right;
		height: 25px;
		margin-top: 7px;
		font-size: em-calc(13);
		font-weight: bold;
		text-align: right;
		a {color: rgb(0,0,0);}
		a:hover {text-decoration: underline;}
	}
	.header-search {
		height: 50px;
		top: 30px;
		overflow: none;
	}
}

#top-search-input-container div {
	top: -30px;
}

#sgd-mini-logo {
	margin: 8px;
}	

#adv-search-links {
	font-size: em-calc(11);
	float: right;
	position: relative;
	top: -30px;
}

.social-links, .site-links {
	overflow: visible;
	@include inline-list;
	$inline-list-display: inline;
	display: inline;
}

.site-links {
	margin: 0;
	position: absolute;
    right: 115px;
    font-size: em-calc(13);
    li {
        margin-left: em-calc(18);
    }
}

.social-links {
	margin: 0;
	li {
		margin-left: em-calc(8);
		margin-top: em-calc(2);
	}
}

.webicon.x-small {
    border-radius: 2px;
    height: 16px;
    width: 16px;
}

div.header-search {
	position: relative;
	top: 5px;
}

form#searchform {
	margin: 0;
	padding: 0;
}

#header-search-box {
	margin: 0;
	padding: 0;
}

.menu-search { 
	padding: 2px 10px;
}

#adv-search-links {
	font-size: em-calc(12);
	margin-top: 4px;
}	


#logo-section {
	height: 90px;
}

.logo {
	background: url("../img/logo.gif") no-repeat;
	height: 90px;
	width: 400px;
	display: inline-block;
	.logo-label {
		display: inline-block;
		text-indent: -9999px;
	}
}

.top-bar {
	margin-bottom: 0;
}

.top-bar .name h1 a {
    font-weight: bold;
}

.top-bar-section ul li > a {
    font-weight: bold;
}   

/* back styling for mobile menus */
.back h5 {
     font-size: 1.0em;
     font-weight: bold !important;
}
.back h5 a:before {
     content: "\00AB\ ";
}

#top-bar-search {
	margin-right: 0.8em;
}