// Tables
table {
    border-collapse: separate;
    border-spacing: 1px;
}

th { 
    padding-right: 16px !important;    // to allow for sort arrows
}

.dataTables_wrapper {
    overflow: hidden;
}   