// SGD Tabs
// Need to refactor for mobile-first

.sgd-tabs:before, .sgd-tabs:after {
    content: " ";
    display: table;
}

.sgd-tabs:after {
    clear: both;
}

.sgd-tabs {
    margin: 0;
    padding: 0 10px;
    background-color: #efefef;
     @include border-radius($global-radius);
}

.sgd-tabs li {
    float: left;
    list-style: none outside none;
    margin-bottom: 0 !important;
    position: relative;
}

.sgd-tabs li#current a {
    background: none repeat scroll 0 0 #fff;
    color: #222;
}

.sgd-tabs li > a {
    background: none repeat scroll 0 0 #efefef;
    color: #222;
    display: block;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;
    font-size: rem-calc(14);
    padding: rem-calc(10) rem-calc(24);
}

.sgd-tabs li > a:hover {
    background: #e1e1e1;
}

.sgd-tabs li#current > a:hover {
    background: #fff;
}