/********************************************
Module rules - SMACSS 
http://smacss.com/book/type-module
*********************************************/

// Images
img.yetfasco {
	height: 100px;
	margin: 20px 0;
}