.loginContainer {
	width: 50rem;
	height: 18rem;
	margin: 0 auto;
	text-align: center;
}

.beginLoginButton {
	display: inline-block;
	margin: 0 auto;
	margin-top: 3rem;
}

.gButton {
	margin: 0 auto;
	width: 120px;
}
