{% extends "global_layout.jinja2" %}

{% block title %}{{ allele.name.display_name }}{% endblock %}

{% block head %}
<script>
    var allele = {{ allele_js|safe }};
</script>

{% endblock %}

{% block body %}

<!-- Tabs -->

<div class="row hide-for-small">
    <nav class="small-12 columns">
	<ul class="tabs sgd-tabs">
            <li id="summary_tab" class="tab-title"> <a href="/allele/{{ allele.sgdid }}"><span>Summary</span></a></li>
            <li id="literature_tab" class="tab-title"><a href="/allele/{{ allele.sgdid }}/literature"><span>Literature</span></a></li>
        </ul>
	<div class="sgd-tab-shadow"></div>
    </nav>
</div>

<script>document.getElementById("literature_tab").className += " active";</script>

<div class="row">

  <div class="small-12 medium-10 columns content-column">

     <center><h1> Allele {{ allele.name.display_name }} Literature </h1></center>

     <ul className="reference-list">
     	 {% for ref in allele.references %}
            <li>
		<a href="{{ ref.link|e }}">{{ ref.display_name|e }}</a>
                   <span>{{ ref.citation|e|replace(ref.display_name, '') }}</span>
             	{% if ref.pubmed_id != none %}
                   <small>PMID: {{ ref.pubmed_id|e }}</small>
             	{% endif %}
             	<ul class="ref-links">
                    <li><a href="{{ ref.link|e }}">SGD Paper</a></li>
                    {% for url in ref.urls %}
                       <li><a target="_infowin" href="{{ url.link|e }}">{{ url.display_name|e }}</a></li>
                    {% endfor %}
                </ul>
            </li>
         {% endfor %}
     </ul>
     
  </div>
  
</div>

{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{asset_root}}/js/allele.js"></script>
{% endblock scripts %}

