{% extends "table.jinja2" %}

{% block help %}
    Sort table using the arrow to the right of a column header to sort by that column; download all properties as a
    .txt file using the "Download Properties" button.
{% endblock %}

{% block columns %}
    <th>Atom</th>
    <th>Frequency</th>
    <th>Percentage</th>
{% endblock %}

{% block additional_buttons %}{% endblock %}
