{% extends "network.jinja2" %}

{% block help %}
    Click on a gene to go to its specific page within SGD; drag any of the gene or
    observable objects around within the visualization for easier viewing; click “Reset” to automatically redraw the
    diagram; filter the genes that share observable terms with the given gene by the number of terms they share by
    clicking anywhere on the slider bar or dragging the tab to the desired filter number.
{% endblock %}

{% block legend %}{% endblock %}

{% block additional_buttons %}{% endblock %}