{% for reference in references|sort(attribute='year', reverse=True) %}
    <span data-tooltip aria-haspopup="true" class="has-tip" title="{{ reference.display_name }}">
        {% if full_url %}
            <a href="/locus/{{ locus.sgdid }}/overview#reference"><sup>{{ locus.reference_mapping[reference.id|string] }}</sup></a>
        {% else %}
            <a href="#reference"><sup>{{ locus.reference_mapping[reference.id|string] }}</sup></a>
        {% endif %}

    </span>
{% endfor %}
