{% for reference in references %}
    <span data-tooltip aria-haspopup="true" class="has-tip" title="{{ reference.display_name }}">
        <a href="#reference"><sup>{{ locus.reference_mapping[reference.id|string] }}</sup></a>
    </span>
{% endfor %}