{% extends "lite_layout.jinja2" %}

{% block title %}Fungal Genomes Search using WU-BLAST2{% endblock %}

{% block body %}

<div class="row">
	<div id="j-main" class="small-12 columns content-column sgd-viz">
		<img class="loader" src="/static/img/dark-slow-wheel.gif" />
	</div>
</div>

{% endblock body %}

{% block scripts %}
<script>
	views.blast_fungal.render();
</script>
{% endblock scripts %}
