<!DOCTYPE html>

<script>
	var chemical_details_link = "{{chemical_details_link}}";
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

	var download_filename = "{{ chemical.display_name }}_annotations";
    var analyze_filename = "<a href='{{ chemical.link }}' class='gene_name'>{{ chemical.display_name }}</a> Genes";

    var display_name = "{{ chemical.display_name }}";
</script>

<title>{{ chemical.display_name }}</title>

{% extends "static/templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2>Chemical: <span class="gene_name">{{ chemical.display_name }}</span></h2>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "static/templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('Chemical: <span class="gene_name">{{ chemical.display_name }}</span>')
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Phenotype Annotations', 'phenotype');
        </script>

        <!-- Summary
        ================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Summary</h1>
                <ul class="unstyled">
                    <li><strong>Chemical Name: </strong>{{ chemical.display_name }}</li>
                    {% if chemical.chebi_id != none %}
                        <li>
                            <strong>Chebi ID: </strong><a href="{{ chemical.urls[0].link }}" target="_blank">{{ chemical.urls[0].display_name }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </section>

        <!-- Phenotype
        ================================================== -->
        <section id="phenotype" data-magellan-destination="phenotype">
            <div class="page-header">
                <h1>Phenotype Annotations
                    <span id="phenotype_table_header" class="round secondary label"></span>
                </h1>
                <!-- Includes phenotype_table into template -->
                {% set table_id = "phenotype_table" %}
                {% include "static/templates/phenotype_table.jinja2" %}
            </div>
        </section>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/chemical.js"></script>
{% endblock scripts %}
