{% extends "global_layout.jinja2" %}

{% block title %}{{ chemical.display_name }}{% endblock %}

{% block head %}
<script>
    var chemical = {{ chemical_js|safe }}
</script>
{% endblock %}


{% block body %}

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('Chemical: <span class="gene_name">{{ chemical.display_name }}</span>')
            add_navbar_element('Overview', 'overview');
            add_navbar_element('Phenotype Annotations', 'phenotype');
        </script>

        <!-- Summary
        ================================================== -->
        <section id="overview" data-magellan-destination="overview">
            <div class="page-header">
                <h1>Chemical: {{ chemical.display_name }}</h1>
                <hr />
                <div class="">
                    <dl class="key-value">
                        <dt>Chemical Name</dt>
                        <dd>{{ chemical.display_name }}</dd>

                        <dt>Chebi ID</dt>
                        <dd>
                            {% if chemical.urls|length > 0 %}
                                    <a href="{{ chemical.urls[0].link }}" target="_blank">
                                {% endif %}
                                {{ chemical.chebi_id }}
                                {% if chemical.urls|length > 0 %}
                                    </a>
                                {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
        </section>

        <!-- Phenotype
        ================================================== -->
        <section id="phenotype" data-magellan-destination="phenotype">
            <div class="page-header">
                <h2>Phenotype Annotations
                    <span id="phenotype_table_header" class="round secondary label"></span>
                </h2>
                <hr />
                <!-- Includes phenotype_table into template -->
                {% set table_id = "phenotype_table" %}
                {% include "phenotype_table.jinja2" %}
            </div>
        </section>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{{asset_root}}/js/build/cytoscape.min.js"></script>
<script src="/static/js/build/arbor.js"></script>
<script src="{{asset_root}}/js/evidence.js"></script>
<script src="{{asset_root}}/js/chemical.js"></script>
{% endblock scripts %}