{% extends "table.jinja2" %}

{% block columns %}
    <th hidden>Evidence ID</th>
    <th hidden>Analyze ID</th>
    <th>Feature</th>
    <th>Feature Systematic Name</th>
    <th>Feature Type</th>
    {% if include_relative %}
        <th>Relative Coordinates</th>
    {% endif %}
    <th>Coordinates</th>
    <th>Strand</th>
    {% if include_version %}
        <th>Coord. Version</th>
        <th>Seq. Version</th>
    {% endif %}
{% endblock %}

{% block additional_buttons %}{% endblock %}