{% extends "network.jinja2" %}

{% block help %}
    Click on a complex, a gene, or a go node to go to its specific page within SGD; drag any of the object nodes around within the visualization for easier viewing; click “Reset” to automatically redraw the network diagram.
{% endblock %}

{% block legend %}
    <div id="discrete_filter" hidden>
        <label class="network-label"><strong>Filter Complexes by Shared Node Type:</strong></label>
        <input type="radio" name="group1" id="union_radio" checked><label for="union_radio">All</label>
	<input type="radio" name="group1" id="go_radio"><label for="go_radio">GO Term</label>
        <input type="radio" name="group1" id="subunit_radio"><label for="subunit_radio">Complex Subunit</label>
    </div>

    <label><strong>Filter Complexes by # of GO Terms and Subunits Shared with Current Complex:</strong></label>
    <div id="slider" class="noUiSlider" style="width:100%"></div>
    <div id="slider_ticks"></div>
    <br>
{% endblock %}

{% block additional_buttons %}{% endblock %}



