{% extends "network.jinja2" %}

{% block help %}
    Click on a gene to go to its specific page within SGD; drag any of the gene objects around within the visualization
    for easier viewing; filter by interaction type (genetic or physical) using the radio buttons;
    click “Reset” to automatically redraw the diagram; filter the number of interactors displayed by
    adjusting the number of experiments supporting a gene's interaction with the given gene by clicking anywhere on the
    slider bar or dragging the tab to the desired filter number.
{% endblock %}

{% block legend %}

{% endblock %}

   Complex Diagram Here

{% block additional_buttons %}{% endblock %}