<!DOCTYPE html>

<script>
    var go_details_link = "{{go_details_link}}";
    var complex_graph_link = "{{complex_graph_link}}";
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";
    var analyze_filename = "<a href='{{ complex.link }}' class='gene_name'>{{ complex.display_name }}</a> genes";
    var go_enrichment_link = "{{go_enrichment_link}}";

    var subcomplexes = {{subcomplexes | safe}};
    var complex_evidences = {{complex_evidences | safe}};

    var display_name = "{{ complex.display_name }}";
</script>

<title>{{ complex.display_name }}</title>

{% extends "global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2>Complex: <span class="gene_name">{{ complex.display_name }}</span></h2>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('Complex: <span class="gene_name">{{ complex.display_name }}</span>');
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Genes', 'gene_list');
            {% if complex.subcomplexes|length > 0 %}
                add_navbar_element('Subcomplexes', 'subcomplexes');
            {% endif %}
            add_navbar_element('Physical Interactions', 'interaction_network');
            add_navbar_element('Enrichment', 'enrichment');
            add_navbar_element('Network', 'network');
            add_navbar_element('Annotations', 'annotations');
        </script>

<!-- Summary
================================================== -->	
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Summary</h1>
                <ul class="unstyled">
                    <li><strong>Associated Gene Ontology Term: </strong><a href="{{ complex.go.link }}">{{ complex.go.display_name }}</a></li>
                    <li><strong>Cellular Localization: </strong>{{ complex.cellular_localization }}</li>
                    <li><strong>Aliases: </strong>{{ complex.aliases|map(attribute='display_name')|join(', ') }}</li>
                    <li><strong>Definition: </strong>{{ complex.description }}</li>
                </ul>
            </div>
        </section>

<!-- Gene List
================================================== -->
        <section id="gene_list" data-magellan-destination="gene_list">
            <div class="page-header">
                <h1>Genes  <span id="gene_list_table_header" class="round secondary label"></span></h1>
                <!-- Includes gene_list_table into template -->
                {% set table_id = "gene_list_table" %}
                {% include "gene_list_table.jinja2" %}
            </div>
        </section>

<!-- Subcomplexes
================================================== -->
        {% if complex.subcomplexes|length > 0 %}
            <section id="subcomplexes" data-magellan-destination="subcomplexes">
                <div class="page-header">
                    <h1>Subcomplexes  <span id="subcomplexes_header" class="round secondary label">{{ complex.subcomplexes|length }}</span></h1>
                    {% for subcomplex in complex.subcomplexes %}
                        <h2 class="subheader">{{ subcomplex.display_name }} <span id="{{ subcomplex.format_name }}_gene_list_table_header" class="round secondary label"></span></h2>
                        <!-- Includes gene_list_table into template -->
                        {% set table_id = subcomplex.format_name + '_gene_list_table' %}
                        {% include "gene_list_table.jinja2" %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

<!-- Physical Interactions
================================================== -->
        <section id="interaction_network" data-magellan-destination="interaction_network">
            <div class="page-header">
                <h1>Physical Interactions</h1>
                <div class="panel">
                    <div id="interaction_cy" name="interaction_cy" style="width:100%;height:500px"></div>
                </div><!-- .panel -->
            </div>
        </section>

<!-- Enrichment
================================================== -->
        <section id="enrichment" data-magellan-destination="enrichment">
            <div class="page-header">
                <h1>Shared GO Processes <span id="enrichment_table_header" class="round secondary label"></span></h1>
                <!-- Includes enrichment_table into template -->
                {% set table_id = "enrichment_table" %}
                {% include "enrichment_table.jinja2" %}
           </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h1>Network Visualization</h1>
                <div class="panel">
                    <div id="cy" name="cy" style="width:100%;height:500px"></div>
                </div><!-- .panel -->
            </div>
        </section>

<!-- Annotations
================================================== -->
<!-- Includes go_table into template -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h1>Annotations <span id="go_table_header" class="round secondary label"></span></h1>
                <!-- Includes go_table into template -->
                {% set table_id = "go_table" %}
                {% include "go_table.jinja2" %}
            </div>
        </section>
    </div>
</div>
{% endblock body %}

{% block scripts %}
    <script src="/static/js/jquery.nouislider.min.js"></script>
    <script src="/static/js/cytoscape/cytoscape.min.js"></script>
    <script src="/static/js/cytoscape/arbor.js"></script>
    <script src="/static/js/local.js"></script>
    <script src="/static/js/cytoscape.js"></script>
    <script src="/static/js/evidence.js"></script>
    <script src="/static/js/complex.js"></script>
{% endblock scripts %}
