{% extends "global_layout.jinja2" %}

{% block title %}{{ complex.complex_name }}{% endblock %}

{% block head %}
<script>
	var complex = {{ complex_js|safe }};
</script>

{% endblock %}

{% block body %}

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 medium-10 columns content-column">

        <script>
            add_navbar_title('Complex: <span class="gene_name">{{ complex.complex_name }}</span>')
            add_navbar_element('Overview', 'overview');
	    add_navbar_element('Summary Paragraph', 'paragraph');
	    add_navbar_element('Complex Diagram', 'diagram');

	    {% if complex.pdbs|length > 0 %}
		  add_navbar_element('PDB Structure', 'structure');
            {% endif %}

	    add_navbar_element('Subunits', 'subunit');

<!--	    {% if complex.process|length > 0 or if complex.function|length > 0 or if complex.component|length > 0 %}	    	    	   
--> 
	          add_navbar_element('Go Annotations', 'annotation');
<!--            {% endif %} -->

	    add_navbar_element('Network Diagram', 'network');

	    {% if complex.references|length > 0 %}
	          add_navbar_element('References', 'reference');
	    {% endif %}

	    {% if complex.cross_references|length > 0 %}
	          add_navbar_element('Cross-References', 'cross_reference');
	    {% endif %}
		
	    add_navbar_element('Source', 'source');

        </script>

<!-- Overview
================================================== -->
        <section id="overview" data-magellan-destination="overview">
            <div class="page-header">
                <h1>Complex: {{ complex.complex_name }}</h1>
                <hr />

		<div class="">
                    <dl class="key-value">
                        <dt>ComplexAc</dt>
                        <dd><a href=https://www.ebi.ac.uk/complexportal/complex/{{ complex.complex_accession }} target="_infowin">{{ complex.complex_accession }}</a></dd>

                        <dt>Intact ID</dt>
                        <dd><a href=https://www.ebi.ac.uk/complexportal/complex/search?query={{ complex.intact_id }} target="_infowin">{{ complex.intact_id }}</a></dd>
			
			<dt>Systematic Name</dt>
			<dd>{{ complex.systematic_name }}</dd>

		        {% for alias in complex.aliases %}
                              {% if loop.first %}<dt>Aliases</dt><dd>{% endif %}
                              {{ alias }}
                       	      {% if not loop.last %};{% else %}</dd>{% endif %}
                	{% endfor %}
		     </dl>
                </div>

            </div>
        </section>

<!-- summary paragraph
================================================== -->
        <section id="paragraph" data-magellan-destination="paragraph">
            <div class="page-header">
	    	 <h2>Summary Paragraph</h2>
                 <hr />
              	 {{ complex.description }}<p></p>{{ complex.properties }}
	    </div>
	</section>

<!-- complex diagram
================================================== -->
	<section id="diagram" data-magellan-destination="diagram">
                <div class="page-header">
                     <h2>Complex Diagram</h2>
                     <hr />
		     {% set network_id = "cy" %}
            	     {% include "complex_diagram.jinja2" %}
		</div>
        </section>


<!-- PDB structure
================================================== -->
        <section id="structure" data-magellan-destination="structure">
		 <div class="page-header">
                     <h2>PDB Structure</h2>
                     <hr />
		     
		     <table border=0><tr>

		     {% for pdb in complex.pdbs %}
		     	  <td><a href=https://www.rcsb.org/structure/{{ pdb.display_name }} target="_infowin">{{ pdb.display_name }}</td>
                          <td><a href=https://www.rcsb.org/3d-view/{{ pdb.display_name }} target="_infowin"><img src={{ pdb.image_link }} alt={{pdb.display_name}} width=150 height=150></a></td>
                     {% endfor %}
		     
		     </tr></table>

                </div>
        </section>



<!-- table with subunits and headlines, stoichiometry
================================================== -->

         <section id="subunit" data-magellan-destination="subunit">
                 <div class="page-header">
                     <h2>Subunits</h2>
                     <hr />
		     
		     {% set table_id = "complex_table" %}
            	     {% include "complex_table.jinja2" %}		    

                </div>
        </section>


<!-- table with GO annotations for the complex
================================================== -->
						   
	<section id="annotation" data-magellan-destination="annotation">
                 <div class="page-header">
                     <h2>Go Annotations</h2>
                     <hr />

		     <div class="">
                        <dl class="key-value">
			    <ul>
			    {% for function in complex.function %}
                                   {% if loop.first %}<dt>Molecular Function</dt><dd>{% endif %}
                                   <li><a href={{ function.link }} target="_infowin">{{ function.display_name }}</a></li>
                                   {% if loop.last %}</dd>{% endif %}
                            {% endfor %}
 			    </ul>
			    
			    <ul>
                            {% for process in complex.process %}
                                   {% if loop.first %}<dt>Biological Process</dt><dd>{% endif %}
                                   <li><a href={{ process.link }} target="_infowin">{{ process.display_name }}</a></li>
                                   {% if loop.last %}</dd>{% endif %}
                            {% endfor %}
                            </ul>

			    <ul>
                            {% for component in complex.component %}
                                   {% if loop.first %}<dt>Cellular Component</dt><dd>{% endif %}
                                   <li><a href={{ component.link }} target="_infowin">{{ component.display_name }}</a></li>
                                   {% if loop.last %}</dd>{% endif %}
                            {% endfor %}
                            </ul>

			</dl>
                     </div>
                </div>
        </section>


<!-- Network diagram
================================================== -->

	<section id="network" data-magellan-destination="network">
                 <div class="page-header">
                     <h2>Network Diagram</h2>
                     <hr />

                     What should we display here?

                </div>
        </section>


<!-- References
================================================== -->
	<section id="reference" data-magellan-destination="reference">
	        <div class="page-header">
                     <h2>References</h2>
                     <hr />
		     <ul class="unstyled">
			  {% for ref in complex.references %}
			       <li>
				    <a href="{{ ref.link|e }}">{{ ref.display_name|e }}</a>
                                    <span>{{ ref.citation|e|replace(ref.display_name, '') }}</span> 
				    {% if ref.pubmed_id != none %}
                                       <small>PMID: {{ ref.pubmed_id|e }}</small>
                                    {% endif %}
				    <ul class="ref-links">
                                    	<li><a href="{{ ref.link|e }}">SGD Paper</a></li>
                                    	{% for url in ref.urls %}
                                            <li><a target="_infowin" href="{{ url.link|e }}">{{ url.display_name|e }}</a></li>
                                        {% endfor %}
				    </ul>
			       </li>
			  {% endfor %}
		     </ul>
		</div>			 
	</section>

<!-- Cross-References
================================================== -->
	<section id="cross_reference" data-magellan-destination="cross_reference">
              <div class="page-header">
                         <h2>Cross-References</h2>
                         <hr />
	
		         {% for alias in complex.cross_references %}
			     {% if alias.alias_type == 'IntEnz' %}
                     	          {{alias.alias_type}}: <a href=https://www.ebi.ac.uk/intenz/query?cmd=Search&q={{ alias.display_name }} target="_infowin">{{ alias.display_name }}</a>
			     {% endif %}

			     {% if alias.alias_type == 'EMDB' %}
                     	          {{alias.alias_type}}: <a href=http://www.ebi.ac.uk/pdbe/entry/emdb/{{ alias.display_name }} target="_infowin">{{ alias.display_name }}</a>
   			     {% endif %}

			     {% if not loop.last %} | {% else %} {% endif %}
	
		         {% endfor %}
	      </div>
        </section>
	
       
<!-- Source
================================================== -->
	<section id="source" data-magellan-destination="source">
            <div class="page-header">
                 <h2>Source</h2>
                 <hr />
                 {{ complex.source}}
            </div>
        </section>

    </div>
</div>


{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{asset_root}}/js/build/cytoscape.min.js"></script>
{# don't host arbor.js on CDN because it makes webworker files that don't work on the cloud :( #}
<script src="/static/js/build/arbor.js"></script>
<script src="{{asset_root}}/js/cytoscape.js"></script>
<script src="{{asset_root}}/js/evidence.js"></script>
<script src="{{asset_root}}/js/complex.js"></script>
{% endblock scripts %}