{% extends "network.jinja2" %}

{% block help %}
    Click on a complex, a gene, or a go node to go to its specific page within SGD; drag any of the object nodes around within the visualization for easier viewing; click “Reset” to automatically redraw the network diagram.
{% endblock %}


