{% extends "global_layout.jinja2" %}

{% block title %}{{ contig.display_name }}{% endblock %}

{% block head %}
<script>
	var contig = {{ contig_js|safe }}
</script>
{% endblock %}


{% block body %}

<div id="center_title" class="row">
	<h1>Map: <span class="gene_name">{{ contig.display_name }}</span></h1>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
        //Set up navbar
            add_navbar_title('Map: <span class="gene_name">{{ contig.display_name }}</span>');
            add_navbar_element('Overview', 'overview');
            add_navbar_element('Features', 'feature');
        </script>

        <!-- Summary
================================================== -->
        <section id="overview" data-magellan-destination="overview">
            <div class="page-header">
                <h2>Overview</h2>
                <div class="panel">
                    <div id="piechart" style="height: 350px;"></div>

                    <dl class="key-value">
                        <dt>Strain</dt>
                        <dd><a href="{{ contig.strain.link }}">{{ contig.strain.display_name }}</a></dd>

                        <dt>Length</dt>
                        <dd>{{ contig.residues|length }} bases</dd>

                        {% for url in contig.urls %}
                            {% if loop.first %}
                                <dt>{% if contig.strain.display_name == 'S288C' %}NCBI RefSeq{% else %}GenBank{% endif %}</dt>
                                <dd><a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a></dd>
                            {% endif %}
                        {% endfor %}
                    </dl>

                    <div class="button-bar">
                        <ul class="button-group radius">
                            <li><a id="sequence_download" class="small button secondary"><i class="fa fa-download"></i> Download Sequence</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <!-- Features
================================================== -->
        <section id="feature" data-magellan-destination="feature">
            <div class="page-header">
                <h2>Features <span id="chromosomal_coord_table_header" class="round secondary label"></span></h2>
                <div class="panel">
                    <div id="feature_div"></div>

                    <!-- Includes chromosomal_coord_table into template -->
                    {% set table_id = "chromosomal_coord_table" %}
                    {% set table_title = 'Feature Coordinates for ' + contig.display_name %}
                    {% set include_relative = False %}
                    {% set include_version = False %}
                    {% include "chromosomal_coord_table.jinja2" %}
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script src="/static/js/contig.js?v={{version_qs}}"></script>
{% endblock scripts %}

