
{% extends "table.jinja2" %}

{% block help %}{% endblock %}

{% block columns %}
    <th hidden>Evidence ID</th>
    <th hidden>Analyze ID</th>
    <th>Gene</th>
    <th hidden>Gene Systematic Name</th>
    <th>Condition</th>
    <th>Dataset</th>
    <th>Log2 Ratio</th>
{% endblock %}

{% block additional_buttons %}{% endblock %}
