{% extends "global_layout.jinja2" %}

{% block title %}{{ datasetcolumn.display_name }}{% endblock %}

{% block head %}
<script>
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";
    var expression_details_link = "{{expression_details_link}}";
	var download_table_filename = "{{ datasetcolumn.format_name|replace(".", "_") }}_annotations";
    var analyze_filename = "<a href='{{ datasetcolumn.link }}' class='gene_name'>{{ datasetcolumn.display_name }}</a> Genes";
    var display_name = "{{ datasetcolumn.display_name }}";
</script>
{% endblock %}


{% block body %}

<div id="center_title" class="row">
	<h1>Dataset Condition: <span class="gene_name">{{ datasetcolumn.display_name }}</span></h1>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
<!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('Dataset Condition: <span class="gene_name">{{ datasetcolumn.display_name }}</span>');
            add_navbar_element('Overview', 'overview');
            add_navbar_element('Annotations', 'annotations');
        </script>

        <!-- Summary
        ================================================== -->
        <section id="overview" data-magellan-destination="overview">
            <div class="page-header">
                <h2>Overview</h2>
                <div class="panel">
                    <dl class="key-value">

                        <dt>Dataset</dt>
                        <dd><a href="{{ datasetcolumn.dataset.link }}">{{ datasetcolumn.dataset.display_name }}</a></dd>

                        <dt>Description</dt>
                        <dd>{{ datasetcolumn.description }}</dd>

                     </dl>
                </div>
            </div>
        </section>

            <!-- Annotations
================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h2>Annotations <span id="datasetcolumn_table_header" class="round secondary label"></span></h2>
                <div class="panel">
                    <!-- Includes expression_table into template -->
                    {% set table_id = "datasetcolumn_table" %}
                    {% include "expression_table.jinja2" %}
                </div>
            </div>
        </section>

    </div>
</div>


{% block scripts %}
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/datasetcolumn.js"></script>
{% endblock scripts %}

{% endblock body %}
