{% extends "network.jinja2" %}

{% block legend %}{% endblock %}

{% block additional_buttons %}
    <ul class="button-group radius">
        <li><a id="{{ network_id }}_txt_download" class="small button secondary"><i class="fa fa-download"></i> Download
            Shared Domains (.txt)</a></li>
    </ul>
{% endblock %}