{% extends "table.jinja2" %}

{% block columns %}
    <th hidden>Evidence ID</th>
    <th hidden>Analyze ID</th>
    <th>Gene</th>
    <th hidden>Gene Systematic Name</th>
    <th>Protein Coordinates</th>
    <th>Accession ID</th>
    <th>Description</th>
    <th>Source</th>
    <th>No. of Genes<br>with Domain</th>
{% endblock %}

{% block additional_buttons %}{% endblock %}