<!DOCTYPE html>

<script>
	var domain_details_link = "{{domain_details_link}}";
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

	var download_filename = "{{ domain.display_name }}_annotations";
    var analyze_filename = "<a href='{{ domain.link }}' class='gene_name'>{{ domain.display_name }}</a> Genes";

    var display_name = "{{ domain.display_name }}";
</script>

<title>{{ domain.display_name }}</title>

{% extends "static/templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2>Domain: <span class="gene_name">{{ domain.display_name }}</span></h2>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
<!-- Includes navbar.html into template -->
    {% include "static/templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('Domain: <span class="gene_name">{{ domain.display_name }}</span>');
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Annotations', 'annotations');
        </script>

        <!-- Summary
        ================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Summary</h1>
                <ul class="unstyled">
                    <li><strong>Accession ID: </strong>
                        {% for url in domain.urls %}
                           <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                    <li><strong>Source: </strong>{{ domain.source.display_name }}</li>
                    {%  if domain.description != none %}
                        <li><strong>Description: </strong>{{ domain.description }}</li>
                    {%  endif %}
                </ul>
            </div>
        </section>

        <!-- Annotations
        ================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h1>Annotations <span id="domain_table_header" class="round secondary label"></span></h1>
                <!-- Includes domain_table into template -->
                {% set table_id = "domain_table" %}
                {% include "static/templates/domain_table.jinja2" %}
            </div>
        </section>

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/domain.js"></script>
{% endblock scripts %}
