<!DOCTYPE html>

<script>
	var ec_number_details_link = "{{ec_number_details_link}}";
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

	var download_filename = "{{ ec_number.display_name }}_annotations";
    var analyze_filename = "<a href='{{ ec_number.link }}' class='gene_name'>{{ ec_number.display_name }}</a> Genes";

    var display_name = "{{ ec_number.display_name }}";
</script>

<title>{{ ec_number.format_name }}</title>

{% extends "static/templates/global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2>EC Number: <span class="gene_name">{{ ec_number.format_name }}</span></h2>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
<!-- Includes navbar.html into template -->
    {% include "static/templates/navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('EC Number: <span class="gene_name">{{ ec_number.format_name }}</span>');
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Annotations', 'annotations');
        </script>

        <!-- Summary
        ================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Summary</h1>
                <ul class="unstyled">
                    <li><strong>EC Number: </strong><a href="http://enzyme.expasy.org/EC/{{ ec_number.format_name }}" target="_blank">{{ ec_number.format_name }}</a></li>
                    {%  if ec_number.description != none %}
                        <li><strong>Name: </strong>{{ ec_number.description }}</li>
                    {%  endif %}
                </ul>
            </div>
        </section>

        <!-- Annotations
        ================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h1>Annotations <span id="gene_list_table_header" class="round secondary label"></span></h1>
                <!-- Includes domain_table into template -->
                {% set table_id = "gene_list_table" %}
                {% include "static/templates/gene_list_table.jinja2" %}
            </div>
        </section>

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/ec_number.js"></script>
{% endblock scripts %}
