{% extends "global_layout.jinja2" %}

{% block title %}{{ ecnumber.display_name }}{% endblock %}

{% block head %}
<script>
	var ecnumber_details_link = "{{ecnumber_details_link}}";
	var download_table_link = "{{download_table_link}}";
	var analyze_link = "{{analyze_table_link}}";

	var download_filename = "{{ ecnumber.format_name|replace(".", "_") }}_annotations";
    var analyze_filename = "<a href='{{ ecnumber.link }}' class='gene_name'>{{ ecnumber.display_name }}</a> Genes";

    var display_name = "{{ ecnumber.display_name }}";
</script>
{% endblock %}


{% block body %}

<div id="center_title" class="row">
	<h1>EC Number: <span class="gene_name">{{ ecnumber.display_name }}</span></h1>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
<!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('EC Number: <span class="gene_name">{{ ecnumber.display_name }}</span>');
            add_navbar_element('Overview', 'overview');
            add_navbar_element('Annotations', 'annotations');
            add_navbar_element('Resources', 'resources');
        </script>

        <!-- Summary
        ================================================== -->
        <section id="overview" data-magellan-destination="overview">
            <div class="page-header">
                <h2>Overview</h2>
                <div class="panel">
                    <dl class="key-value">
                        <dt>Description</dt>
                        <dd>{{ ecnumber.description }}</dd>
                    </dl>
                </div>
            </div>
        </section>

        <!-- Annotations
        ================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h2>Annotations <span id="gene_list_table_header" class="round secondary label"></span></h2>
                <div class="panel">
                    <!-- Includes domain_table into template -->
                    {% set table_id = "gene_list_table" %}
                    {% include "gene_list_table.jinja2" %}
                </div>
            </div>
        </section>

                <!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
            <div class="page-header">
                <h2>Resources</h2>
                <div class="panel">
                    <p id='resource_list'>
                        {% for url in ecnumber.urls %}
                            <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </section>

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/evidence.js"></script>
<script src="/static/js/ecnumber.js"></script>
{% endblock scripts %}
