{% extends "table.jinja2" %}

{% block columns %}
    <th>GO Term ID</th>
    <th>GO Term</th>
    <th>Number of genes</th>
    <th>P-Value</th>
{% endblock %}

{% block additional_buttons %}
    <ul class="button-group radius">
        <li><a id="{{ table_id }}_recalculate" class="small button secondary" style="display:none">Recalculate With New
            Filter</a></li>
    </ul>
{% endblock %}
