{% extends "lite_layout.jinja2" %}

{% block title %}SGD{% endblock %}

{% block body %}

<div class="row">
	<div id="j-main" class="small-12 columns content-column sgd-viz">
		<img class="loader" src="/static/img/dark-slow-wheel.gif" />
	</div>
</div>

{% endblock body %}

{% block scripts %}
<script src="{{asset_root}}/js/application.js"></script>
<script>
	// add js view logic and un-comment
	// views.example.render();
</script>
{% endblock scripts %}
