{% extends "network.jinja2" %}

{% block help %}
    Click on a gene to go to its specific page within SGD; drag any of the genes around within the visualization
    for easier viewing; click “Reset” to automatically redraw the diagram.
{% endblock %}

{% block legend %}
    <label><strong>Filter genes by the number of datasets in which their expression profiles are highly correlated with {{ display_name }}.</strong></label>
    <div id="slider" class="noUiSlider" style="width:100%"></div>
    <div id="slider_ticks"></div>
    <br>
{% endblock %}

{% block additional_buttons %}{% endblock %}