{% extends "global_layout.jinja2" %}

{% block title %}{{ locus.display_name }} Expression{% endblock %}

{% block head %}
<script>
    var expression_details_link = "{{expression_details_link}}";
	var expression_graph_link = "{{expression_graph_link}}";
	var download_table_link = "{{download_table_link}}";
	var download_table_filename = "{{ locus.display_name}}_expression";
	var display_name = "{{ locus.display_name }}";
	var class_type = "{{ locus.class_type }}";
</script>
{% endblock %}

{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }}/{{ locus.format_name }}{% endif %}</span> Expression</h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById("expression_tab").id = "current";</script>

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title("<a href='{{ locus.link }}'>{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }}/{{ locus.format_name }}{% endif %}</a> Expression");
            add_navbar_element("Summary", "summary");
            add_navbar_element("Annotations", "annotations")
            add_navbar_element("Network Visualization", "network");
            add_navbar_element("Resources", "resources");
        </script>

<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Summary</h1>

        <!-- Includes go_overview.html into template -->
        {% include "expression_overview.jinja2" %}
	</div>
</section>

<!-- Annotations
================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h1>Expression Annotations <span id="expression_table_header" class="round secondary label"></span></h1>
                <!-- Includes expression_table into template -->
                {% set table_id = "expression_table" %}
                {% include "expression_table.jinja2" %}
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h1>Network Visualization</h1>
                <div class="panel">
                    <div id="cy" name="cy" style="width:100%;height:500px"></div>
                    <br>
                </div>
            </div>
        </section>

<!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
            <div class="page-header">
                <h1>Resources</h1>
                    <a href="http://spell.yeastgenome.org/search/show_results?search_string={{ locus.format_name }}">SPELL</a>
            </div>
        </section>
    </div>
</div>

{% block scripts %}
<script src="/static/js/build/nouislider.min.js"></script>
<script src="/static/js/build/cytoscape.min.js"></script>
<script src="/static/js/build/arbor.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/expression_details.js"></script>
{% endblock scripts %}

{% endblock body %}
