<div class="row">
    <div class="small-12 large-3 columns content-column">
        <div id="two_channel_expression_chart_left"></div>
    </div>
    <div class="small-12 large-6 columns content-column">
        <div id="two_channel_expression_chart"></div>
    </div>
    <div class="small-12 large-3 columns content-column">
        <div id="two_channel_expression_chart_right"></div>
    </div>
</div>
