<div class="switch-container">
    <div class="switch tiny round">
      <input id="y-axis-switch" type="checkbox" checked>
      <label for="y-axis-switch"></label>
    </div>
    <span>y-axis on log10 scale</span>
</div>

<div id="two_channel_expression_chart"></div>
