
<a href="http://www.yeastgenome.org/cgi-bin/expression/expressionConnection.pl?type=summary&locus={{ locus.display_name }}">
    <img src="http://www.yeastgenome.org/cgi-bin/expression/miniHistogram.pl?locus={{ locus.display_name }}">
</a>
<br>