{% extends "global_layout.jinja2" %}

{% block title %}{{ locus.display_name }} Expression{% endblock %}

{% block head %}
<script>
    var locus = {{ locus_js|safe }};
</script>
{% endblock %}

{% block body %}

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById("expression_tab").className += " active";</script>

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title("<span>{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }}/{{ locus.format_name }}{% endif %}</span>");
            add_navbar_element("Expression Overview", "overview");
            add_navbar_element("Annotations", "annotations")
            add_navbar_element("Similar Expression Profiles", "network");
            add_navbar_element("Resources", "resources");
        </script>

<!-- Summary
================================================== -->
<section id="overview" data-magellan-destination="overview">
	<div class="page-header">
        <a href="/help/function-help/expression" name="top" class="documentation-link">Expression Help <i class="fa fa-question-circle"></i></a>
        <h1>{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }}/{{ locus.format_name }}{% endif %} Expression
            <a href="#" data-dropdown="summary_help"><i class="fa fa-info-circle"></i></a>

            <p id="summary_help" class="f-dropdown content medium" data-dropdown-content>
               Referenced datasets may contain one or more condition(s), and as a result there may be a greater
                number of conditions than datasets represented in a single clickable histogram bar. The histogram
                division at 0.0 separates the down-regulated (green) conditions and datasets from those that are
                up-regulated (red). Datasets are assigned one or more categories to facilitate grouping, filtering
                and browsing. Expression data are derived from records contained in the
                <a href="http://www.ncbi.nlm.nih.gov/geo/">Gene Expression Omnibus</a>, and are first log2
                transformed and normalized. The PCL files generated for each dataset are used to populate the
                expression analysis tool <a href="http://spell.yeastgenome.org/">SPELL</a>.
            </p>
        </h1>
        <hr />
        <div id='expression_overview_panel' class="panel">
            <!-- Includes expression_overview.html into template -->

            <div id="j-expression-chart-target" class="sgd-viz">
                <img class="loader" src="/static/img/dark-slow-wheel.gif" />
            </div>
        </div>
        <p id='expression_message' hidden>No expression data for {{ locus.display_name }}.</p>
        <p>View genes with similar expression profiles using
            {% for url in locus.urls if url.category == 'LOCUS_EXPRESSION'%}
                {% if url.display_name == 'SPELL' %}
                    <strong><a href="{{ url.link }}">{{ url.display_name }}</a></strong>
                {% endif %}
            {% endfor %}(Serial Pattern of Expression Levels Locator).
        </p>
	</div>
</section>

<!-- Annotations
================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h2>Annotations
                    <a href="#" data-dropdown="annotations_help"><i class="fa fa-info-circle"></i></a>

                    <p id="annotations_help" class="f-dropdown content medium" data-dropdown-content>
                        Datasets are used to populate the expression analysis tool SPELL and may contain data for more
                        than one unique experimental condition. All data is log2 transformed and normalized, and the
                        files are provided in PCL format. Short descriptions of the experimental focus are provided, as
                        are categories, assigned based on the area(s) of biology investigated and used in SPELL to group
                        and filter like data. The number of unique experimental conditions are indicated and all
                        datasets are referenced.
                    </p>
                    <span id="expression_table_header" class="round secondary label"></span>
                </h2>
                <hr />
                <div class="">
                    <!-- Includes expression_table into template -->
                    {% set table_id = "expression_table" %}
                    {% include "dataset_table.jinja2" %}
                </div>
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h2>Similar Gene Expression Profiles

                    <a href="#" data-dropdown="similar_help"><i class="fa fa-info-circle"></i></a>

                    <p id="similar_help" class="f-dropdown content medium" data-dropdown-content>
                        This diagram displays a gene network based on correlated expression profiles (purple lines)
                        between the given gene (yellow circle) and genes that share expression profiles (gray circles).
                        The correlation coefficient is calculated between every pair of genes in every dataset, then
                        the number of datasets in which the pair of genes has a significant correlation with one another
                        is determined. The network displays the genes whose expression is correlated with the given gene
                        in the largest number of datasets. Please note that SPELL use a different algorithm to make a
                        global calculation taking into account all the datasets at once, and may therefore display a
                        different set of correlated genes.
                    </p>
                </h2>
                <hr />
                <div class="">
                    <!-- Includes expression_table into template -->
                    {% set network_id = "cy" %}
                    {% include "expression_network.jinja2" %}
                </div>
            </div>
        </section>

<!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
            <div class="page-header">
                <h2>Resources</h2>
                <hr />
                <div class="panel">
                    <p id="resource_list">
                        {% for url in locus.urls if url.category == 'LOCUS_EXPRESSION'%}
                            <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{{asset_root}}/js/build/nouislider.min.js"></script>
<script src="{{asset_root}}/js/build/cytoscape.min.js"></script>
<script src="/static/js/build/arbor.js"></script>
<script src="{{asset_root}}/js/cytoscape.js"></script>
<script src="{{asset_root}}/js/local.js"></script>
<script src="{{asset_root}}/js/evidence.js"></script>
<script src="{{asset_root}}/js/expression_details.js"></script>
<script src="{{asset_root}}/js/application.js"></script>
{% endblock scripts %}
