<footer id="layout-document-footer" class="page-footer">
	<div class="row">
		<div class="small-7 large-7 columns">
			<ul id="footer-links">
				<li class="sgd-link"><a href="http://www.yeastgenome.org">SGD</a></li>
				<li><a href="http://www.yeastgenome.org/about"><span>About</span></a></li>
				<li><a href="http://www.yeastgenome.org/blog"><span>Blog</span></a></li>
				<li><a href="http://www.yeastgenome.org/site-map"><span>Site Map</span></a></li>
				<li><a href="http://www.yeastgenome.org/help"><span>Help</span></a></li>
				<li><a href="http://www.stanford.edu/site/terms.html"><span>Terms of Use</span></a></li>
				<li id="social-footer">
					<ul class="social-links">
						<li><a href="/cgi-bin/suggestion" target="_blank" id="email" class="webicon mail medium">Email Us</a></li>
						<li><a href="http://twitter.com/#!/yeastgenome" target="_blank" id="twitter" class="webicon twitter medium">Twitter</a></li>
						<li><a href="https://www.facebook.com/pages/Saccharomyces-Genome-Database-SGD/139140876128200" target="_blank" class="webicon facebook medium" id="facebook">Facebook</a></li>
						<li><a href="/feed" target="_blank" id="rss" class="webicon rss medium">RSS</a></li>
					</ul>
				</li>
			</ul>
			<div id="copyright">&copy; Stanford University, Stanford, CA 94305.</div>
		</div>
		<div class="small-5 large-5 columns">
			<ul class="logo-list">
				<li><a href="http://genetics.stanford.edu">
					<img height="45" width="102" src="/img-domain/genetics-logo@2x.png" id="genetics-logo">
				</a></li>
				<li><a href="http://med.stanford.edu">
					<img height="45" width="39" src="/img-domain/som-logo@2x.png" id="som-logo">
				</a></li>
				<li><a href="http://www.stanford.edu"><img height="49" width="105" src="/img-domain/footer-stanford-logo@2x.png" id="stanford-logo"></a></li>
			</ul>
		</div>
	</div>
</footer>