{% extends "table.jinja2" %}

{% block columns %}
    <th>Gene ID</th>
    <th>Analyze ID</th>
    <th>Gene Systematic Name</th>
    <th>Gene Name</th>
    <th>Description</th>
{% endblock %}

{% block additional_buttons %}{% endblock %}
