{% extends "global_layout.jinja2" %}

{% block title %}{{ locus.display_name }} Gene Ontology{% endblock %}

{% block head %}
<script>
	var go_details_link = "{{go_details_link}}";
	var go_graph_link = "{{go_graph_link}}";
	var download_table_link = "{{download_table_link}}";
    var download_network_link = "{{download_network_link}}";

	var mc_bp_download_table_filename = "{{ locus.display_name }}_manual_bp_go";
	var mc_mf_download_table_filename = "{{ locus.display_name }}_manual_mf_go";
	var mc_cc_download_table_filename = "{{ locus.display_name }}_manual_cc_go";
    var htp_bp_download_table_filename = "{{ locus.display_name }}_htp_bp_go";
	var htp_mf_download_table_filename = "{{ locus.display_name }}_htp_mf_go";
	var htp_cc_download_table_filename = "{{ locus.display_name }}_htp_cc_go";
    var comp_bp_download_table_filename = "{{ locus.display_name }}_computational_bp_go";
	var comp_mf_download_table_filename = "{{ locus.display_name }}_computational_mf_go";
	var comp_cc_download_table_filename = "{{ locus.display_name }}_computational_cc_go";

	var display_name = "{{ locus.display_name }}";
</script>
{% endblock %}


{% block body %}

<div id="center_title" class="row">
	<h1><span class="gene_name">{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }} / {{ locus.format_name }}{% endif %}</span></h1>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById("go_tab").id = "current";</script>

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('<a href="{{ locus.link }}">{{ locus.display_name }} / {{ locus.format_name }}</a><br> Gene Ontology Terms');
            add_navbar_element("Overview", "overview");
            add_navbar_element("Manually Curated", "manual");
            add_navbar_element("High-throughput", "htp");
            add_navbar_element("Computational", "comp");
            add_navbar_element("Shared GO Terms", "network");
        </script>

<!-- Summary
================================================== -->
<section id="overview" data-magellan-destination="overview">
	<div class="page-header">
	    <a href="/help/GO.html" name="top" class="documentation-link">Gene Ontology documentation</a>
		<h2>Gene Ontology Overview
            <a href="#" data-dropdown="summary_help"><i class="fa fa-info-circle"></i></a>

                <p id="summary_help" class="f-dropdown content medium" data-dropdown-content>
                    GO Annotations consist of four mandatory components: a gene product, a term from one of
                    the three Gene Ontology (GO) controlled vocabularies (Molecular Function, Biological
                    Process, and Cellular Component), a reference, and an evidence code.
                    SGD has manually curated and high-throughput GO Annotations, both derived from the
                    literature, as well as computational, or predicted, annotations.
                </p>
        </h2>

        <!-- Includes go_overview.html into template -->
        {% include "go_overview.jinja2" %}

		<ul class="button-group radius">
			<li><a id="go_download_all" class="small button secondary"><i class="fa fa-download"></i> Download All Annotations (.txt)</a></li>
		</ul>
	</div>
</section>
<!-- Manually Curated
================================================== -->
        <section id="manual" data-magellan-destination="manual">
            <div class="page-header">
                <h2>Manually Curated
                    <a href="#" data-dropdown="drop_manual"><i class="fa fa-info-circle"></i></a>

                    <p id="drop_manual" class="f-dropdown content medium" data-dropdown-content>
                        <a href="/help/glossary.html#manual">Manually curated</a> GO annotations reflect our best
                        understanding of the basic <a href="/help/glossary.html#molecfunction">molecular
                        function</a>, <a href="/help/glossary.html#biolprocess">biological process</a>, and
                        <a href="/help/glossary.html#cellcomp">cellular component</a> for this gene product.
                        Manually curated annotations are assigned by SGD curators based on published papers when
                        available, or by curatorial statements if necessary. Curators periodically review all
                        manually curated GO annotations for accuracy and completeness. The "Date Last Reviewed"
                        indicates when these annotations were last reviewed.
                    </p>
                </h2>
                <p><strong>Date Last Reviewed:</strong> {{locus.go_overview.date_last_reviewed.text}}</p>
                <p style="display:none" id="manual_message">There are no manually curated annotations
                for {{ locus.display_name }}.</p>
                <div id="mc_bp_go">
                                    <h2 class="subheader">Biological Process <span id="mc_bp_go_table_header" class="round secondary label"></span></h2>

                    <!-- Includes go_table into template -->
                    {% set table_id = "mc_bp_go_table" %}
                    {% include "go_table.jinja2" %}
                </div>

                <div id="mc_mf_go">
                                    <h2 class="subheader">Molecular Function <span id="mc_mf_go_table_header" class="round secondary label"></span></h2>

                    <!-- Includes go_table into template -->
                    {% set table_id = "mc_mf_go_table" %}
                    {% include "go_table.jinja2" %}
                </div>

                <div id="mc_cc_go">
                                    <h2 class="subheader">Cellular Component <span id="mc_cc_go_table_header" class="round secondary label"></span></h2>

                    <!-- Includes go_table into template -->
                    {% set table_id = "mc_cc_go_table" %}
                    {% include "go_table.jinja2" %}
                </div>
            </div>
        </section>

<!-- High-throughput
================================================== -->
        <section id="htp" data-magellan-destination="htp">
            <div class="page-header">
                <h2>High-throughput
                    <a href="#" data-dropdown="drop_htp"><i class="fa fa-info-circle"></i></a>

                <p id="drop_htp" class="f-dropdown content medium" data-dropdown-content>
                    GO annotations from <a href="/help/glossary.html#htp">High-throughput</a> experiments are
                    based on a variety of large scale high-throughput experiments, including
                    genome-wide experiments. Many of these annotations are made based on GO annotations (or
                    mappings to GO annotations) assigned by the authors, rather than SGD curators. While SGD
                    curators read these publications and often work closely with authors to incorporate the
                    information, each individual annotation may not necessarily be reviewed by a curator. GO
                    annotations from high-throughput experiments will be assigned only when this type of
                    data is available, and thus may not be assigned to terms from all three controlled
                    vocabularies of the Gene Ontology.
                </p>
                </h2>
                
                 <p id="htp_message" style="display:none">There are no high-throughput annotations
                for {{ locus.display_name }}.</p>

                <div id="htp_bp_go">
                                    <h2 class="subheader">Biological Process <span id="htp_bp_go_table_header" class="round secondary label"></span></h2>

                    <!-- Includes go_table into template -->
                    {% set table_id = "htp_bp_go_table" %}
                    {% include "go_table.jinja2" %}
                </div>

                <div id="htp_mf_go">
                                    <h2 class="subheader">Molecular Function <span id="htp_mf_go_table_header" class="round secondary label"></span></h2>

                    <!-- Includes go_table into template -->
                    {% set table_id = "htp_mf_go_table" %}
                    {% include "go_table.jinja2" %}
                </div>

                <div id="htp_cc_go">
                                    <h2 class="subheader">Cellular Component <span id="htp_cc_go_table_header" class="round secondary label"></span></h2>

                    <!-- Includes go_table into template -->
                    {% set table_id = "htp_cc_go_table" %}
                    {% include "go_table.jinja2" %}
                </div>
            </div>
        </section>

<!-- Computational
================================================== -->
        <section id="comp" data-magellan-destination="comp">
            <div class="page-header">
                <h2>Computational
                    <a href="#" data-dropdown="drop_comp"><i class="fa fa-info-circle"></i></a>

                <p id="drop_comp" class="f-dropdown content medium" data-dropdown-content>
                    <a href="/help/glossary.html#computational">Computational</a> GO Annotations are
                    predictions. These annotations are NOT reviewed by a curator. Currently, all
                    computational GO annotations for <em>S. cerevisiae</em> are assigned by an external
                    source (for example, the <a href="http://www.ebi.ac.uk/GOA">Gene Ontology Annotation
                    (GOA)</a> project of the <a href="http://www.ebi.ac.uk/">European Bioinformatics
                    Institute (EBI)</a>).
                </p>
            </h1>
                </h2>

                <p id="comp_message" style="display:none">There are no computational annotations
                for {{ locus.display_name }}.</p>
                
                <div id="comp_bp_go">
                                    <h2 class="subheader">Biological Process <span id="comp_bp_go_table_header" class="round secondary label"> </span></h2>

                    <!-- Includes go_table into template -->
                    {% set table_id = "comp_bp_go_table" %}
                    {% include "go_table.jinja2" %}
                </div>

                <div id="comp_mf_go">
                                    <h2 class="subheader">Molecular Function <span id="comp_mf_go_table_header" class="round secondary label"></span></h2>

                    <!-- Includes go_table into template -->
                    {% set table_id = "comp_mf_go_table" %}
                    {% include "go_table.jinja2" %}
                </div>

                <div id="comp_cc_go">
                                    <h2 class="subheader">Cellular Component <span id="comp_cc_go_table_header" class="round secondary label"></span></h2>

                    <!-- Includes go_table into template -->
                    {% set table_id = "comp_cc_go_table" %}
                    {% include "go_table.jinja2" %}
                </div>
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h2>Shared GO Terms
                <a href="#" data-dropdown="network_info"><i class="fa fa-info-circle"></i></a>

                <p id="network_info" class="f-dropdown content medium" data-dropdown-content>
                    This diagram displays manually curated and high-throughput GO Biological Process terms
                    (green squares) that are shared between the given gene (yellow circle) and other genes (gray
                    circles) based on the number of GO terms shared (adjustable using the slider at the bottom).
                </p></h2>
                {% set network_id = "cy" %}
            {% include "go_network.jinja2" %}
            </div>
        </section>

    </div>
</div>

{% block scripts %}
<script src="/static/js/build/nouislider.min.js"></script>
<script src="/static/js/build/arbor.js"></script>
<script src="/static/js/build/cytoscape.min.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/go_details.js"></script>
{% endblock scripts %}

{% endblock body %}
