{% extends "network.jinja2" %}

{% block help %}
    Click on a gene to go to its specific page within SGD; drag any of the gene objects around within the visualization
    for easier viewing; click “Reset” to automatically redraw the diagram; the caption below the diagram indicates how
    many experiments support the regulatory relationships.
{% endblock %}

{% block legend %}
    <h5>Filter Genes by # of Biological Process GO Terms Shared With {{ locus.display_name }}:</h5>
    <div id="slider" class="noUiSlider" style="width:100%"></div>
    <div id="slider_ticks"></div>
    <br>
{% endblock %}

{% block additional_buttons %}{% endblock %}