{% extends "network.jinja2" %}

{% block legend %}
    <p>* Visualization shows only biological process GO terms.</p>
    <h5>Filter Genes by # of Biological Process GO Terms Shared With {{ locus.display_name }}:</h5>
    <div id="slider" class="noUiSlider" style="width:100%"></div>
    <div id="slider_ticks"></div>
    <br>
{% endblock %}