<script>
    var go_details_link = "{{go_details_link}}";
    var ontology_graph_link = "{{ontology_graph_link}}";
    var display_name = "{{ ontology.display_name }}";

    var download_filename = "{{ ontology.display_name }}_annotations";
    var analyze_filename = "<a href='{{ ontology.link }}' class='gene_name'>{{ ontology.display_name }}</a> genes";

    var download_table_link = "{{download_table_link}}";
    var analyze_link = "{{analyze_table_link}}";
</script>

<title>{{ ontology.display_name }}</title>

{% extends "global_layout.jinja2" %}

{% block body %}

<div id="center_title" class="row">
	<h2>Gene Ontology: <span class="gene_name">{{ ontology.display_name|title }}</span></h2>
</div>

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

    <script>
        add_navbar_title('Gene Ontology: <span class="gene_name">{{ ontology.display_name|title }}</span>');
        add_navbar_element('Summary', 'summary');
        add_navbar_element('Ontology Diagram', 'ontology');
        add_navbar_element('Gene Ontology Annotations', 'all_go');
    </script>

<!-- Summary
================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Summary</h1>
                <ul class="unstyled">
                    <li><strong>GO ID: </strong><a href="http://amigo.geneontology.org/cgi-bin/amigo/term_details?term={{ ontology.go_id }}" target="_blank">{{ ontology.go_id }}</a></li>
                    <li><strong>Aspect: </strong>{{ ontology.go_aspect|title }}</li>
                    <li><strong>Description: </strong>{{ ontology.description }}</li>
                    {% if ontology.aliases|length > 0 %}
                        <li><strong>Synonyms:</strong>
                            {% for alias in ontology.aliases %}
                                <span>{{ alias|e }}</span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                    <li><a href="http://amigo.geneontology.org/cgi-bin/amigo/term-assoc.cgi?term={{ ontology.go_id }}&taxid=all" target="_blank">See annotations in AmiGO</a></li>
                </ul>
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="ontology" data-magellan-destination="ontology">
            <div class="page-header">
                <h1>Ontology Diagram</h1>
                <div class="panel">
                    <div id="cy" style="width:100%;height:700px"></div>
                </div>
            </div>
        </section>

<!-- Annotations
================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h1>Gene Ontology Annotations <span id="go_table_header" class="round secondary label"></span></h1>
                <!-- Includes go_table into template -->
                {% set table_id = "go_table" %}
                {% include "go_table.jinja2" %}
            </div>
        </section>
    </div>
</div>

{% endblock body %}

{% block scripts %}
<script src="/static/js/build/cytoscape.min.js"></script>	
<script src="/static/js/build/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/go_ontology.js"></script>
{% endblock scripts %}
