{% extends "global_layout.jinja2" %}

{% block title %}{{ ontology.display_name }}{% endblock %}

{% block head %}
<script>
    var ontology = {{ ontology_js|safe }}
</script>
{% endblock %}


{% block body %}

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-10 columns content-column">

    <script>
        add_navbar_title('Gene Ontology: <span class="gene_name">{{ ontology.display_name|title }}</span>');
        add_navbar_element('Overview', 'overview');
        add_navbar_element('Ontology Diagram', 'ontology');
        add_navbar_element('Annotations', 'all_go');
    </script>

<!-- Summary
================================================== -->
        <section id="overview" data-magellan-destination="overview">
            <div class="page-header">
                <h1>Gene Ontology: {{ ontology.display_name|title }}</h1>
                <div class="panel">
                    <dl class="key-value">
                        <dt>GO ID</dt>
                        <dd>
                            {% for url in ontology.urls if url.category == 'GO' %}
                               <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>
                            {% endfor %}
                            {% if ontology.urls|length == 0 %}
                               <span>{{ ontology.go_id }}</span>
                            {% endif %}
                        </dd>

                        <dt>Aspect</dt>
                        <dd>{{ ontology.go_aspect|title }}</dd>

                        <dt>Description</dt>
                        <dd>{{ ontology.description }}</dd>

                        {% if ontology.aliases|length > 0 %}
                            <dt>Synonyms</dt>
                            <dd>
                                {% for alias in ontology.aliases %}
                                    <span>{{ alias|e }}</span>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </dd>
                        {% endif %}
                    </dl>
                    {% for url in ontology.urls if url.category == 'Amigo' %}
                        <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="ontology" data-magellan-destination="ontology">
            <div class="page-header">
                <h2>Ontology Diagram</h2>
                <div class="panel">
                    {% set network_id = "cy" %}
                    {% include "go_ontology_network.jinja2" %}
                </div>
            </div>
        </section>

<!-- Annotations
================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h2>Annotations <span id="go_table_header" class="round secondary label"></span></h2>
                <div class="panel">
                    <!-- Includes go_table into template -->
                    {% set table_id = "go_table" %}
                    {% include "go_table.jinja2" %}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{{asset_root}}/js/build/cytoscape.min.js"></script>	
<script src="/static/js/build/arbor.js"></script>
<script src="{{asset_root}}/js/cytoscape.js"></script>
<script src="{{asset_root}}/js/evidence.js"></script>
<script src="{{asset_root}}/js/go_ontology.js"></script>
{% endblock scripts %}