<span id='summary_message' style='display:none'>0 GO Terms curated.</span>

<dl class="key-value" id="protein_overview">
    {% for slim in go_overview.go_slim if slim.format_name != 'molecular_function' and slim.format_name != 'cellular_component' and slim.format_name != 'biological_process' %}
        {% if loop.first %}
            <dt>
                GO Slim Terms
                <a href="#" data-dropdown="go_slim_help"><i class="fa fa-info-circle"></i></a>

                <p id="go_slim_help" class="f-dropdown content medium" data-dropdown-content>
                    The yeast GO Slim terms are higher level terms that best represent the major <i>S. cerevisiae</i> biological
                        processes, functions, and cellular components. The GO Slim terms listed here are the broader parent
                        terms for the specific terms to which this gene product is annotated, and thus represent the more
                        general processes, functions, and components in which it is involved.
                </p>
            </dt>
            <dd>
        {% endif %}

        <span><a href="{{ slim.link|e }}">{{ slim.display_name|e }}</a></span>{% if not loop.last %}, {% else %}</dd>{% endif %}

    {% endfor %}
</dl>