{% extends "network.jinja2" %}

{% block legend %}
    <span><span style="color:#165782">&#9608;</span> Has Annotations </span>
    <span><span style="color:#43a0df">&#9608;</span> Descendants Have Annotations </span>
    <span><span style="color:#c9e4f6">&#9608;</span> No Annotations to Term or Descendants </span>
{% endblock %}

{% block additional_buttons %}{% endblock %}