{% extends "table.jinja2" %}

{% block columns %}
    <th hidden>Evidence ID</th>
    <th hidden>Analyze ID</th>
    <th>Gene</th>
    <th hidden>Gene Systematic Name</th>
    <th>Gene Ontology Term</th>
    <th hidden>Gene Ontology Term ID</th>
    <th>Qualifier</th>
    <th>Aspect</th>
    <th>Method</th>
    <th>Evidence</th>
    <th>Source</th>
    <th>Assigned On</th>
    <th>Annotation Extension</th>
    <th>Reference</th>
{% endblock %}

{% block additional_buttons %}
    <ul class="button-group radius">
        <li><a disabled="true" id="{{ table_id }}_show_children" class="small button secondary" style="display:none">Add
            Annotations to Child Terms</a></li>
    </ul>
{% endblock %}
