<header id="layout-page-header">
    <!--[if lt IE 10]>
      <div class="panel">
        <p>It looks like you are using an unsupported version of Internet Explorer.  Because <a href="https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support">Microsoft no longer longer supports any version other than 11</a>, we have decided to do the same.  We recommend downloading Firefox or Chrome.  You can download Firefox <a href="https://www.mozilla.org/en-US/firefox/new/">here</a>, or Chrome <a href="https://www.google.com/chrome/browser/desktop/">here</a>.</p>
      </div>
    <![endif]-->
    <div class="hide-for-small">
        <div class="top-header">
            <div>
              {# put announcements here #}
              <span class="header-notice">Thanks for using our beta search. <a href="https://www.surveymonkey.com/r/5M2QQSW" target="_blank">Tell us what you think.</a></span>
            </div>
            <div class="site-links">
                <a href="/about">About</a><a href="/blog">Blog</a><a href="/download-data">Download</a><a href="/help">Help</a><a href="http://yeastmine.yeastgenome.org/yeastmine/begin.do">Yeastmine</a>
                <div class="social-media-links">
                    <a href="/suggestion" target="_blank" id="email-header" class="webicon mail small">Email Us</a><a href="http://twitter.com/#!/yeastgenome" target="_blank" id="twitter" class="webicon twitter small">Twitter</a><a href="https://www.facebook.com/yeastgenome" target="_blank" class="webicon facebook small" id="facebook">Facebook</a><a href="https://www.linkedin.com/company/saccharomyces-genome-database" target="_blank" class="webicon linkedin small" id="linkedin">Linkedin</a><a href="https://www.youtube.com/SaccharomycesGenomeDatabase" target="_blank" id="youtube" class="webicon youtube small">YouTube</a>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="menu-bar-container">
            <a href="/" class="show-for-large-up">
                <div class="logo"><span class="logo-label">Saccharomyces Genome Database</span>
                </div>
            </a>
            <div class="sgd-menu-divider left show-for-large-up"></div>
            <div class="top-menu-container">
                <nav class="top-bar" data-topbar="true" role="navigation">
                    <ul class="title-area">
                        <li class="name"><span class="hide-for-large-up"><a href="/" class="show-for-medium"><div class="logo small-logo"><span class="logo-label">Saccharomyces Genome Database</span>
            </div>
            </a>
            <a href="/" class="show-for-small">
                <div class="logo small-logo"><span class="logo-label">Saccharomyces Genome Database</span>
                </div>
            </a>
            </span>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
            </li>
            </ul>
            <section class="top-bar-section">
                <ul class="left">
                    <li class="has-dropdown"><a href="#">Analyze</a>
                        <ul class="dropdown">
                            <li><a class="disabled-header-a" href="http://yeastmine.yeastgenome.org/yeastmine/bag.do">Gene Lists</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://yeastmine.yeastgenome.org/yeastmine/bag.do">Yeastmine</a>
                            </li>
                            <li><a class="disabled-header-a" href="/blast-sgd">BLAST</a>
                            </li>
                            <li><a class="disabled-header-a" href="/blast-fungal">Fungal BLAST</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/GO/goTermFinder.pl">GO Term Finder</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/GO/goSlimMapper.pl">GO Slim Mapper</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/PATMATCH/nph-patmatch">Pattern Matching</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/web-primer">Design Primers</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/PATMATCH/RestrictionMapper">Restriction Mapper</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown"><a href="#">Sequence</a>
                        <ul class="dropdown">
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/download-data/sequence">Download</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://yeastgenome.org/browse">Genome Browser</a>
                            </li>
                            <li><a class="disabled-header-a" href="/blast-sgd">BLAST</a>
                            </li>
                            <li><a class="disabled-header-a" href="/blast-fungal">Fungal BLAST</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/seqTools">Gene/Sequence Resources</a>
                            </li>
                            <li class="has-dropdown"><a href="#">Reference Genome</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://downloads.yeastgenome.org/sequence/S288C_reference/genome_releases/">Download Genome</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="/genomesnapshot">Genome Snapshot</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/chromosomeHistory.pl">Chromosome History</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cache/chromosomes.shtml">Systematic Sequencing Table</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Original_Sequence_Papers">Original Sequence Papers</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Strains and Species</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/variant-viewer">Variant Viewer</a>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/FUNGI/alignment.pl">Align Strain Sequences</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/FUNGI/FungiMap">Synteny Viewer</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Homology</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/FUNGI/showAlign">Fungal Alignment</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/protein/get3d">PDB Search</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://www.uniprot.org/">UniProtKB</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.ebi.ac.uk/interpro/">InterPro (EBI)</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.ncbi.nlm.nih.gov/homologene">HomoloGene (NCBI)</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://wolfe.gen.tcd.ie/ygob/">YGOB (Trinity College)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown"><a href="">Function</a>
                        <ul class="dropdown">
                            <li class="has-dropdown"><a href="#">GO</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/GO/goTermFinder.pl">GO Term Finder</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/GO/goSlimMapper.pl">GO Slim Mapper</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://downloads.yeastgenome.org/curation/literature/go_slim_mapping.tab">GO Slim Mapping File</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="disabled-header-a" href="http://spell.yeastgenome.org/">Expression</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://pathway.yeastgenome.org">Biochemical Pathways</a>
                            </li>
                            <li class="has-dropdown"><a href="#">Phenotypes</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="/ontology/phenotype/ypo/overview">Browse All Phenotypes</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/interaction-search">Interactions</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://yeastgfp.yeastgenome.org/">YeastGFP</a>
                            </li>
                            <li class="has-dropdown"><a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://www.geneontology.org/">GO Consortium</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://thebiogrid.org/">BioGRID (U. Toronto)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown"><a href="">Literature</a>
                        <ul class="dropdown">
                            <li><a class="disabled-header-a" href="http://textpresso.yeastgenome.org/">Full-text Search</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/reference/recent">New Yeast Papers</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.genetics.org/site/misc/yeastbook.xhtml">YeastBook</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cache/genome-wide-analysis.html">Genome-wide Analysis Papers</a>
                            </li>
                            <li class="has-dropdown"><a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://www.ncbi.nlm.nih.gov/pubmed/">PubMed (NCBI)</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.ncbi.nlm.nih.gov/pmc/">PubMed Central (NCBI)</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://scholar.google.com/">Google Scholar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown"><a href="#">Community</a>
                        <ul class="dropdown">
                            <li class="has-dropdown"><a href="#">Colleague Information</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/colleague/colleagueInfoSearch">Find a Colleague</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/colleague/colleagueSearch">Add or Update Info</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cache/yeastLabs.html">Find a Yeast Lab</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Career_Resources">Career Resources</a>
                            </li>
                            <li class="has-dropdown"><a href="#">Meetings</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Meetings#Upcoming_Conferences_.26_Courses">Future</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Meetings#Past_Yeast_Meetings">Yeast Genetics</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Nomenclature</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/registry/geneRegistry">Submit a Gene Registration</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/help/community/gene-registry">Gene Registry</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/help/community/nomenclature-conventions">Nomenclature Conventions</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/geneHunter">Global Gene Hunter</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Methods and Reagents</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Strains">Strains and Constructs</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Reagents">Reagents</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Methods">Protocols and Methods</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Historical Data</a>
                                <ul class="dropdown">
                                    <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Combined_Physical_and_Genetic_Maps_of_S._cerevisiae">Physical &amp; Genetic Maps</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Yeast_Mortimer_Maps_-_Edition_12">Genetic Maps</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Historical_Systematic_Sequence_Information">Sequence</a>
                                    </li>
                                    <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cache/geneSummarytable.html">Gene Summary Paragraphs</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/Main_Page">Wiki</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/cgi-bin/submitData.pl">Submit Data</a></li>
                            <li><a class="disabled-header-a" href="http://wiki.yeastgenome.org/index.php/External_Links">Resources</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown" id="info-menu"><a href="#">Info &amp; Downloads</a>
                        <ul class="dropdown">
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/about">About</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/blog">Blog</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/download-data">Downloads</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/site-map">Site Map</a>
                            </li>
                            <li><a class="disabled-header-a" href="http://www.yeastgenome.org/help">Help</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            </nav>
        </div>
        <div class="sgd-menu-divider right show-for-large-up"></div>
        <div class="menu-search-container" id="j-search-container">
            <div class="sgd-search-container">
                <div style="position:relative;" class="react-typeahead-container ">
                    <div style="position:relative;" class="react-typeahead-input-container">
                        <input disabled="" role="presentation" aria-hidden="true" class="react-typeahead-input react-typeahead-hint" style="color:silver;-webkit-text-fill-color:silver;position:absolute;" />
                        <input autocomplete="false" role="combobox" placeholder="Search" style="position:relative;background:transparent;" spellcheck="false" value="" aria-owns="react-typeahead-options-1" aria-autocomplete="both" autocorrect="false" aria-expanded="false" aria-activedescendant="react-typeahead-activedescendant-1" class="react-typeahead-input react-typeahead-usertext" />
                    </div><span role="status" aria-live="polite" style="left:-9999px;position:absolute;"></span><span role="status" aria-live="polite" style="left:-9999px;position:absolute;"></span>
                </div><span class="search-icon"><i class="fa fa-search"></i></span>
            </div>
        </div>
        </div>
    </section>
</header>
