{% extends "lite_layout.jinja2" %}

{% block title %}New Gene Name Reservation{% endblock %}

{% block body %}

<iframe class="sgd-ci-iframe" src={{ "https://curate.qa.yeastgenome.org/#/" + ci_url }} scrolling="no">
</iframe>

{% endblock body %}
