{% extends "lite_layout.jinja2" %}

{% block title %}New Gene Name Reservation{% endblock %}

{% block body %}

<iframe class="sgd-ci-iframe" src={{ ci_base + "/#/" + ci_url }} scrolling="no">
</iframe>

{% endblock body %}
