<!DOCTYPE html>

<p id='summary_message' style='display:none'>0 Genetic and 0 Physical Interactors curated.</p>
<div class="panel" id="summary_wrapper">
    <div id="venn_diagram"></div>
</div>

<script src="/static/js/build/kinetic.min.js"></script>
<script src="/static/js/venn.js"></script>
<script src="/static/js/interaction_overview.js"></script>

