
<span>Source: <a href="http://thebiogrid.org/" target="_blank" id="biogrid_link">BioGRID</a></span>

<div class="button-bar">
    <ul class="button-group radius">
        <li><a id="{{ table_id }}_download" class="small button secondary"><i class='fa fa-download'></i> Download</a>
        </li>
    </ul>

    <ul class="button-group radius">
        <li><a id="{{ table_id }}_analyze" class="small button secondary"><i class='fa fa-briefcase'></i> Analyze</a>
        </li>
    </ul>
</div>

<table class='table table-striped table-bordered table-condensed' id='{{ table_id }}'>
    <thead>
    <tr>
        <th hidden>Evidence ID</th>
        <th hidden>Analyze ID</th>
        <th></th>
        <th>Interactor</th>
        <th hidden>Interactor Systematic Name</th>
        <th>Interactor</th>
        <th hidden>Interactor Systematic Name</th>
        <th>Type</th>
        <th>Assay</th>
        <th>Annotation</th>
        <th>Action</th>
        <th>Modification</th>
        <th>Phenotype</th>
        <th>Source</th>
        <th>Reference</th>
        <th hidden>Note</th>
    </tr>
    </thead>
</table>
