{% extends "global_layout.jinja2" %}

{% block title %}{{ locus.display_name }} Interactions{% endblock %}

{% block head %}
<script>
	var interaction_details_link = "{{interaction_details_link}}";
	var interaction_graph_link = "{{interaction_graph_link}}";
	var download_table_link = "{{download_table_link}}";
    var download_network_link = "{{download_network_link}}";
	var analyze_link = "{{analyze_table_link}}";
    var evidence_table_filename = "{{ locus.display_name}}_interactions";
    var analyze_filename = "<a href='{{ locus.link }}' class='gene_name'>{{ locus.display_name }}</a>";
    var interaction_overview = {{interaction_overview | safe}};

	var summary_download_filename = "{{ locus.display_name}}_interaction_summary";
    var annotation_analyze_filename = "{{ locus.display_name}}_interactors";

	var display_name = "{{ locus.display_name }}";
	var locus_id = "{{ locus.id }}";
</script>
{% endblock %}

{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }}/{{ locus.format_name }}{% endif %}</span> Physical and Genetic Interactions</h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById('interaction_tab').id = 'current';</script>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
        //Set up navbar
            add_navbar_title('<a href="{{ locus.link }}">{{ locus.display_name }}/{{ locus.format_name }}</a> Interactions');
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Annotations', 'annotations');
            add_navbar_element('Interaction Network', 'network');
            add_navbar_element('Resources', 'resources');
        </script>

<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
        <h1>Summary
            <a href="#" data-dropdown="summary_info"><i class="fa fa-info-circle"></i></a>

            <p id="summary_info" class="f-dropdown content medium" data-dropdown-content>
                Interaction annotations are curated by <a href="http://thebiogrid.org/" target="_blank">BioGRID</a> and
                include physical or genetic interactions
                observed between at least two genes. An interaction annotation is composed of the
                interaction type, name of the interactor, assay type (e.g., Two-Hybrid), annotation type
                (e.g., manual orhigh-throughput), and a reference. Experimental details, phenotype,
                modification, andmultiplemutant information are included when available.
            </p>
        </h1>

        <!-- Includes interaction_overview.html into template -->
        {% include "interaction_overview.jinja2" %}

        <div class="button-bar">
            <h5>Analyze</h5>
            <ul class="button-group radius">
                <li><a disabled="true" id="phys" class="small button secondary sgd-icon-venn-physical">Physical</a></li>
                <li><a disabled="true" id="gen" class="small button secondary sgd-icon-venn-genetic">Genetic</a></li>
                <li><a disabled="true" id="phys_gen_intersect" class="small button secondary sgd-icon-venn-intersection">Intersection</a></li>
                <li><a disabled="true" id="phys_gen_union" class="small button secondary sgd-icon-venn-all">All</a></li>
            </ul>
            <ul class="button-group radius" hidden>
                <li><a disabled="true" class="small button secondary radius" id="download_overview"><i class="icon-picture"></i> PNG</a></li>
            </ul>
        </div>
	</div>
</section>
<!-- Annotations
================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h1>Annotations
                        <a href="#" data-dropdown="annotations_info"><i class="fa fa-info-circle"></i></a>

                        <p id="annotations_info" class="f-dropdown content medium" data-dropdown-content>
                            An interaction is defined as an experimentally observed physical or genetic interaction
                            between two genes. There may be more than one row listed for the same interactor if the
                            interaction between it and the given gene was observed in separate studies. All
                            interactions
                            listed in SGD are curated by <a href="http://thebiogrid.org/" target="_blank">BioGRID</a>.
                        </p>
                        <span id="interaction_table_header" class="round secondary label"></span>
                    </h1>
                <!-- Includes interaction_table into template -->
                {% set table_id = "interaction_table" %}
                {% include "interaction_table.jinja2" %}
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h1>Interaction Network
                        <a href="#" data-dropdown="network_info"><i class="fa fa-info-circle"></i></a>

                        <p id="network_info" class="f-dropdown content medium" data-dropdown-content>
                            This diagram displays physical (purple lines) and genetic (green lines) interactions between
                            the
                            given gene (yellow circle) and its interactors (gray circles) based on the number of
                            experiments
                            supporting each interaction (adjustable using the slider at the bottom). Interactions
                            between the
                            interactors for a given gene are also shown.
                        </p>
                    </h1>
                {% set network_id = "cy" %}
                {% include "interaction_network.jinja2" %}
            </div>
        </section>

<!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
            <div class="page-header">
                <h1>Resources</h1>
                <p id="resources_list">
                    {% for url in locus.urls if url.category == 'LOCUS_INTERACTION'%}
                        <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </p>
            </div>
        </section>

    </div>
</div>

{% block scripts %}
<script src="/static/js/build/nouislider.min.js"></script>
<script src="/static/js/build/cytoscape.min.js"></script>
<script src="/static/js/build/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/interaction_details.js"></script>
{% endblock scripts %}

{% endblock body %}
