{% extends "table.jinja2" %}

{% block columns %}
    <th hidden>Evidence ID</th>
    <th hidden>Analyze ID</th>
    <th></th>
    <th>Interactor</th>
    <th hidden>Interactor Systematic Name</th>
    <th>Interactor</th>
    <th hidden>Interactor Systematic Name</th>
    <th>Type</th>
    <th>Assay</th>
    <th>Annotation</th>
    <th>Action</th>
    <th>Modification</th>
    <th>Phenotype</th>
    <th>Source</th>
    <th>Reference</th>
    <th hidden>Note</th>
{% endblock %}

{% block additional_buttons %}{% endblock %}