
{% if locus.interaction_overview.total_interactors == 0 %}
    <p id='summary_message' style='display:none'>0 Genetic and 0 Physical Interactors curated.</p>
{% endif %}

<div class="panel" id="summary_wrapper">
    <div id="venn_diagram"></div>
</div>

<script src="/static/js/build/kinetic.min.js?v={{version_qs}}"></script>
<script src="/static/js/venn.js?v={{version_qs}}"></script>
<script src="/static/js/interaction_overview.js?v={{version_qs}}"></script>

