{% extends "network.jinja2" %}

{% block help %}
    Click on a gene or a paper to go to its specific page within SGD. Drag any of the gene or paper objects around
    within the visualization for easier viewing and click “Reset” to automatically redraw the diagram.
{% endblock %}

{% block legend %}{% endblock %}

{% block additional_buttons %}{% endblock %}