{% extends "global_layout.jinja2" %}

{% block title %}{{ locus.display_name }} Literature{% endblock %}

{% block head %}
<script>
	var literature_details_link = "{{literature_details_link}}";
	var literature_graph_link = "{{literature_graph_link}}";
	var display_name = "{{ locus.display_name }}";
  	var download_link = "{{download_citations_link}}";
    var download_network_link = "{{download_network_link}}";
</script>
{% endblock %}


{% block body %}

<div id="center_title" class="row">
	<h1><span class="gene_name">{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }} / {{ locus.format_name }}{% endif %}</span></h1>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById('literature_tab').id = 'current';</script>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('<a href="{{ locus.link }}">{{ locus.display_name }} / {{ locus.format_name }}</a> Literature');
            add_navbar_element('Literature Overview', 'overview');
            add_navbar_element('Primary Literature', 'primary');
            add_navbar_element('Network Visualization', 'network');
            add_navbar_element('Additional Literature', 'additional');
            add_navbar_element('Reviews', 'reviews');
            add_navbar_element('Gene Ontology Literature', 'go');
            add_navbar_element('Phenotype Literature', 'phenotype');
            add_navbar_element('Interaction Literature', 'interaction');
            add_navbar_element('Regulation Literature', 'regulation');
        </script>

<!-- Summary
================================================== -->
<section id="overview" data-magellan-destination="overview">
	<div class="page-header">
		<h2>Literature Overview</h2>
		<!-- Includes literature_overview.html into template -->
        {% include "literature_overview.jinja2" %}
        {% for alias in locus.aliases if alias.category == 'Uniform' or alias.category == 'Gene product' %}
            {% if loop.first %}<p><strong>Aliases: </strong>{% endif %}
            {{ alias.display_name }}{% if not loop.last %}, {% else %}</p>{% endif %}
        {% endfor %}
	</div>
</section>

<!-- Primary
================================================== -->
<section id="primary" data-magellan-destination="primary">
	<div class="page-header">
		<h2>Primary Literature <span id="primary_header" class="label secondary round"></span></h2>
		<p id='primary_message' hidden>No primary literature curated.<br></p>
		<div id='primary_wrapper'>
			<a id="export_primary" class="small button secondary radius"><i class='fa fa-download'></i> Download (.nbib)</a>
			<ul id="primary_list" class="literature-list">
			</ul>
		</div>
		<h1>Primary Literature <span id="primary_header" class="label secondary round"></span></h1>
        <!-- Includes reference_list into template -->
        {% set reference_list_id = "primary_list" %}
        {% set empty_message = "No primary literature curated." %}
        {% include "reference_list.jinja2" %}
	</div>
</section>

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h2>Network Visualization</h2>
                <!-- Includes literature_network into template -->
                {% set network_id = "cy" %}
                {% include "basic_network.jinja2" %}
            </div>
        </section>

<!-- Additional
================================================== -->
        <section id="additional" data-magellan-destination="additional">
            <div class="page-header">
                <h1>Additional Literature <span id="additional_header" class="label secondary round"></span></h1>
                {% set reference_list_id = "additional_list" %}
                {% set empty_message = "No additional literature curated." %}
                {% include "reference_list.jinja2" %}
            </div>
        </section>

<!-- Review
================================================== -->
        <section id="reviews" data-magellan-destination="reviews">
            <div class="page-header">
                <h2>Reviews <span id="review_header" class="label secondary round"></span></h2>
                {% set reference_list_id = "review_list" %}
                {% set empty_message = "No reviews curated." %}
                {% include "reference_list.jinja2" %}
            </div>
        </section>

<!-- GO
================================================== -->
        <section id="go" data-magellan-destination="go">
            <div class="page-header">
                <h2>Gene Ontology Literature <span id="go_header" class="label secondary round"></span></h2>
                {% set reference_list_id = "go_list" %}
                {% set empty_message = "No gene ontology literature curated." %}
                {% include "reference_list.jinja2" %}
            </div>
        </section>

<!-- Phenotype
================================================== -->
        <section id="phenotype" data-magellan-destination="phenotype">
            <div class="page-header">
                <h2>Phenotype Literature <span id="phenotype_header" class="label secondary round"></span></h2>
                {% set reference_list_id = "phenotype_list" %}
                {% set empty_message = "No phenotype literature curated." %}
                {% include "reference_list.jinja2" %}
            </div>
        </section>

<!-- Interaction
================================================== -->
        <section id="interaction" data-magellan-destination="interaction">
            <div class="page-header">
                <h2>Interaction Literature <span id="interaction_header" class="label secondary round"></span></h2>
                {% set reference_list_id = "interaction_list" %}
                {% set empty_message = "No interaction literature curated." %}
                {% include "reference_list.jinja2" %}
            </div>
        </section>

<!-- Regulation
================================================== -->
        <section id="regulation" data-magellan-destination="regulation">
            <div class="page-header">
                <h2>Regulation Literature <span id="regulation_header" class="label secondary round"></span></h2>
                {% set reference_list_id = "regulation_list" %}
                {% set empty_message = "No regulation literature curated." %}
                {% include "reference_list.jinja2" %}
            </div>
        </section>

    </div>
</div>

{% block scripts %}
<script src="/static/js/build/cytoscape.min.js"></script>	
<script src="/static/js/build/arbor.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/literature_details.js"></script>
{% endblock scripts %}

{% endblock body %}
