{% extends "global_layout.jinja2" %}

{% block title %}{{ locus.display_name }} Summary{% endblock %}

{% block head %}
<script>
    var locus_graph_link = "{{ locus_graph_link }}";
    var neighbor_sequence_details_link = "{{neighbor_sequence_details_link}}";
    var history_details_link = "{{history_details_link}}";

    var history_table_filename = "{{locus.display_name}}_sequence_history";

    var length = {{ length }};

	var download_table_link = "{{download_table_link}}";
    var download_sequence_link = "{{download_sequence_link}}";
	var display_name = "{{ locus.display_name }}";
    var protein_display_name = "{{ locus.display_name|title }}p";
	var class_type = "{{ locus.class_type }}";
    var sgdid = "{{ locus.sgdid }}";

	var phenotype_overview = {{phenotype_overview | safe}};
	var regulation_overview = {{regulation_overview | safe}};
	var interaction_overview = {{interaction_overview | safe}};
    var sequence_overview = {{sequence_overview | safe}};
    var protein_overview = {{protein_overview | safe}};
    var expression_overview = {{expression_overview | safe}};
    var literature_overview = {{literature_overview | safe}};
    var go_overview = {{go_overview_json | safe}};

</script>
{% endblock %}

{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }}/{{ locus.format_name }}{% endif %}</span> Summary  <a href="/help/Locus.html" name="top" class="help"><img src="/images/icon_help_circle_dark.png" alt="Help"></a></h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById("summary_tab").id = "current";</script>

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title("<a href='{{ locus.link }}'>{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }}/{{ locus.format_name }}{% endif %}</a>");
            add_navbar_element("Summary", "summary");
            add_navbar_element("Network Visualization", "network");
            {% if tabs['sequence_tab'] %}
                add_navbar_element("Sequence", "sequence");
            {% endif %}
            {% if tabs['go_tab'] %}
                add_navbar_element("Function", "go");
            {% endif %}
            {% if tabs['phenotype_tab'] %}
                add_navbar_element("Phenotype", "phenotype");
            {% endif %}
            {% if tabs['literature_tab'] %}
                add_navbar_element("Literature", "literature");
            {% endif %}
            {% if tabs['interaction_tab'] %}
                add_navbar_element("Interaction", "interaction");
            {% endif %}
            {% if tabs['expression_tab'] %}
                add_navbar_element("Expression", "expression");
            {% endif %}
            {% if tabs['regulation_tab'] %}
                add_navbar_element("Regulation", "regulation");
            {% endif %}
            {% if tabs['protein_tab'] %}
                add_navbar_element("Protein", "protein");
            {% endif %}
            add_navbar_element("History", "history");
        </script>

    <!-- Summary
================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header clearfix">
                <h1>Summary</h1>

                <div class="panel callout radius right">
                    <ul class="unstyled">
                        <h3 class="text-center">{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }}/{{ locus.format_name }}{% endif %}</h3>
                        <li>
                            <strong>Standard Name: </strong>{{ locus.display_name }}
                            {% for basic_info in locus.basic_info_references if info_key == 'Gene Name' %}
                                {% if loop.first %}
                                    <a href="#" data-dropdown="drop_name" data-options="align:left;is_hover:true"><i class="fa fa-info-circle"></i></a>
                                    <div id="drop_name" class="f-dropdown content medium" data-dropdown-content>
                                    <p>
                                {% endif %}
                                <a href="{{ basic_info.reference.link }}">{{ basic_info.reference.display_name }}</a>
                                {% if not loop.last %}
                                    ,
                                {% else %}
                                    </p></div>
                                {% endif %}
                            {% endfor %}
                        </li>
                        <li><strong>Systematic Name: </strong>{{ locus.format_name }}</li>
                        <li>
                        {% for alias in locus.aliases if alias.category == 'Uniform' %}
                            {% if loop.first %}<strong>Aliases: </strong>{% endif %}
                            <span>
                                {{ alias.display_name }}
                                {% for evidence in alias.evidences %}
                                    {% if loop.first %}
                                        <a href="#" data-dropdown="drop_alias_{{ alias.id }}" data-options="align:left;is_hover:true"><i class="fa fa-info-circle"></i></a>
                                        <div id="drop_alias_{{ alias.id }}" class="f-dropdown content medium" data-dropdown-content>
                                        <p>
                                    {% endif %}
                                    <a href="{{ evidence.reference.link }}">{{ evidence.reference.display_name }}</a>{% if not loop.last %},
                                    {% else %}
                                        </p></div>
                                    {% endif %}
                                {% endfor %}
                            </span>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        </li>
                        <li>
                            <strong>Feature Type: </strong>{{ locus.locus_type }}
                            {% for basic_info in locus.basic_info_references if info_key == 'Feature Type' %}
                                {% if loop.first %}
                                    <a href="#" data-dropdown="drop_feature_type" data-options="align:left;is_hover:true"><i class="fa fa-info-circle"></i></a>
                                    <div id="drop_feature_type" class="f-dropdown content medium" data-dropdown-content>
                                    <p>
                                {% endif %}
                                <a href="{{ basic_info.reference.link }}">{{ basic_info.reference.display_name }}</a>
                                {% if not loop.last %}
                                    ,
                                {% else %}
                                   </p></div>
                                {% endif %}
                            {% endfor %}
                        </li>
                        {% if locus.name_description != None %}
                            <li>
                                <strong>Name Description: </strong>{{ locus.name_description }}
                                {% for basic_info in locus.basic_info_references if info_key == 'Name Description' %}
                                    {% if loop.first %}
                                        <a href="#" data-dropdown="drop_name_description" data-options="align:left;is_hover:true"><i class="fa fa-info-circle"></i></a>
                                        <div id="drop_name_description" class="f-dropdown content medium" data-dropdown-content>
                                        <p>
                                    {% endif %}
                                    <a href="{{ basic_info.reference.link }}">{{ basic_info.reference.display_name }}</a>
                                    {% if not loop.last %}
                                        ,
                                    {% else %}
                                       </p></div>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endif %}
                        <li>
                        {% for alias in locus.aliases if alias.category == 'Gene product' %}
                            {% if loop.first %}<strong>Gene Product: </strong>{% endif %}
                                <span>
                                    {{ alias.display_name }}
                                    {% for evidence in alias.evidences %}
                                        {% if loop.first %}
                                            <a href="#" data-dropdown="drop_alias_{{ alias.id }}" data-options="align:left;is_hover:true"><i class="fa fa-info-circle"></i></a>
                                            <div id="drop_alias_{{ alias.id }}" class="f-dropdown content medium" data-dropdown-content>
                                            <p>
                                        {% endif %}
                                        <a href="{{ evidence.reference.link }}">{{ evidence.reference.display_name }}</a>{% if not loop.last %},
                                        {% else %}
                                            </p></div>
                                        {% endif %}
                                    {% endfor %}
                                </span>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        </li>
                        <li>
                        {% for alias in locus.aliases if alias.category == 'NCBI protein name' %}
                            {% if loop.first %}<strong>Protein Product: </strong>{% endif %}
                            <span>
                                {{ alias.display_name }}
                                {% for evidence in alias.evidences %}
                                    {% if loop.first %}
                                        <a href="#" data-dropdown="drop_alias_{{ alias.id }}" data-options="align:left;is_hover:true"><i class="fa fa-info-circle"></i></a>
                                        <div id="drop_alias_{{ alias.id }}" class="f-dropdown content medium" data-dropdown-content>
                                        <p>
                                    {% endif %}
                                    <a href="{{ evidence.reference.link }}">{{ evidence.reference.display_name }}</a>
                                    {% if not loop.last %}
                                        ,
                                    {% else %}
                                        </p></div>
                                    {% endif %}
                                {% endfor %}
                            </span>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        </li>
                    </ul>
                </div>

                <h3 class="subheader">{{ locus.description }}
                {% for reference in locus.description_references %}
                    {% if loop.first %}
                        <a href="#" data-dropdown="drop_description" data-options="align:left;is_hover:true"><i class="fa fa-info-circle"></i></a>
                        <div id="drop_description" class="f-dropdown content medium" data-dropdown-content>
                        <p>
                    {% endif %}
                    <a href="{{ reference.link }}">{{ reference.display_name }}</a>
                    {% if not loop.last %}
                        ,
                    {% else %}
                        </p></div>
                    {% endif %}
                {% endfor %}
                </h3>

                {% if locus.paragraph != None %}
                    <p>
                        {{ locus.paragraph.text|safe }}
                    </p>
                {% endif %}
            </div>
        </section>


<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h1>Network Visualization</h1>
                <div class="panel">
                    <div id="cy" name="cy" style="width:100%;height:700px"></div>
                    <div class="row">
                        <div class="small-12 large-4 columns">
                            <input id="go_checkbox" type="checkbox" checked><label for="go_checkbox"><span style="color:#4daf4a">GO</span></label>
                            <a onclick="$('#top_go').toggle(); $('#see_go').hide(); $('#hide_go').show();"><small id="see_go">See GO Terms</small></a><a onclick="$('#top_go').toggle(); $('#hide_go').hide(); $('#see_go').show();"><small id="hide_go" hidden>Hide GO Terms</small></a>
                            <ul id="top_go" hidden></ul>
                        </div>
                        <div class="small-12 large-4 columns">
                            <input id="phenotype_checkbox" type="checkbox" checked><label for="phenotype_checkbox"><span style="color:#984ea3">Phenotype</span></label>
                            <a onclick="$('#top_phenotype').toggle(); $('#see_phenotypes').hide(); $('#hide_phenotypes').show();"><small id="see_phenotypes">See Phenotypes</small></a><a onclick="$('#top_phenotype').toggle(); $('#hide_phenotypes').hide(); $('#see_phenotypes').show();"><small id="hide_phenotypes" hidden>Hide Phenotypes</small></a>
                            <ul id="top_phenotype" hidden></ul>
                        </div>
                        <div class="small-12 large-4 columns">
                            <input id="domain_checkbox" type="checkbox" checked><label for="domain_checkbox"><span style="color:#377eb8">Domain</span></label>
                            <a onclick="$('#top_domain').toggle(); $('#see_domains').hide(); $('#hide_domains').show();"><small id="see_domains">See Domains</small></a><a onclick="$('#top_domain').toggle(); $('#hide_domains').hide(); $('#see_domains').show();"><small id="hide_domains" hidden>Hide Domains</small></a>
                            <ul id="top_domain" hidden></ul>

                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 large-4 columns">
                            <input id="interaction_checkbox" type="checkbox" checked><label for="interaction_checkbox"><span style="color:#7d411e">Interaction</span></label>
                        </div>
                        <div class="small-12 large-4 columns">
                            <input id="expression_checkbox" type="checkbox" checked><label for="expression_checkbox"><span style="color:#eb7500">Expression</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- Sequence
================================================== -->
        {% if tabs['sequence_tab'] %}
        <section id="sequence" data-magellan-destination="sequence">
            <div class="page-header">
                <h1>Sequence</h1>
                <h2 class="subheader">S288C</h2>
                <!-- Includes sequence_overview into template -->
                {% include "sequence_overview.jinja2" %}
                <div class="button-bar">
                    <ul class="button-group radius">
                        <li><a id="reference_download" class="small button secondary"><i class="fa fa-download"></i> Download Reference Sequence</a></li>
                    </ul>
                    {% for url in locus.urls if url.category == 'LOCUS_SEQUENCE_SECTION'%}
                        <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </div>
                <a href="/locus/{{ locus.sgdid }}/sequence" class="button [radius round]">See Sequence and Strain Details</a>
            </div>
        </section>
        {% endif %}

<!-- GO
================================================== -->
        {% if tabs['go_tab'] %}
        <section id="go" data-magellan-destination="go">
            <div class="page-header">
                <h1>Function</h1>
                <!-- Includes go_overview.html into template -->
                {% include "go_overview.jinja2" %}
                <a style="background:#4daf4a" href="/locus/{{ locus.sgdid }}/go" class="button [radius round]">See Gene Ontology Details</a>
            </div>
        </section>
        {% endif %}

<!-- Phenotype
================================================== -->
        {% if tabs['phenotype_tab'] %}
        <section id="phenotype" data-magellan-destination="phenotype">
            <div class="page-header">
                <h1>Phenotype</h1>
                <!-- Includes phenotype_overview.html into template -->
                {% include "phenotype_overview.jinja2" %}
                <a style="background:#984ea3" href="/locus/{{ locus.sgdid }}/phenotype" class="button [radius round]">See Phenotype Details</a>
            </div>
        </section>
        {% endif %}

<!-- Literature
================================================== -->
        {% if tabs['literature_tab'] %}
        <section id="literature" data-magellan-destination="literature">
            <div class="page-header">
                <h1>Literature</h1>
                <!-- Includes literature_overview.html into template -->
                {% include "literature_overview.jinja2" %}
                <a style="background:#ffcc33" href="/locus/{{ locus.sgdid }}/literature" class="button [radius round]">See Literature Details</a>
            </div>
        </section>
        {% endif %}

<!-- Interaction
================================================== -->
        {% if tabs['interaction_tab'] %}
        <section id="interaction" data-magellan-destination="interaction">
            <div class="page-header">
                <h1>Interactions</h1>
                <!-- Includes interaction_overview.html into template -->
                {% include "interaction_overview.jinja2" %}
                <a style="background:#7d411e" href="/locus/{{ locus.sgdid }}/interaction" class="button [radius round]">See Interaction Details</a>
            </div>
        </section>
        {% endif %}

<!-- Expression
================================================== -->
        {% if tabs['expression_tab'] %}
        <section id="expression" data-magellan-destination="expression">
            <div class="page-header">
                <h1>Expression</h1>
                <!-- Includes expression_overview.html into template -->
                {% include "expression_overview.jinja2" %}
                <a style="background:#eb7500" href="/locus/{{ locus.sgdid }}/expression" class="button [radius round]">See Expression Details</a>
            </div>
        </section>
        {% endif %}

<!-- Regulation
================================================== -->
        {% if tabs['regulation_tab'] %}
        <section id="regulation" data-magellan-destination="regulation">
            <div class="page-header">
                <h1>Regulation</h1>
                <p id="regulation_summary_message" hidden>0 Targets and 0 Regulators curated.</p>
                {% if locus.regulation_overview.paragraph != None %}
                    <p>{{ locus.regulation_overview.paragraph.text|safe|truncate(250, True) }} <small><a href="/locus/{{ locus.sgdid }}/regulation">See More</a></small></p>
                {% endif %}
                <div class="panel" id="regulation_summary_wrapper">
                    <!-- Includes regulation_overview.html into template -->
                    {% include "regulation_overview.jinja2" %}
                </div>
            </div>
            <a style="background:#f96968" href="/locus/{{ locus.sgdid }}/regulation" class="button [radius round]">See Regulation Details</a>
        </section>
        {% endif %}

<!-- Protein
================================================== -->
        {% if tabs['protein_tab'] %}
        <section id="protein" data-magellan-destination="protein">
            <div class="page-header">
                <h1>Protein</h1>
                <div id="domain_chart"></div>
                <a style="background:#377eb8" href="/locus/{{ locus.sgdid }}/protein" class="button [radius round]">See Protein Details</a>
            </div>
        </section>
        {% endif %}

        <!-- History
================================================== -->
        <section id="history" data-magellan-destination="history">
            <div class="page-header">
                <h1>History</h1>
                <div id="history_chart"></div>

                <!-- Includes history_table into template -->
                {% set table_id = "history_table" %}
                {% include "history_table.jinja2" %}
            </div>
        </section>

    </div>
</div>

{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
           'version':'1','packages':['timeline']}]}"></script>

    <script src="/static/js/interaction_overview.js"></script>
    <script src="/static/js/regulation_overview.js"></script>
    <script src="/static/js/phenotype_overview.js"></script>
    <script src="/static/js/sequence_overview.js"></script>
    <script src="/static/js/protein_overview.js"></script>
    <script src="/static/js/expression_overview.js"></script>
    <script src="/static/js/literature_overview.js"></script>
    <script src="/static/js/go_overview.js"></script>

    <script>
        google.load("visualization", "1", {packages:["corechart"], callback: function(){
            {% if tabs['sequence_tab'] %}
                if(sequence_overview != null) {
                    draw_sublabel_chart('reference_sublabel_chart', sequence_overview);
                }
            {% endif %}
            {% if tabs['regulation_tab'] %}
                if(regulation_overview != null) {
                    draw_regulation_overview();
                }
            {% endif %}
            {% if tabs['protein_tab'] %}
                if(protein_overview != null && protein_overview['domains'].length > 0) {
                    draw_domain_chart("domain_chart", length, protein_overview['domains']);
                }
            {% endif %}
            {% if tabs['phenotype_tab'] %}
                draw_phenotype_overview();
            {% endif %}
            {% if tabs['literature_tab'] %}
                draw_literature_overview();
            {% endif %}
            {% if tabs['go_tab'] %}
                draw_go_overview();
            {% endif %}
            {% if tabs['expression_tab'] %}
                create_expression_chart();
            {% endif %}
        }});
    </script>
    <script src="/static/js/build/nouislider.min.js"></script>
    <script src="/static/js/build/cytoscape.min.js"></script>
    <script src="/static/js/build/arbor.js"></script>
    <script src="/static/js/cytoscape.js"></script>
    <script src="/static/js/local.js"></script>
    <script src="/static/js/evidence.js"></script>
    <script src="/static/js/locus.js"></script>
    <script src="/static/js/build/kinetic.min.js"></script>
    <script src="/static/js/venn.js"></script>

{% endblock scripts %}

{% endblock body %}
