{% extends "global_layout.jinja2" %}
{% block title %}{{ locus_list.list_name }} Locii{% endblock %}

{% block head %}
<script>
    var locus_list = {{ locus_list_js|safe }};
</script>
{% endblock %}

{% block body %}

<div id="center_title" class="row">
	<h2>{{ locus_list.list_name | safe }} Locii</h2>
</div>


<!-- Navbar
================================================== -->
<div class="row">

    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns">

        <script>
            add_navbar_title('{{ locus_list.list_name }} Locii');
            add_navbar_element('Entries', 'entries');
        </script>

<!-- Gene List
================================================== -->
        <section id="entries" data-magellan-destination="entries">
            <div class="page-header">
                <h2>Entries</h2>
                <!-- Includes gene_list_table into template -->
                {% set table_id = "gene_list_table" %}
                {% set table_title = list_name %}
                {% include "gene_list_table.jinja2" %}
                <br>
            </div>
        </section>
    </div>
</div>

{% block scripts %}
<script src="/static/js/evidence.js"></script>
<script src="/static/js/locus_list.js"></script>
{% endblock scripts %}

{% endblock body %}
