{% extends "lite_layout.jinja2" %}

{% block title %}{{ locus.display_name }}{% endblock %}

{% block head %}
<script>
    var bootstrappedData = {
        displayName: "{{ locus.display_name }}",
        formatName: "{{ locus.format_name }}",
        locusId: "{{ locus.id }}",
        locusLink: "{{ locus.link }}",
        locusData: {{locus_js|safe}},
        tabs: {{tabs_js|safe}}
    };
</script>
{% endblock %}

{% block body %}

<!-- Tabs -->
{% include "tabs.jinja2" %}

<div class="row">
	
    <div id="navbar-container" class="large-2 columns hide-for-medium-down">
    </div>

    <div class="small-12 large-10 columns content-column">

<!-- Overview
================================================== -->
    <section id="overview">
        <h1>{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }} / {{ locus.format_name }} Overview{% endif %}
        </h1>
        <hr />
        <div class="">

            <dl class="key-value">

                {% if 'reserved_name' in locus %}
                    <dt>Reserved Name</dt>
                    <dd><a href="{{ locus.reserved_name.link }}">{{ locus.reserved_name.display_name }}</a>
                        {% set references = [locus.reserved_name.reference] %}
                        {% include "biblio_references.jinja2" %}
                        <i>This name is reserved with SGD according to the
                        <a href="http://www.yeastgenome.org/help/community/gene-registry">Gene Naming Guidelines</a>
                        agreed upon by the yeast community.</i></dd>
                {% endif %}

                {% if locus.format_name != locus.display_name %}
                    <dt>Standard Name</dt>
                    <dd>{{ locus.display_name }}
                        {% if 'gene_name' in locus.qualities %}
                            {% set references = locus.qualities.gene_name.references %}
                            {% include "biblio_references.jinja2" %}
                        {% endif %}
                    </dd>
                {% endif %}

                <dt>Systematic Name</dt>
                <dd>{{ locus.format_name }}</dd>

                <dt>SGD ID</dt>
                <dd>{{ locus.sgdid }}</dd>

                {% for alias in locus.aliases if alias.category == 'Alias' %}
                    {% if loop.first %}<dt>Aliases</dt><dd>{% endif %}

                    {{ alias.display_name }}
                    {% set references = alias.references %}
                    {%- include "biblio_references.jinja2" -%}

                    {% if not loop.last %},{% else %}</dd>{% endif %}
                {% endfor %}

                <dt>Feature Type</dt>
                <dd>{{ locus.locus_type }}
                    {%- if 'feature_type' in locus.qualities -%}
                        {% set references = locus.qualities.feature_type.references %}
                        {% include "biblio_references.jinja2" %}
                    {% endif %}
                    {%- if locus.qualifier != None -%}, {{ locus.qualifier }}{% endif %}
                    {%- if 'qualifier' in locus.qualities -%}
                        {% set references = locus.qualities.qualifier.references %}
                        {% include "biblio_references.jinja2" %}
                    {% endif %}
                    {%- if locus.bioent_status != 'Active' -%}, {{ locus.bioent_status }}{% endif %}
                </dd>

                <dt>Description</dt>
                <dd>
                    {{ locus.description|safe }}
                    {% if 'description' in locus.qualities %}
                        {% set references = locus.qualities.description.references %}
                        {% include "biblio_references.jinja2" %}
                    {% endif %}
                </dd>

                {% if locus.name_description != None %}
                    <dt>Name Description</dt>
                    <dd>{{ locus.name_description }}
                        {% if 'name_description' in locus.qualities %}
                            {% set references = locus.qualities.name_description.references %}
                            {% include "biblio_references.jinja2" %}
                        {% endif %}
                    </dd>
                {% endif %}

                {% for alias in locus.aliases if alias.category == 'Gene product' %}
                    {% if loop.first %}
                        <dt>Gene Product</dt>
                        <dd>

                        {{ alias.display_name }}
                        {% set references = alias.references %}
                        {% include "biblio_references.jinja2" %}
                    {% endif %}
                {% endfor %}

                {% if locus.paralogs|length > 0 %}
                    <dt>Paralog</dt>
                    <dd>
                    {% for paralog in locus.paralogs %}
                        {% if paralog.child %}
                            <a href="{{ paralog.child.link }}">{{ paralog.child.display_name }}</a>
                        {% endif %}
                        {% set references = paralog.references %}
                        {% include "biblio_references.jinja2" %}

                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </dd>
                {% endif %}
            </dl>

        </div>
    </section>

<!-- Sequence
================================================== -->
    {% if tabs['sequence_section'] %}
    <section id="sequence">
        {% if tabs['sequence_tab'] %}
        <a href="/locus/{{ locus.sgdid }}/sequence" class="details-link">Sequence Details <i class="fa fa-chevron-circle-right"></i></a>
        {% endif %}
        <h2>Sequence
            <a href="#" data-dropdown="sequence_info"><i class="fa fa-info-circle"></i></a>

            <p id="sequence_info" class="f-dropdown content medium" data-dropdown-content>
                The <i>S. cerevisiae</i> Reference Genome sequence is derived from laboratory strain
                <a href="/strain/S288C/overview">S288C</a>. Download DNA or protein sequence, view genomic context and
                coordinates. Click "Sequence Details" to view all sequence information for this locus, including that
                for other strains.
            </p>
        </h2>
        <hr />

        <!-- client-rendered sequence -->
        <div class="sgd-viz">
            <div class="sgd-viz sequence-details-container" id="sequence-viz">
                <div class="sgd-loader-container"><div class="sgd-loader"></div></div>
            </div>

            {% for url in locus.urls if url.category == 'LOCUS_SEQUENCE_S288C' or url.category == 'LOCUS_SEQUENCE_OTHER_SPECIES' or url.category == 'LOCUS_SEQUENCE_OTHER_STRAINS' %}
                {% if loop.first %}
                    <h3>Analyze Sequence</h3>
                    <div class="panel">
                        {% for url in locus.urls if url.category == 'LOCUS_SEQUENCE_S288C'%}
                            {% if loop.first %}<h4>S288C only</h4><p id="reference_only_resources_list">{% endif %}
                            <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% else %} </p> {% endif %}
                        {% endfor %}


                        {% for url in locus.urls if url.category == 'LOCUS_SEQUENCE_OTHER_SPECIES'%}
                            {% if loop.first %}<h4>S288C vs. other species</h4> <p id="other_species_resources_list">{% endif %}
                            <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% else %} </p> {% endif %}
                        {% endfor %}


                        {% for url in locus.urls if url.category == 'LOCUS_SEQUENCE_OTHER_STRAINS'%}
                            {% if loop.first %}<h4>S288C vs. other strains</h4><p id="other_strains_resources_list">{% endif %}
                            <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% else %} </p> {% endif %}
                        {% endfor %}

                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    {% endif %}

<!-- Protein
================================================== -->
    {% if tabs['protein_tab'] %}
    <section id="protein">
        <a href="/locus/{{ locus.sgdid }}/protein" class="details-link">Protein Details <i class="fa fa-chevron-circle-right"></i></a>
        <h2>Protein
            <a href="#" data-dropdown="protein_info"><i class="fa fa-info-circle"></i></a>

            <p id="protein_info" class="f-dropdown content medium" data-dropdown-content>
                Basic information about the protein. Click "Protein Details" for further information about the protein
                such as abundance data, domains, shared domains with other proteins, protein sequence retrieval for
                various strains, sequence-based physico-chemical proterties, protein modification sites sites, and
                external identifiers for the protein.
            </p>
        </h2>
        <hr />
        <div class="">
            <div class="">
                 <dl class="key-value">
                     <dt>Length (a.a.)</dt>
                     <dd>{{ locus.protein_overview.length }}</dd>

                     <dt>Mol. Weight (Da)</dt>
                     <dd>{{ locus.protein_overview.molecular_weight }}</dd>

                     <dt>Isoelectric Point</dt>
                     <dd>{{ locus.protein_overview.pi }}</dd>
                 </dl>
            </div>
        </div>
    </section>
    {% endif %}

<!-- GO
================================================== -->
    {% if tabs['go_tab'] %}
    <section id="go">
        <a href="/locus/{{ locus.sgdid }}/go" class="details-link">Gene Ontology Details <i class="fa fa-chevron-circle-right"></i></a>
        <h2>Gene Ontology
            <a href="#" data-dropdown="go_info"><i class="fa fa-info-circle"></i></a>

            <p id="go_info" class="f-dropdown content medium" data-dropdown-content>
                GO Annotations consist of four mandatory components: a gene product, a term from one of the three
                <a href="http://geneontology.org/">Gene Ontology (GO)</a> controlled vocabularies
                (<a href='/ontology/go/molecular_function/overview'>Molecular Function</a>,
                <a href='/ontology/go/biological_process/overview'>Biological Process</a>, and
                <a href='/ontology/go/cellular_component/overview'>Cellular Component</a>), a reference, and an
                evidence code. SGD has manually curated and high-throughput GO Annotations, both derived from the
                literature, as well as computational, or predicted, annotations. Click "Gene Ontology Details" to view
                all GO information and evidence for this locus as well as biological processes it shares with other genes.
            </p>
        </h2>
        <hr />
        <div>

            {% if locus['go_overview']['paragraph'] %}
                <dl class="key-value">
                    <dt>Summary</dt>
                    <dd>{{ locus['go_overview']['paragraph'] }}</dd>
                </dl>
            {% endif %}

            {% if locus.go_overview.manual_molecular_function_terms|length + locus.go_overview.manual_biological_process_terms|length + locus.go_overview.manual_cellular_component_terms|length + locus.go_overview.htp_molecular_function_terms|length + locus.go_overview.htp_biological_process_terms|length + locus.go_overview.htp_cellular_component_terms|length + locus.go_overview.computational_annotation_count == 0 %}
                <p>No Gene Ontology data available.</p>
            {% else %}

                {% if 'computational_annotation_count' not in locus.go_overview or locus.go_overview.computational_annotation_count > 0 %}
                    <p><a href="/locus/{{ locus.sgdid }}/go#comp">View computational annotations</a></p>
                {% endif %}

                {% if locus.go_overview.manual_molecular_function_terms|length + locus.go_overview.htp_molecular_function_terms|length > 0 %}
                <div class="panel">
                    <h3>Molecular Function</h3>
                    <dl class="key-value">
                        {% if locus.go_overview.manual_molecular_function_terms|length > 0 %}
                        <dt>Manually Curated</dt>
                        <dd><ul style="list-style-type:disc">
                            {% for entry in locus.go_overview.manual_molecular_function_terms %}
                                <li>
                                    {% if 'qualifiers' in entry %}
                                        {% for qualifier in entry.qualifiers if qualifier in ['NOT', 'colocalizes with', 'contributes to'] %}
                                            {{ qualifier }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <a href="{{ entry.term.link }}">{{ entry.term.display_name }}</a> {% if entry.term.display_name == 'cellular component' or entry.term.display_name == 'biological process' or entry.term.display_name == 'molecular function' %}unknown{% endif %}
                                    {% for code in entry.evidence_codes %}
                                        {% if loop.first %}({% endif %}<a href="{{ code.link }}">{{ code.display_name }}</a>{% if not loop.last %}, {% else %}){% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul></dd>
                        {% endif %}

                        {% if locus.go_overview.htp_molecular_function_terms|length > 0 %}
                        <dt>High-Throughput</dt>
                        <dd><ul style="list-style-type:disc">
                            {% for entry in locus.go_overview.htp_molecular_function_terms %}
                                <li>
                                    {% if 'qualifiers' in entry %}
                                        {% for qualifier in entry.qualifiers if qualifier in ['NOT', 'colocalizes with', 'contributes to'] %}
                                            {{ qualifier }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <a href="{{ entry.term.link }}">{{ entry.term.display_name }}</a> {% if entry.term.display_name == 'cellular component' or entry.term.display_name == 'biological process' or entry.term.display_name == 'molecular function' %}unknown{% endif %}
                                    {% for code in entry.evidence_codes %}
                                        {% if loop.first %}({% endif %}<a href="{{ code.link }}">{{ code.display_name }}</a>{% if not loop.last %}, {% else %}){% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul></dd>
                        {% endif %}
                    </dl>
                </div>
                {% endif %}

                {% if locus.go_overview.manual_biological_process_terms|length + locus.go_overview.htp_biological_process_terms|length > 0 %}
                <div class="panel">
                    <h3>Biological Process</h3>
                    <dl class="key-value">
                        {% if locus.go_overview.manual_biological_process_terms|length > 0 %}
                        <dt>Manually Curated</dt>
                        <dd><ul style="list-style-type:disc">
                            {% for entry in locus.go_overview.manual_biological_process_terms %}
                                <li>
                                    {% if 'qualifiers' in entry %}
                                        {% for qualifier in entry.qualifiers if qualifier in ['NOT', 'colocalizes with', 'contributes to'] %}
                                            {{ qualifier }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <a href="{{ entry.term.link }}">{{ entry.term.display_name }}</a> {% if entry.term.display_name == 'cellular component' or entry.term.display_name == 'biological process' or entry.term.display_name == 'molecular function' %}unknown{% endif %}
                                    {% for code in entry.evidence_codes %}
                                        {% if loop.first %}({% endif %}<a href="{{ code.link }}">{{ code.display_name }}</a>{% if not loop.last %}, {% else %}){% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul></dd>
                        {% endif %}

                        {% if locus.go_overview.htp_biological_process_terms|length > 0 %}
                        <dt>High-Throughput</dt>
                        <dd><ul style="list-style-type:disc">
                            {% for entry in locus.go_overview.htp_biological_process_terms %}
                                <li>
                                    <a href="{{ entry.term.link }}">{{ entry.term.display_name }}</a> {% if entry.term.display_name == 'cellular component' or entry.term.display_name == 'biological process' or entry.term.display_name == 'molecular function' %}unknown{% endif %}
                                    {% for code in entry.evidence_codes %}
                                        {% if loop.first %}({% endif %}<a href="{{ code.link }}">{{ code.display_name }}</a>{% if not loop.last %}, {% else %}){% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul></dd>
                        {% endif %}
                    </dl>
                </div>
                {% endif %}

                {% if locus.go_overview.manual_cellular_component_terms|length + locus.go_overview.htp_cellular_component_terms|length > 0 %}
                <div class="panel">
                    <h3>Cellular Component</h3>
                    <dl class="key-value">
                        {% if locus.go_overview.manual_cellular_component_terms|length > 0 %}
                        <dt>Manually Curated</dt>
                        <dd><ul style="list-style-type:disc">
                            {% for entry in locus.go_overview.manual_cellular_component_terms %}
                                <li>
                                    {% if 'qualifiers' in entry %}
                                        {% for qualifier in entry.qualifiers if qualifier in ['NOT', 'colocalizes with', 'contributes to'] %}
                                            {{ qualifier }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <a href="{{ entry.term.link }}">{{ entry.term.display_name }}</a> {% if entry.term.display_name == 'cellular component' or entry.term.display_name == 'biological process' or entry.term.display_name == 'molecular function' %}unknown{% endif %}
                                    {% for code in entry.evidence_codes %}
                                        {% if loop.first %}({% endif %}<a href="{{ code.link }}">{{ code.display_name }}</a>{% if not loop.last %}, {% else %}){% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul></dd>
                        {% endif %}

                        {% if locus.go_overview.htp_cellular_component_terms|length > 0 %}
                        <dt>High-Throughput</dt>
                        <dd><ul style="list-style-type:disc">
                            {% for entry in locus.go_overview.htp_cellular_component_terms %}
                                <li>
                                    {% if 'qualifiers' in entry %}
                                        {% for qualifier in entry.qualifiers if qualifier in ['NOT', 'colocalizes with', 'contributes to'] %}
                                            {{ qualifier }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <a href="{{ entry.term.link }}">{{ entry.term.display_name }}</a> {% if entry.term.display_name == 'cellular component' or entry.term.display_name == 'biological process' or entry.term.display_name == 'molecular function' %}unknown{% endif %}
                                    {% for code in entry.evidence_codes %}
                                        {% if loop.first %}({% endif %}<a href="{{ code.link }}">{{ code.display_name }}</a>{% if not loop.last %}, {% else %}){% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul></dd>
                        {% endif %}
                    </dl>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
    {% endif %}

<!-- Pathway
================================================== -->
    {% if locus.pathways|length > 0 %}
    <section id="pathway">
        <h2>Pathways</h2>
        <hr />
        <div class="panel">
            <ul>
                {% for pathwayevidence in locus.pathways %}
                    <li><a href="{{ pathwayevidence.pathway.link }}">{{ pathwayevidence.pathway.display_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}

<!-- Phenotype
================================================== -->
    {% if tabs['phenotype_tab'] %}
    <section id="phenotype">
        <a href="/locus/{{ locus.sgdid }}/phenotype" class="details-link">Phenotype Details <i class="fa fa-chevron-circle-right"></i></a>
        <h2>Phenotype
            <a href="#" data-dropdown="phenotype_info"><i class="fa fa-info-circle"></i></a>

            <p id="phenotype_info" class="f-dropdown content medium" data-dropdown-content>
                Phenotype annotations for a gene are curated single mutant phenotypes that require an observable
                (e.g., "cell shape"), a qualifier (e.g., "abnormal"), a mutant type (e.g., null), strain background,
                and a reference. In addition, annotations are classified as classical genetics or high-throughput
                (e.g., large scale survey, systematic mutation set). Whenever possible, allele information and
                additional details are provided. Click "Phenotype Details" to view all phenotype annotations and
                evidence for this locus as well as phenotypes it shares with other genes.
            </p>
        </h2>
        <hr />
        {% if locus['phenotype_overview']['paragraph'] %}
            <dl class="key-value">
                <dt>Summary</dt>
                <dd>{{ locus['phenotype_overview']['paragraph'] }}</dd>
            </dl>
        {% endif %}
        <div class="">
            {% if locus.phenotype_overview.classical_phenotypes|length + locus.phenotype_overview.large_scale_phenotypes|length == 0 %}
                <p>No phenotype data available.</p>
            {% else %}
                {% if locus.phenotype_overview.classical_phenotypes|length > 0 %}
                <div class="panel">
                    <h3>Classical Genetics</h3>
                    <dl class="key-value">
                        {% for mutant, phenotypes in locus.phenotype_overview.classical_phenotypes.iteritems() %}
                            <dt>{{ mutant }}</dt>
                            <dd><ul style="list-style-type:disc">
                                {% for phenotype in phenotypes|sort(attribute='display_name') %}
                                     <li><a href="{{ phenotype.link }}">{{ phenotype.display_name }}</a></li>
                                {% endfor %}
                            </ul></dd>
                        {% endfor %}
                    </dl>
                </div>
                {% endif %}

                {% if locus.phenotype_overview.large_scale_phenotypes|length > 0 %}
                <div class="panel">
                    <dl class="key-value">
                        <h3>Large-scale Survey</h3>
                        {% for mutant, phenotypes in locus.phenotype_overview.large_scale_phenotypes.iteritems() %}
                            <dt>{{ mutant }}</dt>
                            <dd><ul style="list-style-type:disc">
                                {% for phenotype in phenotypes|sort(attribute='display_name') %}
                                     <li><a href="{{ phenotype.link }}">{{ phenotype.display_name }}</a></li>
                                {% endfor %}
                            </ul></dd>
                        {% endfor %}
                    </dl>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
    {% endif %}

<!-- Interaction
================================================== -->
    {% if tabs['interaction_tab'] %}
    <section id="interaction">
        <a href="/locus/{{ locus.sgdid }}/interaction" class="details-link">Interaction Details <i class="fa fa-chevron-circle-right"></i></a>
        <h2>Interaction
            <a href="#" data-dropdown="interaction_info"><i class="fa fa-info-circle"></i></a>

            <p id="interaction_info" class="f-dropdown content medium" data-dropdown-content>
                Interaction annotations are curated by <a href="http://thebiogrid.org/">BioGRID</a> and include physical
                or genetic interactions observed
                between at least two genes. An interaction annotation is composed of the interaction type, name of the
                interactor, assay type (e.g., Two-Hybrid), annotation type (e.g., manual or high-throughput), and a
                reference, as well as other experimental details. Click "Interaction Details" to view all interaction
                annotations and evidence for this locus, including an interaction visualization.
            </p>
        </h2>
        <hr />
        <div class="">
            {% if locus.interaction_overview.total_interactions == 0 %}
                <p>No interaction data available.</p>
            {% else %}
                <p><a href="/locus/{{ locus.sgdid }}/interaction#annotations">{{ locus.interaction_overview.total_interactions }}</a> total interactions for {{ locus.interaction_overview.total_interactors }} unique genes</p>

                {% if locus.interaction_overview.num_phys_interactors  > 0 %}
                <div class="panel">
                    <h3>Physical Interactions</h3>
                    <ul>
                        {% for experiment in locus.interaction_overview.physical_experiments.keys()|sort %}
                            <li>{{ experiment }}: {{ locus.interaction_overview.physical_experiments[experiment] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if locus.interaction_overview.num_gen_interactors  > 0 %}
                <div class="panel">
                    <h3>Genetic Interactions</h3>
                    <ul>
                        {% for experiment in locus.interaction_overview.genetic_experiments.keys()|sort %}
                            <li>{{ experiment }}: {{ locus.interaction_overview.genetic_experiments[experiment] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
    {% endif %}

<!-- Regulation
================================================== -->
    {% if tabs['regulation_tab'] %}
    <section id="regulation">
        <a href="/locus/{{ locus.sgdid }}/regulation" class="details-link">Regulation Details <i class="fa fa-chevron-circle-right"></i></a>
        <h2>Regulation
            <a href="#" data-dropdown="regulation_info"><i class="fa fa-info-circle"></i></a>

            <p id="regulation_info" class="f-dropdown content medium" data-dropdown-content>
                The number of putative Regulators (genes that regulate it) and Targets (genes it regulates) for the
                given locus, based on experimental evidence. This evidence includes data generated through
                high-throughput techniques. Click "Regulation Details" to view all regulation annotations, shared GO
                enrichment among regulation Targets, and a regulator/target diagram for the locus.
            </p>
        </h2>
        <hr />
        <div class="">
            <div class="">
                {% if locus.regulation_overview.regulator_count + locus.regulation_overview.target_count == 0 %}
                    <p>No regulation data available.</p>
                {% else %}
                    <dl class="key-value">
                         <dt>Regulators</dt>
                         <dd>
                             {% if locus.regulation_overview.regulator_count > 0 %}
                                <a href="/locus/{{ locus.sgdid }}/regulation#regulators">{{ locus.regulation_overview.regulator_count }}</a>
                             {% else %}
                                 {{ locus.regulation_overview.regulator_count }}
                             {% endif %}
                         </dd>

                         <dt>Targets</dt>
                         <dd>
                            {% if locus.regulation_overview.target_count > 0 %}
                                <a href="/locus/{{ locus.sgdid }}/regulation#targets">{{ locus.regulation_overview.target_count }}</a>
                            {% else %}
                                {{ locus.regulation_overview.target_count }}
                            {% endif %}
                         </dd>
                    </dl>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}

<!-- Expression
================================================== -->
    {% if tabs['expression_tab'] %}
    <section id="expression">
        <a href="/locus/{{ locus.sgdid }}/expression" class="details-link">Expression Details <i class="fa fa-chevron-circle-right"></i></a>
        <h2>Expression
            <a href="#" data-dropdown="expression_info"><i class="fa fa-info-circle"></i></a>

            <p id="expression_info" class="f-dropdown content medium" data-dropdown-content>
                Expression data are derived from records contained in the
                <a href="http://www.ncbi.nlm.nih.gov/geo/">Gene Expression Omnibus (GEO)</a>, and are first log2
                transformed and normalized. Referenced datasets may contain one or more condition(s), and as a result
                there may be a greater number of conditions than datasets represented in a single clickable histogram
                bar. The histogram division at 0.0 separates the down-regulated (green) conditions and datasets from
                those that are up-regulated (red). Click "Expression Details" to view all expression annotations and
                details for this locus, including a visualization of genes that share a similar expression pattern.
            </p>
        </h2>
        <hr />
        <div class="">
            <div id="two_channel_expression_chart" class="panel"></div>
        </div>
    </section>
    {% endif %}

<!-- Paragraph
================================================== -->
    {% if locus.paragraph != None %}
    <section id="paragraph">
        <h2>Summary Paragraph
            <a href="#" data-dropdown="paragraph_info"><i class="fa fa-info-circle"></i></a>

            <p id="paragraph_info" class="f-dropdown content medium" data-dropdown-content>
                A summary of the locus, written by SGD Biocurators following a thorough review of the literature. Links
                to gene names and curated GO terms are included within the Summary Paragraphs.
            </p>
        </h2>
        <hr />
        <div class="">
            <div id="summary_paragraph"></div>
            <p>Last Updated: {{ locus.paragraph.date_edited }}</p>
        </div>
    </section>
        {% endif %}

<!-- Literature
================================================== -->
    {% if tabs['literature_tab'] %}
    <section id="literature">
        <a href="/locus/{{ locus.sgdid }}/literature" class="details-link">Literature Details <i class="fa fa-chevron-circle-right"></i></a>
        <h2>Literature
            <a href="#" data-dropdown="literature_info"><i class="fa fa-info-circle"></i></a>

            <p id="literature_info" class="f-dropdown content medium" data-dropdown-content>
                All manually curated literature for the specified gene, organized into topics according to their
                relevance to the gene (Primary Literature, Additional Literature, or Review). Click "Literature Details"
                to view all literature information for this locus, including shared literature between genes.
            </p>
        </h2>
        <hr />
        <div class="">
            <div class="">
                {% if locus.literature_overview.primary_count + locus.literature_overview.additional_count + locus.literature_overview.review_count == 0 %}
                    <p>No literature data available.</p>
                {% else %}
                    <dl class="key-value">
                        <dt>Primary</dt>
                        {% if locus.literature_overview.primary_count > 0 %}
                            <dd><a href="/locus/{{ locus.sgdid }}/literature#primary">{{locus.literature_overview.primary_count}}</a></dd>
                        {% else %}
                            <dd>{{locus.literature_overview.primary_count}}</dd>
                        {% endif %}

                        <dt>Additional</dt>
                        {% if locus.literature_overview.additional_count > 0 %}
                            <dd><a href="/locus/{{ locus.sgdid }}/literature#additional">{{locus.literature_overview.additional_count}}</a></dd>
                        {% else %}
                            <dd>{{locus.literature_overview.additional_count}}</dd>
                        {% endif %}

                        <dt>Reviews</dt>
                        {% if locus.literature_overview.review_count > 0 %}
                            <dd><a href="/locus/{{ locus.sgdid }}/literature#reviews">{{locus.literature_overview.review_count}}</a></dd>
                        {% else %}
                            <dd>{{locus.literature_overview.review_count}}</dd>
                        {% endif %}
                    </dl>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}

<!-- History
================================================== -->
    <div id="history_target">
    </div>

<!-- References
================================================== -->
    <section id="reference">
    </section>

    <!-- Resources
================================================== -->
    {% for url in locus.urls if url.category == 'LOCUS_LSP' %}{% if loop.first %}
    <section id="resources">
        <h2>Resources</h2>
        <hr />
        <div class="panel">
            <p>
                {% for url in locus.urls if url.category == 'LOCUS_LSP'%}
                    <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                {% endfor %}
            </p>
        </div>
    </section>
    {% endif %}{% endfor %}

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{{asset_root}}/js/application.js"></script>
<script>
    views.summary.render();
</script>
{% endblock scripts %}
