<h1 id='{{ map_id }}_title'><small>{{ map_title }}
    <a href="#" data-dropdown="{{ map_id }}_help"><i class="fa fa-question-circle"></i></a>

    <p id="{{ map_id }}_help" class="f-dropdown content medium" data-dropdown-content>
        {% block help %}{% endblock %}
    </p>
    </small>
</h1>

<div id="{{ map_id }}"></div>