<!-- Docs nav
================================================== -->
<nav id="sidebar" class="medium-2 columns">
    <div data-magellan-expedition="fixed">
        <ul class="side-nav" id="side-nav-sticky"></ul>
    </div>

    <script>
        var navbar = document.getElementById("side-nav-sticky");
        function add_navbar_element(entry_name, section_name) {
            var li = document.createElement('li');
            li.setAttribute('id', 'navbar_' + section_name);
            li.setAttribute('data-magellan-arrival', section_name)
            var a = document.createElement('a');
            a.href = "#" + section_name;
            a.innerHTML = entry_name;
            a.id = section_name + '_click';
            li.appendChild(a);
            navbar.appendChild(li);
        }
        function add_navbar_title(title) {
            var li = document.createElement('li');
            li.setAttribute('id', 'nav-title');
            var titleSpan = document.createElement('span');
            titleSpan.innerHTML = title;
            li.appendChild(titleSpan);
            if (navbar.childElementCount > 0) {
                navbar.insertBefore(li, navbar.firstChild);
            }
            else {
                navbar.appendChild(li)
            }
        }
    </script>
</nav>

