<div class="panel">
    <div id="{{ network_id }}" name="cy" style="width:100%;height:700px"></div>
    {% block legend %}{% endblock %}
</div>

<div class="button-bar">
    <ul class="button-group radius">
        <li><a disabled="true" id="cy_download" class="small button secondary" disabled="true"><i
                class="fa fa-download"></i> Download (.png)</a></li>
    </ul>
    {% block additional_buttons %}{% endblock %}
</div>