{% extends "lite_layout.jinja2" %}

{% block title %}New Colleague{% endblock %}

{% block body %}

<iframe src="http://localhost:6543/#/new_colleague" width="100%" style="min-height: 50rem; border: none;">
  <p>Your browser does not support iframes.</p>
</iframe>

{% endblock body %}

{# {% block scripts %}
<script>
	views.router.render();
</script>
{% endblock scripts %}
 #}