{% extends "network.jinja2" %}

{% block help %}
    Click on a gene or phenotype observable name to go to its specific page within SGD; drag any of the gene or
    observable objects around within the visualization for easier viewing; click “Reset” to automatically redraw the
    diagram; filter the genes that share observable terms with the given gene by the number of terms they share by
    clicking anywhere on the slider bar or dragging the tab to the desired filter number.
{% endblock %}

{% block legend %}
    <label><strong>Filter Genes by # of Phenotypes Shared With {{ locus.display_name }}:</strong></label>
    <div id="slider" class="noUiSlider" style="width:100%"></div>
    <div id="slider_ticks"></div>
    <br>
{% endblock %}

{% block additional_buttons %}{% endblock %}