
<div class="panel" id="summary_wrapper">
    <div id="observable_chart" style="height: 300px;"></div>
    <div class="row">
        <div class="large-6 columns" id="mutant_experiment_chart"></div>
        <div class="large-6 columns" id="strain_chart" ></div>
    </div>
</div>
<br>