
<div class="panel" id="summary_wrapper">
    <div class="row">
        <div class="large-6 columns" id="mutant_experiment_chart"></div>
        <div class="large-6 columns" id="strain_chart" ></div>
    </div>
</div>
<br>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/static/js/phenotype_overview.js"></script>