{% extends "network.jinja2" %}

{% block help %}
    Click on a phenotype to go to its specific page within SGD; drag any of the phentoype objects around within the visualization
    for easier viewing; click “Reset” to automatically redraw the diagram.
{% endblock %}

{% block legend %}{% endblock %}

{% block additional_buttons %}{% endblock %}