<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Summary</h1>
		<p>This page lists all curated single mutant phenotypes associated with {{ locus.display_name }}.</p>
        <div class="panel" id="summary_wrapper">
            <div class="row">
                <div class="large-6 columns" id="mutant_experiment_chart"></div>
                <div class="large-6 columns" id="strain_chart" ></div>
            </div>
		</div>
        <br>
	</div>
</section>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/static/js/phenotype_overview.js"></script>