{% extends "global_layout.jinja2" %}

{% block title %}{{ ontology.display_name}}{% endblock %}

{% block head %}
<script>
	var ontology_graph_link = "{{ontology_graph_link}}";
</script>

{% endblock %}

{% block body %}

<div id="center_title" class="row">
	<h1><span class="gene_name">{{ ontology.display_name }}</span></h1>
</div>

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('<span class="gene_name">{{ ontology.display_name }}</span>')
            add_navbar_element('Overview', 'overview');
            add_navbar_element('Ontology Diagram', 'network');
        </script>

<!-- Summary
================================================== -->
        <section id="overview" data-magellan-destination="overview">
            <div class="page-header">
                <h2>Overview</h2>
                <div class="panel">
                    <dl class="key-value">
                        <dt>Description</dt>
                        <dd>{{ ontology.description|replace("Saccharomyces cerevisiae", "<em>Saccharomyces cerevisiae</em>")|safe }}</dd>
                    </dl>
                </div>
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h2>Ontology Diagram</h2>
                <div class="panel">
                    <!-- Includes phenotype_table into template -->
                    {% set network_id = "cy" %}
                    {% include "phenotype_ontology_network.jinja2" %}
                    <br>
                    <ul id='full_ontology' class='unstyled nested-lists'></ul>
                </div>
            </div>
        </section>

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/build/cytoscape.min.js"></script>	
<script src="/static/js/build/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/phenotype_ontology.js"></script>
{% endblock scripts %}

