<!DOCTYPE html>

<script>
	var phenotype_details_link = "{{phenotype_details_link}}";
	var phenotype_graph_link = "{{phenotype_graph_link}}";
	var phenotype_resources_link = "{{phenotype_resources_link}}";
	var download_table_link = "{{download_table_link}}";
	var download_table_filename = "{{ locus.display_name}}_phenotypes";
	var overview_data = {{overview | safe}};
	var display_name = "{{ locus.display_name }}";
	var class_type = "{{ locus.class_type }}";
</script>

<title>{{ locus.display_name }} Phenotypes</title>

{% extends "global_layout.jinja2" %}


{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{{ locus.display_name }}/{{ locus.format_name }}</span> Phenotypes  <a href="/help/PhenoHelp.html" name="top" class="help"><img src="/images/icon_help_circle_dark.png" alt="Help"></a></h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById("phenotype_tab").id = "current";</script>

<div class="row">

<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title("<a href='{{ locus.link }}'>{{ locus.display_name }}/{{ locus.format_name }}</a> Phenotypes");
            add_navbar_element("Summary", "summary");
            add_navbar_element("Annotations", "annotations");
            add_navbar_element("Network Visualization", "network");
            add_navbar_element("Resources", "resources");
        </script>

        <!-- Includes phenotype_overview.html into template -->
        {% include "phenotype_overview.jinja2" %}

<!-- Annotations
================================================== -->
        <section id="annotations" data-magellan-destination="annotations">
            <div class="page-header">
                <h1>Phenotype Annotations <span id="phenotype_table_header" class="round secondary label"></span></h1>
                <!-- Includes phenotype_table into template -->
                {% set table_id = "phenotype_table" %}
                {% include "phenotype_table.jinja2" %}
            </div>
        </section>

<!-- Network Visualization
================================================== -->
        <section id="network" data-magellan-destination="network">
            <div class="page-header">
                <h1>Network Visualization</h1>
                <div class="panel">
                    <div id="cy" name="cy" style="width:100%;height:700px"></div>
                    <h5>Filter Genes by # of Phenotypes Shared With {{ locus.display_name }}:</h5>
                    <div id="slider" class="noUiSlider" style="width:100%"></div>
                    <div id="slider_ticks"></div>
                    <br>
                </div>
            </div>
        </section>

<!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
            <div class="page-header">
                <h1>Resources</h1>
                <h3>Mutant Strains</h3>
                <ul id="mutant_resource_list"></ul>
                <h3>Phenotype Resources</h3>
                <ul id="phenotype_resource_list"></ul>
                <h3>Ontology</h3>
                <ul><a href="{{ontology_link}}">Yeast Phenotype Ontology</a></ul>
            </div>
        </section>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/jquery.nouislider.min.js"></script>
<script src="/static/js/cytoscape/cytoscape.min.js"></script>
<script src="/static/js/cytoscape/arbor.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/phenotype_details.js"></script>
{% endblock scripts %}
