
<ul class="unstyled">
    <li>
        {% for alias in locus.aliases if alias.category == 'Uniform' %}
            {% if loop.first %}<strong>Aliases: </strong>{% endif %}
            <span>{{ alias.display_name }}</span>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </li>
    <li>
        {% for alias in locus.aliases if alias.category == 'Gene product' %}
            {% if loop.first %}<strong>Gene Product: </strong>{% endif %}
            <span>{{ alias.display_name }}</span>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </li>
    <li><strong>Description: </strong>{{ locus.description }}</li>
    <li>
        {% for reference in locus.description_references %}
            <a href="{{ reference.link }}">{{ reference.display_name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </li>
    <li>
        {% for alias in locus.aliases if alias.category == 'NCBI protein name' %}
            {% if loop.first %}<strong>Protein Product: </strong>{% endif %}
            <span>{{ alias.display_name }}</span>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </li>
    <li id="ec_number"></li>
</ul>


