{% extends "global_layout.jinja2" %}

{% block title %}{{ locus.display_name }} Protein{% endblock %}

{% block head %}
<script>
	var protein_overview = {{ protein_overview | safe }};
    var length = {{ length }};
    var protein_domain_graph_link = "{{ protein_domain_graph_link }}";
    var sequence_details_link = "{{ sequence_details_link }}";
    var protein_phosphorylation_details_link = "{{ protein_phosphorylation_details_link }}";
    var ec_number_details_link = "{{ ec_number_details_link }}";
    var protein_experiment_details_link = "{{ protein_experiment_details_link }}";
    var bioentity_details_link = "{{ bioentity_details_link }}";
    var aliases = {{ aliases|safe }};

	var download_table_link = "{{download_table_link}}";
    var download_sequence_link = "{{download_sequence_link}}";
	var analyze_link = "{{analyze_table_link}}";

    var domains_table_filename = "{{ locus.display_name }}_domains";
    var alias_table_filename = "{{ locus.display_name }}_external_ids";
    var domain_network_filename = "{{ locus.display_name }}_domain_network";
    var properties_table_filename = "{{ locus.display_name }}_protein_properties";
    var protein_experiment_table_filename = "{{ locus.display_name }}_experimental_data";
    var phosphorylation_table_filename = "{{ locus.display_name }}_phosphorylation";

	var display_name = "{{ locus.display_name }}";
    var protein_display_name = "{{ locus.display_name|title }}p";
    var format_name = "{{ locus.format_name }}";
	var locus_id = "{{ locus.id }}";

</script>
{% endblock %}

{% block body %}

<div id="center_title" class="row">
	<h2><span class="gene_name">{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }}/{{ locus.format_name }}{% endif %}</span> Protein Information</h2>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById('protein_tab').id = 'current';</script>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
        //Set up navbar
            add_navbar_title('<a href="{{ locus.link }}">{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }}/{{ locus.format_name }}{% endif %}</a> Protein');
            add_navbar_element('Summary', 'summary');
            add_navbar_element('Domains and Classification', 'domain');
            add_navbar_element('Experimental Data', 'experiment');
            add_navbar_element('Sequence', 'sequence');
            add_navbar_element('External Identifiers', 'external_ids');
            add_navbar_element('Resources', 'resources');
        </script>

<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Summary</h1>
        <ul class="unstyled">
            <li>
                {% for alias in locus.aliases if alias.category == 'Uniform' %}
                    {% if loop.first %}<strong>Aliases: </strong>{% endif %}
                    <span>{{ alias.display_name }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </li>
            <li>
                {% for alias in locus.aliases if alias.category == 'Gene product' %}
                    {% if loop.first %}<strong>Gene Product: </strong>{% endif %}
                    <span>{{ alias.display_name }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </li>
            <li>
                <strong>Description: </strong>{{ locus.description }}
                {% for reference in locus.description_references %}
                    {% if loop.first %}
                        <a href="#" data-dropdown="drop_description" data-options="align:left"><i class="fa fa-info-circle"></i></a>
                        <div id="drop_description" class="f-dropdown content medium" data-dropdown-content>
                        <p>
                    {% endif %}
                    <a href="{{ reference.link }}">{{ reference.display_name }}</a>
                    {% if not loop.last %}
                        ,
                    {% else %}
                        </p></div>
                    {% endif %}
                {% endfor %}
            </li>
            <li>
                {% for alias in locus.aliases if alias.category == 'NCBI protein name' %}
                    {% if loop.first %}<strong>Protein Product: </strong>{% endif %}
                    <span>{{ alias.display_name }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </li>
            <li id="ec_number"></li>
        </ul>
	</div>
</section>

<!-- Domains
================================================== -->
        <section id="domain" data-magellan-destination="domain">
            <div class="page-header">
                <h1>Domains and Classification <span id="domain_table_header" class="round secondary label"></span></h1>
                <!-- Includes domain_table into template -->
                {% set table_id = "domain_table" %}
                {% include "domain_table.jinja2" %}

                <div id="domain_locations">
                    <h2  class="subheader">Domain Locations</h2>
                    <!-- Includes protein_overview.html into template -->
                    {% include "protein_overview.jinja2" %}
                </div>

                <div id="shared_domains">
                    <h2 id="network" class="subheader">Shared Domains</h2>
                    <div class="panel">
                        <div id="cy" name="cy" style="width:100%;height:500px"></div>
                    </div><!-- .panel -->
                    <ul class="button-group radius">
                        <li><a id="domain_network_download" class="small button secondary"><i class="fa fa-download"></i> Download Shared Domains</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Experimental Data
================================================== -->
        <section id="experiment" data-magellan-destination="experiment">
            <div class="page-header">
                <h1>Experimental Data</h1>
                <!-- Includes domain_table into template -->
                {% set table_id = "protein_experiment_table" %}
                {% include "protein_experiment_table.jinja2" %}
            </div>
        </section>

<!-- Sequence
================================================== -->
        <section id="sequence" data-magellan-destination="sequence">
            <div class="page-header">
                <h1>Sequence</h1>
                <p id="sequence_section_message" hidden>This locus is not translated into a protein.</p>
                <div id="sequence_section">
                    <label><h3>Strain</h3>
                        <select id="strain_selection" class="large-3"></select> - <span id="strain_description"></span>
                    </label>

                    <div class="button-bar">
                        <ul class="button-group radius">
                            <li><a id="sequence_download" class="small button secondary"><i class="fa fa-download"></i> Download</a></li>
                        </ul>
                    </div>
                    <pre><blockquote id="sequence_residues" style="font-family:Monospace; font-size:large"></blockquote></pre>
                    <p>* Red amino acids indicate phosphorylation sites. More information below.</p>

                    <div id="phosphorylation_sites_wrapper">
                        <h2 class="subheader">Phosphorylation Sites <span id="phosphorylation_table_header" class="round secondary label"></span></h2>
                        <!-- Includes phosphorylation_table into template -->
                        {% include "phosphorylation_table.jinja2" %}
                    </div>

                    <div id="physicochemical_props">
                        <h2 class="subheader">Sequence-Based Physico-chemical Properties</h2>

                        <div class="row">
                            <div class="small-12 large-6 columns content-column">
                                <h3>Amino Acid Composition</h3>
                                <table class="table table-striped table-bordered table-condensed" id="amino_acid_table" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Amino Acid</th>
                                            <th>Frequency</th>
                                            <th>Percentage</th>
                                        </tr>
                                    </thead>
                                </table>
                                <ul class="button-group radius">
                                    <li><a id="protein_properties_download" class="small button secondary"><i class="fa fa-download"></i> Download Properties</a></li>
                                </ul>
                            </div>
                            <div class="small-12 large-6 columns content-column">
                                <h3>Physical Details</h3>
                                <table class="table table-striped table-bordered table-condensed" id="physical_details_table" width="100%">
                                    <tbody>
                                        <tr><td>Length (a.a):</td><td id="length"></td></tr>
                                        <tr><td>Molecular Weight (Da):</td><td id="molecular_weight"></td></tr>
                                        <tr><td>Isoelectric Point (pl):</td><td id="pi"></td></tr>
                                        <tr><td>Formula:</td><td id="formula"></td></tr>
                                        <tr><td>Aliphatic Index:</td><td id="aliphatic_index"></td></tr>
                                        <tr><td>Instability Index:</td><td id="instability_index"></td></tr>
                                    </tbody>
                                </table>

                                <h3>Coding Region Translation Calculations</h3>
                                <table class="table table-striped table-bordered table-condensed" id="coding_region_table" width="100%">
                                    <tbody>
                                        <tr><td>Codon Bias:</td><td id="codon_bias"></td></tr>
                                        <tr><td>Codon Adaptation Index:</td><td id="cai"></td></tr>
                                        <tr><td>Frequence of Optimal Codons:</td><td id="fop_score"></td></tr>
                                        <tr><td>Hydropathicity of Protein:</td><td id="gravy_score"></td></tr>
                                        <tr><td>Aromaticity Score:</td><td id="aromaticity_score"></td></tr>
                                    </tbody>
                                </table>

                                <h3>Extinction Coefficients at 280nm</h3>
                                <table class="table table-striped table-bordered table-condensed" id="extinction_coeff_table" width="100%">
                                    <tbody>
                                        <tr><td>ALL Cys residues appear as half cystines:</td><td id="all_cys_ext_coeff"></td></tr>
                                        <tr><td>NO Cys residues appear as half cystines:</td><td id="no_cys_ext_coeff"></td></tr>
                                    </tbody>
                                </table>

                                <h3>Atomic Composition</h3>
                                <table class="table table-striped table-bordered table-condensed" id="atomic_table" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Atom</th>
                                            <th>Frequency</th>
                                            <th>Percentage</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- External IDs
================================================== -->
        <section id="external_ids" data-magellan-destination="external_ids">
            <div class="page-header">
                <h1>External Identifiers <span id="alias_table_header" class="round secondary label"></span></h1>
                <!-- Includes alias_table into template -->
                {% set table_id = "alias_table" %}
                {% include "alias_table.jinja2" %}
            </div>
        </section>

<!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
            <div class="page-header">
                <h1>Resources</h1>
                <h3>Homologs</h3>
                    <p>
                        {% for url in locus.urls if url.category == 'LOCUS_PROTEIN_HOMOLOGS'%}
                            <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </p>
                <h3>Protein Databases/Other</h3>
                    <p>
                        {% for url in locus.urls if url.category == 'LOCUS_PROTEIN_PROTEIN_DATABASES'%}
                            <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </p>
                <h3>Localization</h3>
                    <p>
                        {% for url in locus.urls if url.category == 'LOCUS_PROEIN_LOCALIZATION'%}
                            <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </p>
                <h3>Post-translational Modifications</h3>
                    <p>
                        {% for url in locus.urls if url.category == 'LOCUS_PROTEIN_MODIFICATIONS'%}
                            <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </p>
            </div>
        </section>

    </div>
</div>

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script src="/static/js/protein_overview.js"></script>
<script>
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(function(){
        if(protein_overview != null && protein_overview['domains'].length > 0) {
            draw_domain_chart("domain_chart", length, protein_overview['domains']);
        }
    });
</script>
<script src="/static/js/build/nouislider.min.js"></script>
<script src="/static/js/build/cytoscape.min.js"></script>
<script src="/static/js/build/arbor.js"></script>
<script src="/static/js/local.js"></script>
<script src="/static/js/cytoscape.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/protein_details.js"></script>
{% endblock scripts %}

{% endblock body %}
