{% extends "global_layout.jinja2" %}

{% block title %}{{ locus.display_name }} Protein{% endblock %}

{% block head %}
<script>
    var locus = {{ locus_js|safe }};


    var domains_table_filename = "{{ locus.display_name }}_domains";
    var alias_table_filename = "{{ locus.display_name }}_external_ids";
    var domain_network_filename = "{{ locus.display_name }}_domain_network";
    var properties_table_filename = "{{ locus.display_name }}_protein_properties";
    var protein_experiment_table_filename = "{{ locus.display_name }}_experimental_data";
    var phosphorylation_table_filename = "{{ locus.display_name }}_phosphorylation";

	var display_name = "{{ locus.display_name }}";
    var format_name = "{{ locus.format_name }}";
	var locus_id = "{{ locus.id }}";

</script>
{% endblock %}

{% block body %}

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById("protein_tab").className += " active";</script>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-10 columns content-column">

        <script>
        //Set up navbar
            add_navbar_title('<span>{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }} / {{ locus.format_name }}{% endif %}</span>');
            add_navbar_element('Protein Overview', 'overview');
            add_navbar_element('Experimental Data', 'experiment');
            add_navbar_element('Domains and Classification', 'domain');
            add_navbar_element('Sequence', 'sequence');
            add_navbar_element('External Identifiers', 'external_ids');
            add_navbar_element('Resources', 'resources');
        </script>

<!-- Overview
================================================== -->
    <section id="overview" data-magellan-destination="overview">
        <a href="/help/function-help/protein-information" name="top" class="documentation-link">Protein Help <i class="fa fa-question-circle"></i></a>
        <h1>{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }} / {{ locus.format_name }}{% endif %} Protein
            <a href="#" data-dropdown="summary_info"><i class="fa fa-info-circle"></i></a>

            <div id="summary_info" class="f-dropdown content medium" data-dropdown-content>
                <p>Protein abundance data, domains, shared domains with other proteins, protein sequence retrieval
                    for
                    various strains, sequence-based physico-chemical proterties, phosphorylation sites, and external
                    identifiers for the protein.</p>
            </div>
        </h1>
        <hr />
        <div class="">
            <!-- Includes sequence_overview.html into template -->
            {% include "sequence_overview.jinja2" %}
        </div>
    </section>

<!-- Experimental Data
================================================== -->
    <section id="experiment" data-magellan-destination="experiment">
        <h2>Experimental Data</h2>
        <hr />
        <div class="">
            <!-- Includes domain_table into template -->
            {% set table_id = "protein_experiment_table" %}
            {% include "protein_experiment_table.jinja2" %}
        </div>
    </section>

<!-- Domains
================================================== -->
    <section id="domain" data-magellan-destination="domain">
        <h2>Domains and Classification 
            <a href="#" data-dropdown="domain_info"><i class="fa fa-info-circle"></i></a>

            <p id="domain_info" class="f-dropdown content medium" data-dropdown-content>
                Collection of computationally identified domains and motifs, as determined by InterProScan analysis;
                includes protein coordinates for the domain, a domain Description, a Source and corresponding accession
                ID, and the number of <i>S. cerevisiae</i> genes that share the same domain.
            </p>
            <span id="domain_table_header" class="round secondary label"></span>
        </h2>
        <hr />
        
        <div class="spaced-container">
            <!-- Includes domain_table into template -->
            {% set table_id = "domain_table" %}
            {% include "domain_table.jinja2" %}
        </div>
        
        <div id="domain_locations" class="panel sgd-viz">
            <h3>Domain Locations
                <a href="#" data-dropdown="domain_location_info"><i class="fa fa-info-circle"></i></a>

                <p id="domain_location_info" class="f-dropdown content medium" data-dropdown-content>
                    Visual representation of the locations of the domains within the protein, as listed in
                    the Domains and Classification table. Each row displays the domain(s) derived from a
                    different Source, with domains color-coded according to this Source.
                </p>

                <a href="#" data-dropdown="domain_location_help"><i class="fa fa-question-circle"></i></a>

                <p id="domain_location_help" class="f-dropdown content medium" data-dropdown-content>
                    Scroll over a domain to view its exact coordinates and its Description.
                </p>
            </h3>
            <div id="domain_chart">
                <img class="loader" src="/static/img/dark-slow-wheel.gif" />
            </div>
        </div>

        <div id="shared_domains" class="">
            <h3 id="network">Shared Domains
                <a href="#" data-dropdown="network_help"><i class="fa fa-info-circle"></i></a>

                <p id="network_help" class="f-dropdown content medium" data-dropdown-content>
                    This diagram displays domains (colored squares) shared between the given protein (yellow circle)
                    and other proteins (gray circles); the domains are color-coded according to their source, as
                    displayed in the Domain Locations table, above.
                </p>
            </h3>

            {% set network_id = "cy" %}
            {% include "domain_network.jinja2" %}
        </div>
    </section>

<!-- Sequence
================================================== -->
        <section id="sequence" data-magellan-destination="sequence">
            <h2>Sequence
                <a href="#" data-dropdown="sequence_info"><i class="fa fa-info-circle"></i></a>

                <p id="sequence_info" class="f-dropdown content medium" data-dropdown-content>                    
                    Protein sequence for the given gene in S288C and other strains, when available. Use the pull-down menu under "Strain" to select the sequence for a specific strain. The displayed sequence can be downloaded in FASTA format as a .txt file. Amino acids displayed in blue represent modification sites. More detailed evidence for these modification sites is presented in the Post-translational Modifications table, located just below the protein sequence.
                </p>
            </h2>
            <hr />
            
        <div class="">
            <p id="sequence_section_message" hidden>This locus is not translated into a protein.</p>
            <div id="sequence_section">
            <label><h3>Strain</h3>
                <select id="strain_selection" class="large-3"></select> - <span id="strain_description"></span>
            </label>

            <div class="panel">
                <pre><blockquote id="sequence_residues"
                                 style="font-family:Monospace; font-size:large"></blockquote></pre>
                <p>* Blue amino acids indicate modification sites. More information below.</p>

                <div class="button-bar">
                    <ul class="button-group radius">
                        <li><a id="sequence_download" class="small button secondary"><i class="fa fa-download"></i>
                            Download Sequence (.fsa)</a></li>
                    </ul>
                </div>
            </div>

            <div id="phosphorylation_sites_wrapper" class="spaced-container">
                <h3>Post-translational Modifications - <span id="phosphorylation_strain"></span>
                    <a href="#" data-dropdown="phosphorylation_info"><i class="fa fa-info-circle"></i></a>

                    <p id="phosphorylation_info" class="f-dropdown content medium" data-dropdown-content>
                        Modification sites for the protein in the selected strain, based on the presence of a residue in the specific strain, as inferred from experimental evidence.
                    </p>
                    <span id="phosphorylation_table_header" class="round secondary label"></span>
                </h3>
                <!-- Includes phosphorylation_table into template -->
                {% set table_id = 'phosphorylation_table' %}
                {% include "phosphorylation_table.jinja2" %}
            </div>

            <div id="physicochemical_props" class="panel">
                <h3>Sequence-Based Physico-chemical Properties - <span id="properties_strain">S288C</span>
                    <a href="#" data-dropdown="properties_info"><i class="fa fa-info-circle"></i></a>

                    <p id="properties_info" class="f-dropdown content medium" data-dropdown-content>
                        Calculated protein properties, including amino acid composition, length, coding
                        region calculations, and atomic composition.
                    </p>
                </h3>

                <div class="row">
                    <div class="small-12 large-6 columns content-column">
                        <h3>Amino Acid Composition</h3>
                        {% set table_id = "amino_acid_table" %}
                        {% include "amino_acid_table.jinja2" %}

                        <ul class="button-group radius">
                            <li><a id="protein_properties_download" class="small button secondary"><i
                                    class="fa fa-download"></i> Download Properties (.txt)</a></li>
                        </ul>
                    </div>
                    <div class="small-12 large-6 columns content-column">
                        <h3>Physical Details</h3>
                        <table class="table table-striped table-bordered table-condensed"
                               id="physical_details_table" width="100%">
                            <tbody>
                            <tr>
                                <td>Length (a.a):</td>
                                <td id="length"></td>
                            </tr>
                            <tr>
                                <td>Molecular Weight (Da):</td>
                                <td id="molecular_weight"></td>
                            </tr>
                            <tr>
                                <td>Isoelectric Point (pl):</td>
                                <td id="pi"></td>
                            </tr>
                            <tr>
                                <td>Formula:</td>
                                <td id="formula"></td>
                            </tr>
                            <tr>
                                <td>Aliphatic Index:</td>
                                <td id="aliphatic_index"></td>
                            </tr>
                            <tr>
                                <td>Instability Index:</td>
                                <td id="instability_index"></td>
                            </tr>
                            </tbody>
                        </table>

                        <h3>Coding Region Translation Calculations</h3>
                        <table class="table table-striped table-bordered table-condensed" id="coding_region_table"
                               width="100%">
                            <tbody>
                            <tr>
                                <td>Codon Bias:</td>
                                <td id="codon_bias"></td>
                            </tr>
                            <tr>
                                <td>Codon Adaptation Index:</td>
                                <td id="cai"></td>
                            </tr>
                            <tr>
                                <td>Frequence of Optimal Codons:</td>
                                <td id="fop_score"></td>
                            </tr>
                            <tr>
                                <td>Hydropathicity of Protein:</td>
                                <td id="gravy_score"></td>
                            </tr>
                            <tr>
                                <td>Aromaticity Score:</td>
                                <td id="aromaticity_score"></td>
                            </tr>
                            </tbody>
                        </table>

                        <h3>Extinction Coefficients at 280nm</h3>
                        <table class="table table-striped table-bordered table-condensed"
                               id="extinction_coeff_table" width="100%">
                            <tbody>
                            <tr>
                                <td>ALL Cys residues appear as half cystines:</td>
                                <td id="all_cys_ext_coeff"></td>
                            </tr>
                            <tr>
                                <td>NO Cys residues appear as half cystines:</td>
                                <td id="no_cys_ext_coeff"></td>
                            </tr>
                            </tbody>
                        </table>

                        <h3>Atomic Composition</h3>
                        {% set table_id = "atomic_table" %}
                        {% include "atomic_table.jinja2" %}
                    </div>
                </div>
            </div>
         </div>
        </div>
    </section>

<!-- External IDs
================================================== -->
   <section id="external_ids" data-magellan-destination="external_ids">
        <h2>External Identifiers 
            <a href="#" data-dropdown="external_id_info"><i class="fa fa-info-circle"></i></a>

            <p id="external_id_info" class="f-dropdown content medium" data-dropdown-content>
                List of external identifiers for the protein from various database sources.
            </p>
            <span id="alias_table_header" class="round secondary label"></span>
        </h2>
        <hr />
            
            <div class="">
                <!-- Includes alias_table into template -->
                {% set table_id = "alias_table" %}
                {% include "alias_table.jinja2" %}
            </div>
    </section>

<!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
        <h2>Resources</h2>
        <hr />
        
        <div class="panel">
            <h3>Homologs</h3>
                <p id='homolog_resources_list'>
                    {% for url in locus.urls if url.category == 'LOCUS_PROTEIN_HOMOLOGS'%}
                        <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </p>
            <h3>Protein Databases</h3>
                <p id='protein_databases_resources_list'>
                    {% for url in locus.urls if url.category == 'LOCUS_PROTEIN_PROTEIN_DATABASES'%}
                        <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </p>
            <h3>Localization</h3>
                <p id="localization_resources_list">
                    {% for url in locus.urls if url.category == 'LOCUS_PROEIN_LOCALIZATION'%}
                        <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </p>
            <h3>Post-translational Modifications</h3>
                <p id="modifications_resources_list">
                    {% for url in locus.urls if url.category == 'LOCUS_PROTEIN_MODIFICATIONS'%}
                        <a href="{{ url.link }}" target="_blank">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </p>
        </div>
    </section>

    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{{asset_root}}/js/build/nouislider.min.js"></script>
<script src="{{asset_root}}/js/build/cytoscape.min.js"></script>
<script src="/static/js/build/arbor.js"></script>
<script src="{{asset_root}}/js/local.js"></script>
<script src="{{asset_root}}/js/cytoscape.js"></script>
<script src="{{asset_root}}/js/evidence.js"></script>
<script src="{{asset_root}}/js/application.js"></script>
<script src="{{asset_root}}/js/protein_details.js"></script>
{% endblock scripts %}
