<!DOCTYPE html>
		
<!-- Summary
================================================== -->
<section id="summary" data-magellan-destination="summary">
	<div class="page-header">
		<h1>Protein Summary</h1>
		<ul class="unstyled">
            {% if locus.aliases|length > 0 %}
                <li>
                    <strong>Aliases: </strong>
                    {% for alias in locus.aliases if alias.category == 'Uniform' %}
                        <span>{{ alias.display_name }}</span>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
                <li><strong>Gene Product: </strong>
                    {% for alias in locus.aliases if alias.category == 'Gene product' %}
                        <span>{{ alias.display_name }}</span>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
            {% endif %}
            <li><strong>Description: </strong>{{ locus.description }}</li>
            <li id="description_references"></li>
            <li id="ec_number"></li>
        </ul>
	</div>
</section>

