<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<title>SGD</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<meta name="keywords" content="python web application" />
	<link rel="shortcut icon" type="image/x-icon" href="/img-domain/favicon.ico" />
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="{{asset_root}}/css/normalize.css" rel="stylesheet">
	<link href="{{asset_root}}/css/style.css" rel="stylesheet">
	<script src="{{asset_root}}/js/build/modernizr.min.js"></script>

</head>
<body>
	{# target for react rendering #}
	<div id="j-application"></div>

	<!-- js -->
	<!-- load jquery from google, with fallback to local copy -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{asset_root}}/js/build/jquery.min.js"><\/script>')</script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script src="{{asset_root}}/js/application.js{{version_qs}}"></script>
	<script>
		views.bundle.render();
	</script>

	<!-- google analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-440742-1', 'yeastgenome.org');
		ga('send', 'pageview');
	</script>

	<script type="text/javascript">
	var clicky_site_ids = clicky_site_ids || [];
	clicky_site_ids.push(66351112);
	(function() {
	 var s = document.createElement('script');
	 s.type = 'text/javascript';
	 s.async = true;
	 s.src = '//static.getclicky.com/js';
	 ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
	})();
	</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66351112ns.gif" /></p></noscript>
</body>
</html>
