{% extends "global_layout.jinja2" %}

{% block title %}{{ reference.display_name }}{% endblock %}

{% block head %}
<script>
    var interaction_details_link = "{{ interaction_details_link }}";
    var regulation_details_link = "{{ regulation_details_link }}";
    var phenotype_details_link = "{{ phenotype_details_link }}";
    var go_details_link = "{{ go_details_link }}";
    var literature_details_link = "{{ literature_details_link }}";

    var download_table_link = "{{ download_table_link }}";
    var analyze_link = "{{ analyze_table_link }}";
    var download_link = "{{ download_citations_link }}";

    var interaction_download_filename = "{{ reference.display_name }}_interactions";
    var interaction_analyze_filename = "{{ reference.display_name }} interaction genes";
    var regulation_download_filename = "{{ reference.display_name }}_regulation";
    var regulation_analyze_filename = "{{ reference.display_name }} regulation genes";
    var phenotype_download_filename = "{{ reference.display_name }}_phenotypes";
    var phenotype_analyze_filename = "{{ reference.display_name }} phenotype genes";
    var go_download_filename = "{{ reference.display_name }}_go_terms";
    var go_analyze_filename = "{{ reference.display_name }} Gene Ontology terms";

    var display_name = "{{ reference.display_name }}";
    var related_reference_count = {{ reference.related_references|length }};
    var counts = {{counts|safe}};

    var locus_id = null;
    var reference_id = {{ reference.id }};
</script>
{% endblock %}

{% block body %}


<div class="row">


<!-- Navbar
================================================== -->
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">
        <div id="title">
            {%  if reference.journal != none %}
                <h2>Reference: <span class="gene_name">{{ (reference.citation|replace(reference.journal.med_abbr, "<em>" + reference.journal.med_abbr + "</em>")|replace(reference.display_name, reference.display_name + "<span class='subheader'>") + "</span>")|safe }}</span></h2>
            {% else %}
                <h2>Reference: <span class="gene_name">{{ (reference.citation|replace(reference.display_name, reference.display_name + "<span class='subheader'>") + "</span>")|safe }}</span></h2>
            {% endif %}
        </div>
        <script>
            add_navbar_title('Reference: <span class="gene_name">{{ reference.display_name }}</span>');
            add_navbar_element('Abstract', 'summary');
            {% if reference.related_references|length > 0 %}
                add_navbar_element('Related References', 'related');
            {% endif %}
            add_navbar_element('Interaction Annotations', 'interaction');
            add_navbar_element('Gene Ontology Annotations', 'go');
            add_navbar_element('Phenotype Annotations', 'phenotype');
            add_navbar_element('Regulation Annotations', 'regulation');
        </script>

<!-- Summary
================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Abstract</h1>
                {%  if reference.abstract != none %}
                    <p>{{ reference.abstract.text|safe}}</p>
                {% else %}
                    <p>SGD does not have an abstract for this paper.</p>
                {% endif %}

                <ul id="ref_links" class="ref-links">
                    {%  if reference.pubmed_id != none %}<li>PMID: {{ reference.pubmed_id }}</li>{% endif %}
                    {% for url in reference.urls %}
                        <li><a href="{{ url.link|e }}">{{ url.display_name|e }}</a></li>
                    {% endfor %}
                </ul>

                <div class="button-bar">
                    <ul class="button-group radius">
                        <li><a id="download_citation" class="small button secondary"><i class="fa fa-download"></i> Download Citation (.nbib)</a></li>
                    </ul>
                </div>

                <ul class="unstyled">
                    <li><strong>Reference Type:</strong>
                        {% for reftype in reference.reftypes %}
                            <span>{{ reftype.display_name }}</span>{% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </li>

                    <li><strong>Authors:</strong>
                        {% for author in reference.authors %}
                            {% if loop.index < 11 %}<span><a href="{{ author.link|e }}">{{ author.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                        {% endfor %}

                        <a id="author_see_more_button" onclick="$('#author_see_more').show();$('#author_see_more_button').hide();$('#author_see_less_button').show();" {% if reference.authors|length <= 10 %}hidden{% endif %}> ... <i class="fa fa-arrow-circle-right"></i> Show all</a>
                        <span id="author_see_more" hidden>
                            {% for author in reference.authors %}
                                {% if loop.index >= 11 %}<span><a href="{{ author.link|e }}">{{ author.display_name|e }}</a></span>{% if not loop.last %}, {% endif %} {% endif %}
                            {% endfor %}
                        </span>
                        <a id="author_see_less_button" onclick="$('#author_see_more').hide();$('#author_see_more_button').show();$('#author_see_less_button').hide();" hidden> <i class="fa fa-arrow-circle-left"></i> Show fewer</a>
                    </li>

                    <li id="primary_list" hidden><strong>Primary Literature For: </strong></li>
                    <li id="additional_list" hidden><strong>Additional Literature For: </strong></li>
                    <li id="review_list" hidden><strong>Review For: </strong></li>
                </ul>
            </div>
        </section>

<!-- Related References
================================================== -->
        {% if reference.related_references|length > 0 %}
            <section id="related" data-magellan-destination="related">
                <div class="page-header">
                    <h1>Related References</h1>
                    <ul class="unstyled">
                        {% for relref in reference.related_references %}
                            <li>
                                <strong>Reference Type:
                                    {% for reftype in relref.reftypes %}
                                        <span>{{ reftype.display_name }}</span>{% if not loop.last %} | {% endif %}
                                    {% endfor %}
                                </strong><br>
                                <a href="{{ relref.link|e }}">{{ relref.display_name|e }}</a>
                                <span>{{ relref.citation|e|replace(relref.display_name, '') }}</span>
                                {% if relref.pubmed_id != none %}
                                    <small>PMID: {{ relref.pubmed_id|e }}</small>
                                {% endif %}
                                <ul class="ref-links">
                                    <li><a href="{{ relref.link|e }}">SGD Paper</a></li>
                                    {% for url in relref.urls %}
                                        <li><a target="_blank" href="{{ url.link|e }}">{{ url.display_name|e }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% if relref.abstract != none %}
                                    <blockquote>{{ relref.abstract.text|safe }}</blockquote>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}

<!-- Interaction
================================================== -->
        <section id="interaction" data-magellan-destination="interaction">
            <div class="page-header">
                <h1>Interaction Annotations <span id="interaction_table_header" class="round secondary label"></span></h1>
                <!-- Includes interaction_table into template -->
                {% set table_id = "interaction_table" %}
                {% include "interaction_table.jinja2" %}
            </div>
        </section>

<!-- GO
================================================== -->
        <section id="go" data-magellan-destination="go">
            <div class="page-header">
                <h1>Gene Ontology Annotations <span id="go_table_header" class="round secondary label"></span></h1>
                <!-- Includes go_table into template -->
                {% set table_id = "go_table" %}
                {% include "go_table.jinja2" %}
            </div>
        </section>

<!-- Phenotype
================================================== -->
        <section id="phenotype" data-magellan-destination="phenotype">
            <div class="page-header">
                <h1>Phenotype Annotations <span id="phenotype_table_header" class="round secondary label"></span></h1>
                <!-- Includes phenotype_table into template -->
                {% set table_id = "phenotype_table" %}
                {% include "phenotype_table.jinja2" %}
            </div>
        </section>

<!-- Regulation
================================================== -->
        <section id="regulation" data-magellan-destination="regulation">
            <div class="page-header">
                <h1>Regulation Annotations <span id="regulation_table_header" class="round secondary label"></span></h1>
                <!-- Includes regulation_table into template -->
                {% set table_id = "regulation_table" %}
                {% include "regulation_table.jinja2" %}
            </div>
        </section>
    </div>
</div>

{% block scripts %}
<script src="/static/js/local.js"></script>
<script src="/static/js/evidence.js"></script>
<script src="/static/js/reference.js"></script>
{% endblock scripts %}

{% endblock body %}
