{% extends "global_layout.jinja2" %}

{% block title %}Literature Recently Added to SGD{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div id="center_title" class="row">
	<h1>Literature Recently Added to SGD</h1>
    <h2 class="subheader" id="dates"></h2>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title("Literature Recently Added to SGD");
            add_navbar_element('References', 'references');
        </script>

<!-- References
================================================== -->
        <section id="references" data-magellan-destination="references">
            <div class="page-header">
                <h2>References <span id="references_header" class="label secondary round"></span></h2>
                <hr />
                {% set reference_list_id = "references_list" %}
                {% set empty_message = "No literature added recently." %}
                {% include "reference_list.jinja2" %}
            </div>
        </section>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/js/references_this_week.js{{version_qs}}"></script>
{% endblock scripts %}

