<a id="{{ reference_list_id }}_download" class="small radius button secondary"><i class="fa fa-download"></i> Download References
    (.nbib)</a>
<ul id="{{ reference_list_id }}" class="literature-list">
</ul>