<p id="{{ reference_list_id }}_empty_message" hidden>{{ empty_message }}</p>
<div id="{{ reference_list_id }}_wrapper">
    <a id="{{ reference_list_id }}_download" class="small radius button secondary"><i class="fa fa-download"></i>
        Download References (.nbib)</a>
    <br>
    <br>
    <ul id="{{ reference_list_id }}" class="literature-list">
    </ul>
</div>
