{% extends "table.jinja2" %}

{% block columns %}
    <th hidden>Evidence ID</th>
    <th hidden>Analyze ID</th>
    <th>Regulator</th>
    <th hidden>Regulator Systematic Name</th>
    <th>Target</th>
    <th hidden>Target Systematic Name</th>
    <th>Experiment</th>
    <th>Assay</th>
    <th>Construct</th>
    <th>Conditions</th>
    <th>Strain Background</th>
    <th>Reference</th>
{% endblock %}

{% block additional_buttons %}{% endblock %}
