{% extends "network.jinja2" %}

{% block help %}
    Click on a gene to go to its specific page within SGD; drag any of the gene objects around within the visualization
    for easier viewing; filter by Targets or Regulators using the radio buttons; click “Reset” to automatically redraw
    the diagram; the caption below the diagram indicates how many experiments support the regulatory relationships.
{% endblock %}

{% block legend %}

    <div id="discrete_filter">
        <label><strong>Filter Regulatory Relationships by Action</strong></label>
        <input type="radio" name="group1" id="all_radio" checked><label for="all_radio">All</label>
        <input type="radio" name="group1" id="positive_radio"><label for="positive_radio">Positive Regulation</label>
        <input type="radio" name="group1" id="negative_radio"><label for="negative_radio">Negative Regulation</label>
    </div>

    <p id="legend"></p>

{% endblock %}

{% block additional_buttons %}{% endblock %}