{% extends "network.jinja2" %}

{% block help %}
    Click on a gene to go to its specific page within SGD; drag any of the gene objects around within the visualization
    for easier viewing; filter by Targets or Regulators using the radio buttons; click “Reset” to automatically redraw
    the diagram; the caption below the diagram indicates how many experiments support the regulatory relationships.
{% endblock %}

{% block legend %}

    <div id="discrete_filter" hidden>
        <label><strong>Filter Genes by Type</strong></label>
        <input type="radio" name="group1" id="all_radio" checked><label for="all_radio">All</label>
        <input type="radio" name="group1" id="targets_radio"><label for="targets_radio">Targets</label>
        <input type="radio" name="group1" id="regulators_radio"><label for="regulators_radio">Regulators</label>
    </div>

    <p>Showing regulatory relationships supported by at least <span id="min_evidence_count"></span> experiment<span
            id='plural'>s</span>.</p>
{% endblock %}

{% block additional_buttons %}{% endblock %}