{% extends "network.jinja2" %}

{% block help %}
    Click on a gene to go to its specific page within SGD; drag any of the gene objects around within the visualization
    for easier viewing; filter by Targets or Regulators using the radio buttons; click “Reset” to automatically redraw
    the diagram; the caption below the diagram indicates how many experiments support the regulatory relationships.
{% endblock %}

{% block legend %}
    <div id="discrete_filter" hidden>
        <label for="all_radio">
            <input id="all_radio" type="radio" name="group1" checked> All
        </label>
        <label for="targets_radio">
            <input id="targets_radio" type="radio" name="group1"> Targets
        </label>
        <label for="regulators_radio">
            <input id="regulators_radio" type="radio" name="group1"> Regulators
        </label>
    </div>

    <h3>Showing regulatory relationships supported by at least <span id="min_evidence_count"></span> experiment<span
            id='plural'>s</span>.</h3>
    <div id="slider" class="noUiSlider" style="width:100%" hidden></div>
    <div id="slider_ticks" hidden></div>
    <br>
{% endblock %}

{% block additional_buttons %}{% endblock %}