<!-- Regulation
================================================== -->

<table class="table table-striped table-bordered table-condensed" id="{{ table_id }}">
    <thead>
    <tr>
        <th hidden>Evidence ID</th>
        <th hidden>Analyze ID</th>
        <th>Regulator</th>
        <th hidden>Regulator Systematic Name</th>
        <th>Target</th>
        <th hidden>Target Systematic Name</th>
        <th>Experiment</th>
        <th>Assay</th>
        <th>Construct</th>
        <th>Conditions</th>
        <th>Strain Background</th>
        <th>Reference</th>
    </tr>
    </thead>
</table>

<div class="button-bar">
    <ul class="button-group radius">
        <li><a id="{{ table_id }}_download" class="small button secondary"><i
                class="fa fa-download"></i> Download (.txt)</a></li>
    </ul>

    <ul class="button-group radius">
        <li><a id="{{ table_id }}_analyze" class="small button secondary"><i
                class="fa fa-briefcase"></i> Analyze</a></li>
    </ul>
</div>

