{% extends "lite_layout.jinja2" %}

{% block title %}Search{% endblock %}

{% block body %}

<div class="sgd-loader-container">
	<div class="sgd-loader">
	</div>
</div>

{% endblock body %}

{% block scripts %}
<script>
	views.router.render();
</script>
{% endblock scripts %}
