{% extends "lite_layout.jinja2" %}

{% block title %}Search{% endblock %}

{% block body %}

<div class="row">
	<div class="small-12 columns content-column">
		<div class="sgd-loader-container"><div class="sgd-loader"></div></div>
	</div>
</div>

{% endblock body %}

{% block scripts %}
<script>
	views.router.render();
</script>
{% endblock scripts %}
