
<dl class="key-value">
                {% for alias in locus.aliases if alias.category == 'Alias' %}
                    {% if loop.first %}<dt>Aliases</dt><dd>{% endif %}

                    {{ alias.display_name }}
                    {% set label = "alias" %}
                    {% set references = alias.references %}
                    {%- include "biblio_references.jinja2" -%}

                    {% if not loop.last %},{% else %}</dd>{% endif %}
                {% endfor %}

                <dt>Feature Type</dt>
                <dd>{{ locus.locus_type }}
                    {% if 'feature_type' in locus.qualities %}
                        {% set label = "feature_type" %}
                        {% set references = locus.qualities.feature_type.references %}
                        {% include "biblio_references.jinja2" %}
                    {% endif %}

                    {% if locus.qualifier != None %}, {{ locus.qualifier }}{% endif %}
                    {% if 'qualifier' in locus.qualities %}
                        {% set label = "qualifier" %}
                        {% set references = locus.qualities.qualifier.references %}
                        {% include "biblio_references.jinja2" %}
                    {% endif %}
                </dd>                </dd>

                <dt>Description</dt>
                <dd>
                    {{ locus.description }}
                    {% if 'description' in locus.qualities %}
                        {% set label = "description" %}
                        {% set references = locus.qualities.description.references %}
                        {% include "biblio_references.jinja2" %}
                    {% endif %}
                </dd>

                {% if locus.paralogs|length > 0 %}
                    <dt>Paralog</dt>
                    <dd>
                    {% for paralog in locus.paralogs %}
                        <a href="{{ paralog.child.link }}">{{ paralog.child.display_name }}</a>
                        {% set label = "paralog" %}
                        {% set references = paralog.references %}
                        {% include "biblio_references.jinja2" %}

                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </dd>
                {% endif %}
</dl>