
<div id="reference_contig"></div>
<div id="reference_label_chart"></div>
<h2 class="subheader">Subfeatures <span id="subfeature_table_header" class="round secondary label"></span> - S288C</h2>
<div id="reference_sublabel_chart"></div>

<!-- Includes chromosomal_coord_table into template -->
{% set table_id = "subfeature_table" %}
<h2 class="subheader">Chromosomal coordinates</h2>
{% include "chromosomal_coord_table.jinja2" %}