{% extends "global_layout.jinja2" %}

{% block title %}{{ locus.display_name }} Sequence{% endblock %}

{% block head %}
<script>
	var sequence_details_link = "{{sequence_details_link}}";
    var neighbor_sequence_details_link = "{{neighbor_sequence_details_link}}";
	var download_table_link = "{{download_table_link}}";
    var download_sequence_link = "{{download_sequence_link}}";
	var analyze_link = "{{analyze_table_link}}";

	var display_name = "{{ locus.display_name }}";
	var locus_id = "{{ locus.id }}";
</script>
{% endblock %}

{% block body %}

<div id="center_title" class="row">
	<h1><span class="gene_name">{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }} / {{ locus.format_name }}{% endif %}</span></h1>
</div>

<!-- Tabs
================================================== -->
<!-- Includes tabs.html into template -->
{% include "tabs.jinja2" %}
<script>document.getElementById('sequence_tab').id = 'current';</script>

<!-- Navbar
================================================== -->
<div class="row">
	
    <!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            //Set up navbar
            add_navbar_title('<a href="{{ locus.link }}">{% if locus.display_name == locus.format_name %}{{ locus.display_name }}{% else %}{{ locus.display_name }} / {{ locus.format_name }}{% endif %}</a><br> Sequence');
            add_navbar_element('Sequence Overview', 'overview');
            add_navbar_element('Reference Strain: S288C', 'reference');
            add_navbar_element('Alternative Reference Strains', 'alternative');
            add_navbar_element('Other Strains', 'other');
            add_navbar_element('Resources', 'resources');
        </script>

        <!-- Summary
================================================== -->
        <section id="overview" data-magellan-destination="overview">
            <div class="page-header">
                <a href="/help/sequence" name="top" class="documentation-link">Sequence Help <i class="fa fa-question-circle"></i></a>
                <h2>Sequence Overview
                    <a href="#" data-dropdown="overview_info"><i class="fa fa-info-circle"></i></a>

                    <p id="overview_info" class="f-dropdown content medium" data-dropdown-content>
                       Sequences and genome annotation information for Reference Strain S288C and a select set of
                        Alternative References.
                    </p>
                </h2>
                <!-- Includes sequence_overview into template -->
                {% include "sequence_overview.jinja2" %}
            </div>
        </section>

        <!-- S288C
================================================== -->
        <section id="reference" data-magellan-destination="reference">
            <div class="page-header">
                <h2>Reference Strain: S288C
                    <a href="#" data-dropdown="reference_info"><i class="fa fa-info-circle"></i></a>

                    <p id="reference_info" class="f-dropdown content medium" data-dropdown-content>
                       The <i>S. cerevisiae</i> reference genome sequence is derived from laboratory strain S288C.
                    </p>
                </h2>
                <h3 class="subheader">Location - S288C
                    <a href="#" data-dropdown="reference_location_help"><i class="fa fa-question-circle"></i></a>

                    <p id="reference_location_help" class="f-dropdown content medium" data-dropdown-content>
                       Depicts genomic context; mouse over to view names, coordinates, and brief descriptions. Use the
                        links to GBrowse and ORF Map for an interactive view of this region.
                    </p>
                </h3>
                <div class="clearfix">
                    <div id="reference_contig" class="left"></div>
                    <div class="right">
                        View in:
                        {% for url in locus.urls if url.category == 'LOCUS_SEQUENCE' and (url.display_name == 'GBrowse' or url.display_name == 'ORF Map') %}
                            <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </div>
                </div>
            <br>
                <div id="reference_label_chart"></div>
                <h3 class="subheader">Subfeatures - S288C <span id="subfeature_table_header" class="round secondary label"></span></h3>
                <div id="reference_sublabel_chart"></div>

                <!-- Includes chromosomal_coord_table into template -->
                {% set table_id = "subfeature_table" %}
                {% set include_relative = True %}
                {% set include_version = True %}
                {% include "chromosomal_coord_table.jinja2" %}

                <h3 class="subheader">Sequence - S288C
                    <a href="#" data-dropdown="reference_sequence_help"><i class="fa fa-question-circle"></i></a>

                    <p id="reference_sequence_help" class="f-dropdown content medium" data-dropdown-content>
                       Use the pulldown menu to view genomic DNA, coding DNA, or protein sequence for the selected
                        strain, whenever available. Download the sequence as a .txt file using the Download button just
                        below the sequence.
                    </p>
                </h3>
                <select id="reference_chooser" class="large-3">
                    <option value="genomic_dna">Genomic DNA</option>
                    <option value="coding_dna">Coding DNA</option>
                    <option value="protein">Protein</option>
                </select>
                <ul id="reference_legend" class="ref-links"></ul>
                <pre><blockquote id="reference_sequence" style="font-family:Monospace"></blockquote></pre>
                <div class="button-bar">
                    <ul class="button-group radius">
                        <li><a id="reference_download" class="small button secondary"><i class="fa fa-download"></i> Download (.txt)</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Alternative Reference
================================================== -->
        <section id="alternative" data-magellan-destination="alternative">
            <div class="page-header">
                <h2>Alternative Reference Strains
                    <a href="#" data-dropdown="alternative_info"><i class="fa fa-info-circle"></i></a>

                    <p id="alternative_info" class="f-dropdown content medium" data-dropdown-content>
                       Alternative Reference strains are major laboratory yeast strains with a substantial history of
                        use and experimental results. These strains include W303, Sigma1278b, SK1, SEY6210, CEN.PK,
                        D273-10B, JK9-3d, FL100, RM11-1a, and Y55.
                    </p>
                </h2>
                <label><h3>Strain</h3>
                    <select id="alternative_strain_selection" class="large-3"></select> - <span id="alternative_strain_description"></span>
                </label>
                <h3 class="subheader">Location - <span id="current_alternative_strain_location"></span>
                     <a href="#" data-dropdown="alternative_location_help"><i class="fa fa-question-circle"></i></a>

                    <p id="alternative_location_help" class="f-dropdown content medium" data-dropdown-content>
                       Depicts genomic context; mouse over to view names, coordinates, and brief descriptions.
                    </p>
                </h3>
                <div id="alternative_contig"></div>
                <br>
                <div id="alternative_label_chart"></div>
                <h3 class="subheader">Sequence - <span id="current_alternative_strain_sequence"></span>
                    <a href="#" data-dropdown="alternative_sequence_help"><i class="fa fa-question-circle"></i></a>

                    <p id="alternative_sequence_help" class="f-dropdown content medium" data-dropdown-content>
                       Use the pulldown menu to view genomic DNA, coding DNA, or protein sequence for the selected
                        strain, whenever available. Download the sequence as a .txt file using the Download button just
                        below the sequence.
                    </p>
                </h3>
                <select id="alternative_chooser" class="large-3">
                    <option value="genomic_dna">Genomic DNA</option>
                    <option value="coding_dna">Coding DNA</option>
                    <option value="protein">Protein</option>
                </select>
                <pre><blockquote id="alternative_sequence" style="font-family:Monospace"></blockquote></pre>
                <div class="button-bar">
                    <ul class="button-group radius">
                        <li><a id="alternative_download" class="small button secondary"><i class="fa fa-download"></i> Download (.txt)</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Other
================================================== -->
        <section id="other" data-magellan-destination="other">
            <div class="page-header">
                <h2>Other Strains
                    <a href="#" data-dropdown="other_info"><i class="fa fa-info-circle"></i></a>

                    <p id="other_info" class="f-dropdown content medium" data-dropdown-content>
                       Other laboratory, industrial, and environmental isolates; sequences available via the Download
                        button.
                    </p>
                </h2>
                <label><h3>Strains Available for Download
                    <a href="#" data-dropdown="other_sequence_help"><i class="fa fa-question-circle"></i></a>

                    <p id="other_sequence_help" class="f-dropdown content medium" data-dropdown-content>
                       Select a strain using the pull-down in order to download its sequence as a .txt file using the
                        Download button located directly below.
                    </p>
                </h3>
                    <select id="other_strain_selection" class="large-3"></select> - <span id="other_strain_description"></span>
                </label>
                <div class="button-bar">
                    <ul class="button-group radius">
                        <li><a id="other_download" class="small button secondary"><i class="fa fa-download"></i> Download (.txt)</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Resources
================================================== -->
        <section id="resources" data-magellan-destination="resources">
            <div class="page-header">
                <h2>Resources</h2>
                <p id='resources_list'>
                    {% for url in locus.urls if url.category == 'LOCUS_SEQUENCE'%}
                        <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </p>

                {% for url in locus.urls if url.category == 'LOCUS_SEQUENCE_S288C'%}
                    {% if loop.first %}<h3>S288C only</h3><p id="reference_only_resources_list">{% endif %}
                    <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% else %} </p> {% endif %}
                {% endfor %}


                {% for url in locus.urls if url.category == 'LOCUS_SEQUENCE_OTHER_SPECIES'%}
                    {% if loop.first %}<h3>S288C vs. other species</h3> <p id="other_species_resources_list">{% endif %}
                    <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% else %} </p> {% endif %}
                {% endfor %}


                {% for url in locus.urls if url.category == 'LOCUS_SEQUENCE_OTHER_STRAINS'%}
                    {% if loop.first %}<h3>S288C vs. other strains</h3><p id="other_strains_resources_list">{% endif %}
                    <a href="{{ url.link }}">{{ url.display_name }}</a>{% if not loop.last %} | {% else %} </p> {% endif %}
                {% endfor %}
            </div>
        </section>

    </div>
</div>

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script src="/static/js/sequence_details.js"></script>
{% endblock scripts %}

{% endblock body %}
