{% extends "lite_layout.jinja2" %}

{% block title %} Saccharomyces cerevisiae Genome Overview{% endblock %}

{% block body %}

<div class="row">
	<div class="navbar-container large-3 columns hide-for-medium-down">
	</div>

	<div class="small-12 large-9 columns content-column j-main">
		<a name="genomeInventory"></a>
		<div class="row genome-snapshot" id="genome-inventory">
			<div class="large-12 columns">
				<a class="details-link" href="http://www.yeastgenome.org/help/general-help/genome-snapshot">Help <i class="fa fa-question-circle"></i></a>
				<h2><i>Saccharomyces cerevisiae</i> Genome Snapshot</h2>
				<hr />

				<p>
					The Genome Snapshot, updated daily, provides information on the annotation status of the <i>Saccharomyces cerevisiae</i> genome. All data displayed on this page are available in one or more files on <a href="http://www.yeastgenome.org/download-data/curation">SGD’s download site</a>. The <a href="http://yeastmine.yeastgenome.org/yeastmine/begin.do">YeastMine</a> tool can be used to retrieve chromosomal features that match specific criteria.
				</p>

				<h2>Genome Inventory<span class="date-container"></span></h2>
				<hr />

				<p>
					There are two options to view genomic features: a graph and a table. The graphical view illustrates the number and types of features annotated in SGD, across the entire genome. Graphs showing chromosomal features annotated on each chromosome can be seen by clicking ‘Show by Chromosome’ below. A table displaying the number and types of features annotated per chromosome can be accessed by selecting the ‘Table’ tab.
				</p>

				<h2>
					Features by Type
					<a href="#" data-dropdown="feature_info"><i class="fa fa-info-circle"></i></a>
		            <p id="feature_info" class="f-dropdown content medium" data-dropdown-content>
						Information specific to individual chromosomes can be accessed by selecting the chromosome of interest. For a list of all features of a certain type (e.g. verified ORF, tRNA, etc.), select that chromosomal feature.
		            </p>
				</h2>
				<div class="genome-snapshot-target sgd-viz">
					<div class="panel sgd-viz genome-snapshot-panel">
						<img class="loader" src="/static/img/dark-slow-wheel.gif" />
					</div>
				</div>
			</div>
		</div>

		<a name="goAnnotations"></a>
		<div class="row go-snapshot" id="go-annotations">
			<div class="large-12 columns">
				<h2>
					Summary of Gene Ontology (GO) Annotations<span class="date-container"></span>
				</h2>
				<hr />
				<p>
					These graphs represent the state of Gene Ontology (GO) annotation of the entire genome using GO slims, which are high-level subsets of GO terms that allow grouping of genes into broad categories. Each graph represents a single aspect of GO, such as Biological Process (BP), Molecular Function (MF), or Cellular Component (CC). The radio buttons can be used to access the bar graphs for MF and CC.  The GO slim terms are listed, along with the number of gene products annotated to that term or to a child of that term. Only annotations made by manually curated and high-throughput methods are included. Note that some gene products are annotated to one or more GO terms that map to more than one GO slim term. The GO data summarized in these graphs below are available in the go_slim_mapping.tab file on <a href="http://www.yeastgenome.org/download-data/curation">SGD's Downloads Site</a>.
				</p>
				<div class="go-snapshot-target sgd-viz panel">
					<img class="loader" src="/static/img/dark-slow-wheel.gif" />
				</div>
			</div>
		</div>

		<a name="phenotypeAnnotations"></a>
		<div class="row phenotype-snapshot" id="phenotype-annotations">
			<div class="large-12 columns">
				<h2>Summary of Phenotype Annotations<span class="date-container"></span></h2>
				<hr />
				<p>
					This bar graph represents the state of phenotype annotations for the entire <i>S. cerevisiae</i> genome using a phenotype slim (i.e., a high-level subset of phenotype terms). This subset allows phenotypes to be grouped into broad categories. More information about phenotype annotation and the ontology can be found on SGD’s <a href="http://www.yeastgenome.org/help/function-help/phenotypes">phenotype help page</a>. All the phenotype data summarized on this graph can be found in our <a href="http://www.yeastgenome.org/download-data/curation">phenotype_data.tab</a> file.
				</p>
				<div class="phenotype-snapshot-target sgd-viz panel">
					<img class="loader" src="/static/img/dark-slow-wheel.gif" />
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body %}

{% block scripts %}
<script src="{{asset_root}}/js/application.js"></script>
<script>
	views.snapshot.render();
</script>
{% endblock scripts %}
