<ul class='large-social-links show-for-large-up'>
  <li><a href='/suggestion' target='_blank' id='email-header' class='webicon mail medium'>Email Us</a></li>
  <li><a href='http://twitter.com/#!/yeastgenome' target='_blank' id='twitter' class='webicon twitter medium'>Twitter</a></li>
  <li><a href='https://www.facebook.com/pages/Saccharomyces-Genome-Database-SGD/139140876128200' target='_blank' class='webicon facebook medium' id='facebook'>Facebook</a></li>
  <li><a href='https://www.linkedin.com/company/saccharomyces-genome-database' target='_blank' class='webicon linkedin medium' id='linkedin'>Linkedin</a></li>
  <li><a href='https://www.youtube.com/SaccharomycesGenomeDatabase' target='_blank' id='youtube' class='webicon youtube medium'>YouTube</a></li>
  <li><a href='/feed' target='_blank' id='rss' class='webicon rss medium'>RSS</a></li>
</ul>
