{% extends "global_layout.jinja2" %}

{% block title %}{{ strain.display_name }}{% endblock %}

{% block head %}
<script>
    var display_name = "{{ strain.display_name }}";
    var paragraph = {{ paragraph| safe }};
</script>
{% endblock %}

{% block body %}

<div id="center_title" class="row">
	<h2>Strain: <span class="gene_name">{{ strain.display_name }}</span></h2>
</div>

<!-- Navbar
================================================== -->
<div class="row">
	
<!-- Includes navbar.html into template -->
    {% include "navbar.jinja2" %}

    <div class="small-12 large-9 columns content-column">

        <script>
            add_navbar_title('Strain: <span class="gene_name">{{ strain.display_name }}</span>');
            add_navbar_element('Summary', 'summary');
            {% if strain.urls|length > 0 %}
                add_navbar_element('Resources', 'resources');
            {% endif %}
        </script>

        <!-- Summary
        ================================================== -->
        <section id="summary" data-magellan-destination="summary">
            <div class="page-header">
                <h1>Summary</h1>
                <p id="summary_paragraph"></p>
                <ul id="summary_paragraph_reference_list" class="literature-list"></ul>
                <ul class="unstyled">
                    <li><strong>Status: </strong> {{ strain.status }}</li>
                    <li><strong>Genotype: </strong> {{ strain.genotype|safe }}</li>
                    <li><strong>Description: </strong>{{ strain.description }}</li>
                </ul>
            </div>
        </section>

        <!-- Resources
================================================== -->
        {% if strain.urls|length > 0 %}
            <section id="resources" data-magellan-destination="resources">
                <div class="page-header">
                    <h1>Resources</h1>
                    <ul id="resource_list">
                        {% for resource in strain.urls if resource.category != 'source' %}
                            <a href="{{ resource.link }}">{{ resource.display_name }}</a>{% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </ul>

                    {% for resource in strain.urls if resource.category == 'source' %}
                        {% if loop.first %}<h3>Sources</h3>{% endif %}
                        <a href="{{ resource.link }}">{{ resource.display_name }}</a>{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
</div>

{% block scripts %}
<script src="/static/js/local.js"></script>
<script src="/static/js/strain.js"></script>
{% endblock scripts %}

{% endblock body %}
