{% extends "lite_layout.jinja2" %}

{% block title %}SGD Suggestions and Questions{% endblock %}

{% block body %}
<script src="https://www.google.com/recaptcha/api.js"></script>

<div class="row">
	<div id="j-main" class="small-12 columns content-column sgd-viz">
		<img class="loader" src="/static/img/dark-slow-wheel.gif" />
	</div>
</div>

{% endblock body %}

{% block scripts %}
<script>
	views.suggestion.render();
</script>
{% endblock scripts %}
