<div class="row">
	<nav id="tabs" class="small-12 columns">
		<ul class="sgd-tabs">
			<li id="summary_tab" {% if not tabs['summary_tab'] %} style="display:none" {% endif %}><a href="/locus/{{ locus.sgdid }}/overview">Summary</a></li>
			<li id="go_tab" {% if not tabs['go_tab'] %} style="display:none" {% endif %}><a href="/locus/{{ locus.sgdid }}/go">Function</a></li>
			<li id="phenotype_tab" {% if not tabs['phenotype_tab'] %} style="display:none" {% endif %}><a href="/locus/{{ locus.sgdid }}/phenotype">Phenotype</a></li>
			<li id="literature_tab" {% if not tabs['literature_tab'] %} style="display:none" {% endif %}><a href="/locus/{{ locus.sgdid }}/literature">Literature</a></li>
            <li id="interaction_tab" {% if not tabs['interaction_tab'] %} style="display:none" {% endif %}><a href="/locus/{{ locus.sgdid }}/interaction">Interactions</a></li>
			<li id="expression_tab" {% if not tabs['expression_tab'] %} style="display:none" {% endif %}><a href="http://www.yeastgenome.org/cgi-bin/expression/expressionConnection.pl?type=summary&locus={{ locus.sgdid }}">Expression</a></li>
			<li id="regulation_tab" {% if not tabs['regulation_tab'] %} style="display:none" {% endif %}><a href="/locus/{{ locus.sgdid }}/regulation">Regulation</a></li>
			<li id="protein_tab" {% if not tabs['protein_tab'] %} style="display:none" {% endif %}><a href="/locus/{{ locus.sgdid }}/protein">Protein</a></li>
		</ul>
	</nav>
</div>
