{% extends "lite_layout.jinja2" %}

{% block title %}Saccharomyces Genome Database{% endblock %}


{% block body %}
<div class="row">
    <div class="medium-6 columns">
        <div id="slide-show" style="z-index:1">
            <ul data-orbit id="slides" data-options="animation:slide; pause_on_hover:true;">
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2015/10/Guidi_yAT1684-7-days-YPD-l60-12RGB.jpg">
                    <div class="orbit-caption">
                        <b>Rap1-GFP and Calcofluor White staining of stationary phase cells.</b><br>
                        <span class="credits">Image courtesy of M. Guidi, M. Ruault and A. Taddei, Institut Curie (Paris).</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2015/09/pma1vma1_5.jpg">
                    <div class="orbit-caption">
                        <b>Pma1-mCherry and Vma1-GFP localization in mitotic cells.</b><br>
                        <span class="credits">Image courtesy of M. Eastwood, Fred Hutch and M. Meneghini, University of Toronto.</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2015/08/sgd_mitoloc.jpg">
                    <div class="orbit-caption">
                        <b>CCCP-induced decrease of mitochondrial membrane potential (below) or control treatment (above) as measured by MitoLoc.</b><br>
                        <span class="credits">Image courtesy of Dr. Jakob Vowinckel, Ralser Lab, University of Cambridge.</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2015/08/HuangHopper.jpg">
                    <div class="orbit-caption">
                        <b>Redistribution of Msn5 pools from the nucleus to the cytoplasm upon glucose deprivation.</b><br>
                        <span class="credits">Image courtesy of H. Huang and A. Hopper, Ohio State University.</span>
                    </div>
                </li>
                <li>
                    <img src="wp-content/uploads/2014/03/Floccule.jpg" alt="slideshow24-new">
                    <div class="orbit-caption">
                        <b>Floccule of yeast rho0 cells expressing PTS1-GFP as a peroxisomal marker, stained with calcofluor white.</b><br>
                        <span class="credits">Image courtesy of Dr. Jakob Vowinckel, University of Cambridge</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2015/08/yeastmembraneproteinsRFPGFP.jpg">
                    <div class="orbit-caption">
                        <b><i>S. cerevisiae</i> membrane proteins visualized by RFP and GFP.</b><br>
                    <span class="credits">Image courtesy of Masur. Wikimedia Commons.</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2015/05/Figure-2B-big2.jpg">
                    <div class="orbit-caption">
                        <b>Peroxisome (red) and mitochondrial (green) fission defects in vps1 fis1 double deletion strain transformed with FIS1.</b><br>
                    <span class="credits">Image courtesy of S. Lefevre, S. Kumar and I. van der Klei, University of Groningen.</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2015/06/pYEX_TRK1_GFP_fl_and_bf_2.jpg">
                    <div class="orbit-caption">
                        <b>Yeast cells expressing TRK1/GFP.</b><br>
                    <span class="credits">Image courtesy of V. Zayats and J. Ludwig, Center of Nanobiology and Structural Biology, AV CR.</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2015/02/mtDNA.jpg">
                    <div class="orbit-caption">
                        <b>The distribution of mtDNA (green) within the mitochondrial network (red).</b><br>
                    <span class="credits">Image courtesy of Christof Osman and Peter Walter, University of California, San Francisco</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2015/08/Sec12redandSec13green.jpg">
                    <div class="orbit-caption">
                        <b>The distribution of ER exit sites (ERES, green) within the ER (red).</b><br>
                    <span class="credits">Image courtesy of A. Nakano and K. Kurokawa, RIKEN.</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2015/04/Okada_Ohya_hpslideshow_2.png">
                    <div class="orbit-caption">
                        <b>Cell, actin and nuclear morphology of yeast cells treated with DMSO (left) and poacic acid (right).</b><br>
                    <span class="credits">Images courtesy of Hiroki Okada and Yoshikazu Ohya, University of Tokyo.</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2014/02/Colombo-S-and-Martegani-E.jpg" alt="Colombo S and Martegani E">
                    <div class="orbit-caption">
                        <b>Localization of active Ras in a wild type strain</b><br>
                    <span class="credits">Image courtesy of S. Colombo and E. Martegani, University Milano Bicocca</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2014/02/SectoredColonies.jpg" alt="Sectored Colonies">
                    <div class="orbit-caption">
                        <b>Sectored colonies showing loss of silencing at the HML locus</b><br>
                    <span class="credits">Image courtesy of Anne Dodson, UC Berkeley</span>
                    </div>
                </li>
                <li>
                        <img src="http://yeastgenome.org/wp-content/uploads/2014/01/PMA1_t23crop.jpg" alt="Pma1p imaged using the RITE tagging system in mother (green) and daughter cells (red)">
                        <div class="orbit-caption">
                            <b>Pma1p imaged using the RITE tagging system in mother (green) and daughter cells (red)</b><br>
                        <span class="credits">Image courtesy of Dan Gottschling Ph.D., Fred Hutchinson Cancer Research Center</span>
                  </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2014/01/slideshow20-new.jpg" alt="Lipid droplets in fld1 mutant images by CARS">
                    <div class="orbit-caption">
                        <b>Lipid droplets in <i>fld1</i> mutant images by CARS</b><br>
                        <span class="credits">Image courtesy of Heimo Wolinski, Ph.D. and Sepp D. Kohlwein, Ph.D., University of Graz, Austria</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2014/01/slideshow12-new.jpg" alt="Fpr3p accumulation in the nucleolus of S. cerevisiae">
                    <div class="orbit-caption">
                        <b>Fpr3p accumulation in the nucleolus of <i>S. cerevisiae</i></b><br>
                        <span class="credits">Image courtesy of Amy MacQueen, Ph.D., Wesleyan University<br>
anti-Fpr3 antibody courtesy of Jeremy Thorner, Ph.D., UC Berkeley</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2014/01/slideshow11-new.jpg" alt="San1 strain visualized with FUN and calcofluor white">
                    <div class="orbit-caption">
                        <b>San1 strain visualized with FUN and calcofluor white</b><br>
                        <span class="credits">Image courtesy of the Bruschi lab, ICGEB, Trieste, Italy</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2014/01/slideshow13-new.jpg" alt="Single MDN1 mRNAs detected by FISH">
                    <div class="orbit-caption">
                        <b>Single <i>MDN1</i> mRNAs detected by FISH</b><br>
                        <span class="credits">Image courtesy of the Zenklusen Lab, Université de Montréal</span>
                    </div>
                </li>
                <li>
                    <img src="http://yeastgenome.org/wp-content/uploads/2014/01/slideshow21-new.jpg" alt="Localization of Ace2-GFP to daughter cell nuclei">
                    <div class="orbit-caption">
                        <b>Localization of Ace2-GFP to daughter cell nuclei</b><br>
                        <span class="credits">Image courtesy of Eric Weiss, Ph.D. Northwestern University</span>
                    </div>
                </li>
            </ul>
        </div><!-- #slideshow -->
    </div> <!-- left -->
    <div class="columns medium-6">
        <div id="leftcontent">
            <h2>About SGD</h2>
            <p>The <em>Saccharomyces</em> Genome Database (SGD) provides comprehensive integrated biological information for the budding yeast <em>Saccharomyces cerevisiae</em> along with search and analysis tools to explore these data, enabling the discovery of functional relationships between sequence and gene products in fungi and higher organisms.</p>
            <img class="awesome-yeast-image" src="https://d1dx7s2t1jbvin.cloudfront.net/static/awesome_yeast.png"/>
        </div>
    </div>
</div><!-- row -->
<div>
    <div class="row">
        <div class="columns medium-6">
            <h1>Meetings</h1>
            <p>no meetings</p>
        </div>
        <div class="columns medium-6">
            <h1>News</h1>
            <p>no news</p>
        </div>
    </div>
</div>

{% endblock body %}
