{% extends "lite_layout.jinja2" %}

{% block title %}Variant Viewer{% endblock %}

{% block body %}

<div class="row">
	<div id="j-main" class="small-12 columns content-column sgd-viz s-nextgen">
		<div class="sgd-loader-container"><div class="sgd-loader"></div></div>
	</div>
</div>

{% endblock body %}

{% block scripts %}
<script src="{{asset_root}}/js/application.js"></script>
<script>
	views.variantViewer.render();
</script>
{% endblock scripts %}
